<div class="ui-g-12">

    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h3> Add TitanUser </h3>
        <br />
        <p-panel>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        User Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="userName" name="username" pInputText [(ngModel)]="username" placeholder="User Name" minlength="3" #titanUserDetailsUserNameRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="titanUserDetailsUserNameRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="titanUserDetailsUserNameRef.errors?.minlength">
                            (MinLength-3)

                        </div>

                    </div>
                </div>
                
                 <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        First Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="firstName" name="firstName" pInputText [(ngModel)]="firstName" placeholder="First Name" minlength="3" #titanUserDetailsFirstNameRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="titanUserDetailsFirstNameRef.errors?.required">
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="titanUserDetailsFirstNameRef.errors?.minlength">
                            (MinLength-3)

                        </div>

                    </div>
                </div>

                 <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Last Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="lastName" name="lastName" pInputText [(ngModel)]="lastName" placeholder="Last Name" minlength="3" #titanUserDetailsLastNameRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="titanUserDetailsLastNameRef.errors?.required">
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="titanUserDetailsLastNameRef.errors?.minlength">
                            (MinLength-3)

                        </div>

                    </div>
                </div>

                 <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Display Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="displayName" name="displayName" pInputText [(ngModel)]="displayName" placeholder="Display Name" minlength="3" #titanUserDetailsDisplayNameRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="titanUserDetailsDisplayNameRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="titanUserDetailsDisplayNameRef.errors?.minlength">
                            (MinLength-3)

                        </div>

                    </div>
                </div>

                 <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Email Address * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="emailAddress" name="emailAddress" pInputText [(ngModel)]="emailAddress" placeholder="Email Address" minlength="3" #titanUserDetailsEmailAddressRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="titanUserDetailsEmailAddressRef.errors?.required">

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="titanUserDetailsEmailAddressRef.errors?.minlength">
                            (MinLength-3)

                        </div>

                    </div>
                </div>

            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <button id="add" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-add" label="Add">  </button>
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                        <button id="cancel" pButton type="button" label="Cancel" routerLink="/vehicle/titanUser">  </button>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </p-panel>
    </form>
</div>