
<div class="ui-g-12">
    <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
    <div class="card card-w-title">
        <header>
          <h1> Milestone </h1>
          <button pButton type="button" [routerLink]="['add']" id="add" icon="ui-icon-add" label="Add New Milestone"></button>
        </header>
        <div class="ui-grid-row">
            <div class="ui-messages-success">
                <p-messages [value]="msgs"></p-messages>
            </div>
            <grid-data [gridData]="gridData"
                       [cols]='cols'
                       [confInfo]="confInfo"
                       [dataService]="service"
                       (navigateToDetails)="navigateDetails($event)"
                       [title]="title"></grid-data>
        </div>
    </div>
</div>
