<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
        <h2>Add New Test Request</h2>
              <form #tfForm="ngForm" (ngSubmit)="onTestRequestSubmit(tfForm.value)">
                  <p-panel header="Basic Information">
                    <div class="body">
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" [(ngModel)]="name"
                                       minlength="3"  required style="width:100%">
                                <label>Test Name <span >*</span></label>
                            </div>
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText [(ngModel)]="number" name="number"
                                       class="form-control" style="width:100%">

                                <label>Test Number</label>
                            </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Project Code :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="projectCodes" (onChange)="onProjectCodeChange($event)" name="projectCodes" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Build Levels :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="buildLevels"  (onChange)="onBuildLevelChange($event)" name="buildLevels">
                              </p-dropdown>
                          </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Vehicle :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="vehicle" (onChange)="onvehicleChange($event)" name="vehicle" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Test Facility :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="testFacilities"  (onChange)="onTestFacilityChange($event)" name="testFacilities" >
                              </p-dropdown>
                          </div>
                        </div><br /><br />
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="purpose" [(ngModel)]="purpose" style="width:100%">
                                <label>Purpose</label>
                            </div>
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="dueDate" name="dueDate" [showIcon]="true"></p-calendar>
                              <label>Due Date :</label>
                            </div>
                        </div><br /><br />
                        <div class="ui-grid-row " style="color:#777">
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="plannedStartDate" name="plannedStartDate" [showIcon]="true"></p-calendar>
                              <label>Planned Start Date :</label>
                            </div>
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="plannedEndDate" name="plannedEndDate" [showIcon]="true" ></p-calendar>
                              <label>Planned End Date :</label>
                            </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Test Templates :</p>
                              <p-multiSelect   [style]="{'width':'100%','color':'#777'}" [options]="testTemplates" [(ngModel)]="testtemplates" (onChange)="onTestTemplateChange($event)" name="testTemplates" >
                              </p-multiSelect>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Test Procedures :</p>
                              <p-multiSelect   [style]="{'width':'100%','color':'#777'}" [options]="testProcedures" [(ngModel)]="testProcedures" (onChange)="onTestProceduresChange($event)" name="testProcedures" >
                              </p-multiSelect>
                          </div>
                        </div><br /><br />
                        <p-dialog header="Title" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true">
                            Test Request Info Details:


                            <div class="form-group col-sm-6 col-md-4">
                                <label class="control-label col-sm-12 pl0"> Choose Departments :</label>
                                <p-multiSelect [options]="departments" (onChange)="onDepartmentChange($event)" name="departments" [style]="{'width':'auto'}">
                                </p-multiSelect>
                            </div>

                            <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <!--<a routerLink="add/{{id}}"><i class="fa ui-icon-add"></i>Add Thermo Couple Info</a>-->
                                    <button type="button" pButton icon="fa-close" label="OK" (click)="OK()"></button>
                                    <button type="button" pButton icon="fa-check" routerLink="/testrequest/details/{{entityId}}" label="CANCEL"></button>
                                </div>
                            </footer>
                        </p-dialog>
                        <div class="ui-grid-row " style="color:#777">
                            <div class="ui-g-12 ui-md-6" >
                                <p-checkbox name="groupname" value="IsThermoCouple" label="Does this Test require Sensor Type?" [(ngModel)]="IsThermoCouple" binary="true" (onChange)="confirm1()">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-6" >
                                <p-checkbox name="groupname" value="PartsList" label="Does this Test require Parts Type?" [(ngModel)]="PartsList" binary="true" (onChange)="confirm1()">
                                </p-checkbox>
                            </div>
                        </div><br /><br />
                        <div class="ui-grid-row " >
                            <div class="ui-g-12 ui-md-12" >
                              <label style="color:#777">Description</label>
                            </div>
                            <div class="ui-g-12 ui-md-12 md-inputfield">
                                <p-editor [(ngModel)]="description" name="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                                    <header>
                                        <select class="ql-size">
                                            <option value="small"></option>

                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                        </span>
                                    </header>
                                </p-editor>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button id="create" pButton type="submit" icon="ui-icon-save" label="Create" (click)="onTestRequestSubmit()"></button>
                    </footer>
                    <p-dialog header="Title" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true">
                        Test Request Info Details:


                        <div class="form-group col-sm-6 col-md-4">
                            <label class="control-label col-sm-12 pl0"> Choose Departments :</label>
                            <p-multiSelect [options]="departments" (onChange)="onDepartmentChange($event)" name="departments" [style]="{'width':'auto'}">
                            </p-multiSelect>
                        </div>

                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <!--<a routerLink="add/{{id}}"><i class="fa ui-icon-add"></i>Add Thermo Couple Info</a>-->
                                <button type="button" pButton icon="fa-close" label="OK" (click)="OK()"></button>
                                <button type="button" pButton icon="fa-check" routerLink="/testrequest/details/{{entityId}}" label="CANCEL"></button>
                            </div>
                        </footer>
                    </p-dialog>
                  </p-panel>
              </form>
</div>
</div>
</div>
