<div class="ui-g-12">
    <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
    <div class="card card-w-title">
        <h2>Edit Market </h2>
        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <p-panel header="Details">
                <div class="body">
                    <div class="ui-grid-row">
                       <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" id="name"  [(ngModel)]="MarketDetails.name" #marketDetailsNameRef="ngModel"
                                       minlength="3"  required style="width:100%">
                                <label>Market Name<span >*</span></label>
                        </div>
                    </div><br />
                    <div class="ui-grid-row">
                            <div class="ui-g-2">
                                IsActive :
                            </div>
                            <div class="ui-g-6">
                                <p-toggleButton [(ngModel)]="MarketDetails.isDeleted" name="isDeleted" #marketDetailsisDeletedRef="ngModel"
                                    [style]="{'width':'50px'}" class="blue-grey-btn"></p-toggleButton>
                            </div>
                    </div><br />
                    <div class="ui-grid-row " >
                            <div class="ui-g-12 ui-md-12" >
                              <label style="color:#777">Market Description *</label>
                            </div>
                            <div class="ui-g-12 ui-md-12 md-inputfield">
                                <p-editor  name="description" id="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. " #marketDetailsDescriptionRef="ngModel"
                                [(ngModel)]="MarketDetails.description" required>
                                    <header>
                                        <select class="ql-size">
                                            <option value="small"></option>

                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                        </span>
                                    </header>
                                </p-editor>
                            </div>
                        </div>
                        
                    </div>    
                    <footer>
                            <button id="cancel" pButton type="button" label="Cancel" routerLink="/admin/vehicle/market" class="blue-grey-btn" icon="ui-icon-close">  </button>
                            <button id="edit" pButton type="submit" [disabled]="!platformForm.valid" label="Save" class="green-btn">  </button>
                    </footer>
                    <br />
            </p-panel>
        </form>
    </div>
</div>