<div class="ui-g-12">
     <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    <br />
    <div class="card card-w-title">
      <h1>Function Group</h1>
        <p-panel>
            <header class="with-controls">
                <p class="ui-panel-title">Function Group List</p>
                <p class="controls">
                    <button pButton type="button" class="blue-grey-btn" [routerLink]="['add']" id="add" name="add" icon="ui-icon-add" label="Create New Function Group"></button>
                </p>
            </header>
          <p-dataTable [value]="functionGroups" [paginator]="true" rows="15" selectionMode="single" [responsive]="true">
              
             
              <p-column header="Function Group Name" sortable="true" [filter]="true"> 
                  <template let-userrow="rowData" pTemplate type="body">
                      <!--<a routerLink="details/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
               <a routerLink="details/{{userrow.id}}">{{userrow.name}}</a>
                      </template>
           </p-column>
            

          </p-dataTable>
         
        </p-panel>
    </div>
</div>
