<div class="ui-g-12">
     <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    <br />
    <div class="card card-w-title">
      <h1>Function Group</h1>
        <p-panel>
            <header class="with-controls">
                <p class="ui-panel-title">Function Group List</p>
                <p class="controls">
                    <button pButton type="button" class="blue-grey-btn" [routerLink]="['add']" id="add" name="add" icon="ui-icon-add" label="Create New Function Group"></button>
                </p>
            </header>
          <p-dataTable [value]="functionGroups" [paginator]="true" rows="15" selectionMode="single" [responsive]="true">
              
             
              <p-column header="Function Group Name" sortable="true" [filter]="true"> 
                  <template let-userrow="rowData" pTemplate type="body">
                      <!--<a routerLink="details/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
               <a routerLink="details/{{userrow.id}}">{{userrow.name}}</a>
                      </template>
           </p-column>
            

          </p-dataTable>
          <p-dialog header="Add Tenant" [(visible)]="displayTenantDialog"
                    modal="modal" showEffect="fade" responsive="true" width="400">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="name">Name</label></div>
                            <div class="ui-grid-col-8"><input pInputText name="name"  id="name"/></div>
                        </div><br />
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="name">Url</label =></div>
                            <div class="ui-grid-col-8"><input pInputText name="url"  id="url"/></div>
                        </div>
                    </div>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="ui-icon-close" id="tenantClose"  name="tenantClose"
                                    (click)="displayTenantDialog=false" label="Cancel"></button>
                            <button type="button" pButton icon="ui-icon-save" id="tenantAdd" name="tenantAdd"
                                    label="Add Tenant"></button>
                        </div>
                    </footer>

          </p-dialog>
        </p-panel>
    </div>
</div>
