<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
        <p-tabView (onChange)="handleChange($event)">

            <p-tabPanel header="Edit ||" id="info">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default ">
                            <div class="panel-heading">List of all tasks for work requests</div>
                            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                                <!--<h3> Add Test Facility </h3>-->
                                <p-panel>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="table-responsive" style="min-height:400px;">
                                                <p-dataTable [value]="sensorRequests" [paginator]="true" rows="15" [responsive]="true">
                                                    <p-column header="Sensor Name" field="name" sortable="true"></p-column>


                                                    <p-column header="Comments" field="comment" sortable="true"></p-column>

                                                    <p-column header="IsCompleted" field="isCompleted" sortable="true"></p-column>



                                                    <p-column [editable]="true">
                                                            <template pTemplate type="header">
                                                                <button type="button" pButton icon="fa-refresh"></button>
                                                            </template>
                                                            <template let-TestRequestSensor="rowData" pTemplate="body">
                                                                <!--<p-fileUpload [name]="sensorpic" url="http://localhost:9998/api/file/SaveDocuments/{{entityType}}/{{TestRequestSensor.id}}/{{categoryId}}"
                                                                              multiple="multiple" accept="image/*" maxFileSize="1000000">

                                                                </p-fileUpload>-->
                                                                <button pButton type="button" icon="ui-icon-remove-circle" label="Upload" (click)="onUploadAttachments(TestRequestSensor)"></button>
                                                            </template>


                                                        </p-column>


                                                    <!--<p-column>
                                                        <template pTemplate type="header">
                                                            <button type="button" pButton icon="fa-refresh"></button>
                                                        </template>
                                                        <template let-sensorrow="rowData" pTemplate type="body">
                                                            <a routerLink="details/{{sensorrow.id}}"><i class="fa ui-icon-edit"></i>View Details</a>
                                                        </template>
                                                    </p-column>-->

                                                </p-dataTable>
                                                <p-dialog header="Assign Attachments" [(visible)]="displayAssignAttachmentsDialog" modal="modal" showEffect="fade" responsive="true">

                                                    <p>Please select one or more attachments to thermo couple.</p>
                                                    <div class="input-row">

                                                        <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                                                        <span class="pseudo-label">Upload</span>

                                                        <p-fileUpload [name]="sensorpic" url="http://localhost:9998/api/file/SaveDocuments/{{entityType}}/{{testRequestSensorId}}/{{categoryId}}" (onUpload)="onUpload($event)"
                                                                      multiple="multiple" accept="image/*" maxFileSize="1000000">                                                           
                                                        </p-fileUpload>
                                                    </div>
                                                    <div class="input-row">

                                                        <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                                                        <span class="pseudo-label">Attachments</span>

                                                        <ul *ngIf="uploadedFiles.length">
                                                            <li *ngFor="let file of uploadedFiles">{{file.name}}<a href="http://localhost:9998/api/TestFacilityAttachment/file/{{file.id}}">download</a></li>
                                                        </ul>
                                                    </div>

                                                    <!-- End Role -->

                                                    <footer>
                                                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                                            <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open" [(ngModel)]="IsKeepOpen" binary="true"></p-checkbox>
                                                            <!--<label class="checkbox"><input type="checkbox" name="keep" binary="true" > Keep Open</label>-->
                                                            <button type="button" pButton icon="ui-icon-close" (click)="displayAssignAttachmentsDialog=false" label="Cancel"></button>
                                                            <button type="button" pButton icon="ui-icon-save" (click)="onOk()" label="Ok"></button>
                                                        </div>
                                                    </footer>

                                                </p-dialog>
                                            </div>
                                        </div>


                                    </div>
                                    <!--<header>Test Facility Information</header>-->
                               

                                    <!--<div class="ui-grid-row">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">
                                                <button id="add" pButton type="submit" label="Save">  </button>
                                            </div>
                                            <div class="ui-grid-col-6">
                                            </div>
                                            <div class="ui-grid-col-4">
                                                <button id="cancel" pButton type="button" label="Cancel" routerLink="/testrequest/details/{{entityId}}">  </button>
                                            </div>
                                        </div>
                                    </div>-->
                                </p-panel>
                                <br />
                                <br />
                            </form>
                        </div>
                    </div>
                </div><!-- Form End -->


            </p-tabPanel>


        </p-tabView>
    </div>
</div>