<div class="ui-g-12">
    <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    <div class="card card-w-title">
        <h1>Edit Platform </h1>

        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
            <br/>
            <p-panel>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Platform Name * :
                        </div>
                        <div class="ui-grid-col-4">

                            <input type="text" pInputText name="name" [(ngModel)]="PlatformDetails.name" #platformDetailsNameRef="ngModel" placeholder="Platform Name"
                                minlength="3" class="form-control" required row="20" />
                        </div>
                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="platformDetailsNameRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter Platform Name
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="platformDetailsNameRef.errors?.minlength">
                                MinLength-3
                            </div>

                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Platform Description * :
                        </div>
                        <div class="ui-grid-col-6">
                            <textarea type="text" pInputTextArea class="form-control" required name="description" row="50" maxlength="250" #platformDetailsDescriptionRef="ngModel"
                                [(ngModel)]="PlatformDetails.description"></textarea>
                        </div>

                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="platformDetailsDescriptionRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter Platform Description
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="platformDetailsDescriptionRef.errors?.maxlength">
                                MaxLength-250
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            IsActive :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-toggleButton [(ngModel)]="PlatformDetails.isDeleted" name="isDeleted" #platformDetailsisDeletedRef="ngModel" [style]="{'width':'50px'}"></p-toggleButton>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                        </div>
                        <div class="ui-grid-col">
                            <button id="edit" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-edit" label="Save">  </button>
                        </div>
                        <div class="ui-grid-col">
                            <button id="cancel" pButton type="button" label="Cancel" routerLink="/admin/vehicle/platform" [style]="{'width':'20px'}">  </button>
                        </div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>