<div class="ui-g-12">
    <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
    <div class="card card-w-title">
        <h2>Edit Step Frequency </h2>

        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
            <p-panel header="Details">
                <div class="body">
                    <div class="ui-grid-row">
                       <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" id="name"  [(ngModel)]="StepFrequencyDetails.name" #stepFrequencyDetailsNameRef="ngModel"
                                       minlength="3"  required style="width:100%">
                                <label>Step Frequency Name <span >*</span></label>
                        </div>
                        <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="number" [(ngModel)]="StepFrequencyDetails.number" #stepFrequencyDetailsNumberRef="ngModel"
                                placeholder="StepFrequency Number" minlength="3" class="form-control" required row="20" style="width:100%"/>
                                <label>Step Frequency Number <span >*</span></label>
                        </div>
                    </div><br />
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Range * :
                        </div>
                        <div class="ui-grid-col-4">

                            <input type="text" pInputText name="range" [(ngModel)]="StepFrequencyDetails.range" #stepFrequencyDetailsRangeRef="ngModel"
                                placeholder="StepFrequency Range" minlength="3" class="form-control" required row="20" />
                        </div>
                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="stepFrequencyDetailsRangeRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter StepFrequency Range
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="stepFrequencyDetailsRangeRef.errors?.minlength">
                                MinLength-3
                            </div>

                        </div>
                    </div>
                     </div><br />
                    <footer>
                         <button id="cancel" pButton type="button" label="Cancel" routerLink="/admin/vehicle/stepFrequency" class="blue-grey-btn" icon="ui-icon-close">  </button>
                        <button id="save" pButton type="submit" [disabled]="!platformForm.valid"  icon="ui-icon-save" label="Save" class="green-btn">  </button>
                    </footer>
                    <br />
            </p-panel>
        </form>
    </div>
</div>