<div class="ui-g">

    <div class="ui-g-12">
<br/>
        <div class="card card-w-title">

            <h2>Create New Tenant</h2>

            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                <p-messages [value]="notificationMsgs" [closable]="false"></p-messages>
                <!-- Begin Panel - Test Facility Name and Location -->

                <p-panel header="Tenant Information">

                    <div class="body">

                        <!-- Begin Name -->

                      
                        <br /><br />
                        <div class="ui-grid-row">

                            <div class="ui-g-12 ui-md-6">
                                <!--<p style="color:#777">Name :</p>-->

                                <input type="text" id="name" pInputText name="name" [(ngModel)]="name"
                                       minlength="3" class="form-control" required row="20" style="width:100%">
                                <label>Name <span>*</span></label>
                            </div>
                        </div><br /><br />

                        <div class="ui-grid-row">

                            <div class="ui-g-12 ui-md-6" id="url" pInputText name="url" [(ngModel)]="url"
                                       minlength="3" class="form-control" required row="20" style="width:100%">
                                <label>Url <span>*</span></label>
                            </div>
                        </div><br /><br />

                        <!--<div class="ui-grid-row">

                            <div class="ui-g-12 ui-md-6">
                                <p style="color:#777">Users :</p>
                                <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="users" [(ngModel)]="selectedUserId" (onChange)="onUserChange($event)" name="departments" id="departments" [autoWidth]="false"></p-dropdown>
                            </div>
                        </div><br /><br />-->


                    </div>

                    <footer>
                        <p>* indicates required field</p>
                        <button pButton type="button" icon="ui-icon-close" class="blue-grey-btn" label="Cancel" id="cancel" routerLink="/tenant"></button>
                        <button pButton type="submit" icon="ui-icon-save" class="green-btn" label="Add" id="add" [disabled]="!tfForm.valid"></button>
                    </footer>
                    <br />
                </p-panel>

                <!-- End Panel - Test Facility Name and Location -->

            </form>

        </div>

    </div>

</div>
