<!DOCTYPE html>

<html>
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <!-- Base Framework CSS - PrimeNG -->
    <link rel="stylesheet" type="text/css" href="lib/primeng/resources/primeng.min.css" />

    <!-- Library CSS - Icons, etc. -->
    
    <link rel="stylesheet" type="text/css" href="resources/layout/css/animate.css">

    <!-- Component CSS - Full Calendar, QTIP, SpreadJS, etc. -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="//fullcalendar.io/js/fullcalendar-scheduler-1.5.0/scheduler.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.quilljs.com/1.1.8/quill.snow.css">

    <link rel="stylesheet" type="text/css" href="resources/spreadjs/jquery-gentleSelect.css" />
    <link rel="stylesheet" type="text/css" href="resources/spreadjs/jquery-cron.css" />

    <link id="layout-spreadjs-css" rel="stylesheet" type="text/css" href="resources/spreadjs/css/gc.spread.sheets.10.0.0.css">
    <link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />

    <!-- Custom and Customized CSS - Ultima, etc. -->
    <link id="theme-css" rel="stylesheet" type="text/css" href="resources/theme/theme-titan.css">
    <link id="layout-css" rel="stylesheet" type="text/css" href="resources/layout/css/layout-titan.css">

    <!-- 1. Load libraries -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>                                     <!-- JQUERY-->
    <script src="resources/layout/js/layout.js"></script>                                             <!-- Menu -->   
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.js"></script>               <!-- FULL Calendar Dependency -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>   <!-- FULL Calendar -->
    <script src="//fullcalendar.io/js/fullcalendar-scheduler-1.5.0/scheduler.min.js"></script>        <!-- Scheduler -->


    <script src="~/resources/spreadjs/gc.spread.sheets.all.10.0.0.min.js"></script>
                 <!--SpreadJS-->


    <script src="~/resources/spreadjs/jquery-cron-min.js"></script>            <!--CronJS-->
    <script src="~/resources/spreadjs/jquery-gentleSelect-min.js"></script>
    <script src="~/resources/primeng.deps/quill.min.js"></script>              <!--QUILL (needed for primeng Editor)-->
    <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>
    <script src="/lib/es6-shim/es6-shim.js"></script>
    <script src="~/lib/zone/zone.min.js"></script>
    <script src="lib/systemjs/system.src.js"></script>
    <script src="/lib/reflect/Reflect.js"></script>
    <script src="systemjs.config.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>

