<div class="ui-g-12">
    <div class="card card-w-title">
              <h1>Function Group Details</h1>
<p-tabView  (onChange)="handleChange($event)">
  <p-tabPanel header="Details" id='detailstab'>
            <p-growl [value]="msgs"></p-growl>
            <div class="subsection">

                <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                    <!-- Begin Panel - Test Facility Name and Location -->

                    <p-panel header="Information">

                        <div class="body">

                            <!-- Begin Name -->

                            <div class="ui-grid-row ">


                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText name="name" [(ngModel)]="functionGroup.name"
                                           minlength="3" class="form-control" required row="20">
                                    <label>Name *</label>
                                </div>
                                <!--<div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText name="url" [(ngModel)]="tenantProfile.hostAddress" class="form-control" required minlength="3" row="20">
                                    <label>Url *</label>
                                </div>-->
                                <!--<p class="helper error" *ngIf="firstNameRef.errors?.required || firstNameRef.errors?.minlength">At least three characters</p>-->

                            </div>
                        </div>

                        <footer>
                            <p>* indicates required field</p>
                            <button pButton type="button" icon="ui-icon-close" label="Cancel" routerLink="/tenant" class="blue-grey-btn"></button>
                            <button pButton type="submit" [disabled]="!tfForm.valid" label="Save" class="green-btn" icon="ui-icon-save"></button>
                        </footer><br />

                    </p-panel>

                    <!-- End Panel - Test Facility Name and Location -->

                </form>

            </div>
           <div class="subsection">

          <form>

              <!-- Begin Dialog - Assign User Role -->

              <p-dialog header="Assign Tenant" [(visible)]="displayTenantDialog" modal="modal" showEffect="fade" responsive="true" width="400">

                  <p>Please select  tenants.</p>

                  <!-- Begin Users -->


                  <div class="input-row">

                      <label>
                          <b>Tenants :</b>

                          <div class="ui-g-8">
                              <p-dropdown [options]="tenants" [style]="{'width':'100%'}" (onChange)="onTenantChange($event)" name="tenants" id="tenants" [autoWidth]="false"></p-dropdown>
                          </div>
                      </label>

                  </div>

                  <!-- End Users -->
                  <!-- Begin Role -->
                  <!-- End Role -->
                  <br />
                  <footer>
                      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                          <div style='float:left;padding:0.85em'>
                              <p-checkbox name="groupname" value="IsKeepOpen" id="tenantIsKeepOpen" label="Keep Open"
                                          [(ngModel)]="IsKeepOpen" binary="true"></p-checkbox>
                          </div>
                          <button type="button" pButton icon="ui-icon-close" id="tenantCancel" (click)="displayTenantDialog=false" label="Cancel"></button>
                          <button type="button" pButton icon="ui-icon-save" id="tenantAdd" (click)="onAddTenant()" label="Assign Tenant"></button>
                      </div>
                  </footer>

              </p-dialog>

              <!-- End Dialog - Assign User Role -->
              <!-- Begin Panel - Test Facility Users -->

              <p-panel>

                  <header class="with-controls">
                      <p class="ui-panel-title"> Tenants </p>
                      <p class="controls"><button type="text" (click)="displayTenantDialog=true" class="blue-grey-btn" pButton icon="ui-icon-person-add" label="Assign Tenant" id="assignTenant"></button></p>
                  </header>

                  <div class="ui-grid-row">

                      <p-dataTable [value]="functionGroupTenants" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                          <p-column field="name" header="Tenant Name" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                          <!--<p-column field="isInheritedPermission" header="Inherited Permission" sortable="true"></p-column>-->
                          <!--<p-column field="role" header="Role" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>-->
                          <p-column header="Action">
                              <template let-UserTenant="rowData" pTemplate type="body">
                                  <button pButton type="button" class="red-btn" icon="ui-icon-remove-circle" (click)="onRemoveUserTenantMap(UserTenant)" label="Delete"></button>
                              </template>
                          </p-column>
                      </p-dataTable>

                  </div>

              </p-panel>

              <!-- End Panel - Test Facility Users -->

          </form>

      </div>

          <div class="subsection">

            <form>

                <!-- Begin Dialog - Assign User Role -->

                <p-dialog header="Add User" [(visible)]="displayAddUserDialog" modal="modal" showEffect="fade" responsive="true" width="500">

                    <p>Please select users.</p>
                    <div class="input-row">

                        <div class="ui-g-4"><b>Users :</b></div>
                        <div class="ui-g-8">
                            <p-dropdown [options]="users" [style]="{'width':'100%'}" (onChange)="onUserChange($event)" name="users" [autoWidth]="false"></p-dropdown>
                        </div>
                    </div>
                    <br /><br />
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="ui-icon-close" (click)="displayAddUserDialog=false" label="Cancel"></button>
                            <button type="button" pButton icon="ui-icon-save" label="Add User" (click)="onAddUser()"></button>
                        </div>
                    </footer>

                </p-dialog>

                <!-- End Dialog - Assign User Role -->
                <!-- Begin Panel - Test Facility Users -->

                <p-panel>
                    <header class="with-controls">
                        <p class="ui-panel-title">Users</p>
                        <p class="controls">
                            <button pButton type="button" class="blue-grey-btn" (click)="displayAddUserDialog=true" icon="ui-icon-add" label="Add User"></button>
                        </p>
                    </header>
                    <p-dataTable [value]="functionGroupUsers" [paginator]="true" rows="15" [responsive]="true">
                        <p-column header="Name" sortable="true">
                            <template let-userrow="rowData" pTemplate type="body">
                                <!--<a routerLink="details/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
                                <a routerLink="details/{{userrow.id}}">{{userrow.firstName}} {{userrow.lastName}}</a>
                            </template>
                        </p-column>
                        <!--<p-column header="Last Logged On" field="lastLoggedIn" sortable="true">

                        </p-column>-->
                        <p-column header="Action">
                            <template let-UserInfo="rowData" pTemplate type="body">
                                <button pButton type="button" class="red-btn" icon="ui-icon-remove-circle" label="Delete" (click)="onDeleteUserTenantMap(UserInfo)"></button>
                            </template>
                        </p-column>


                    </p-dataTable>
                </p-panel>

                <!-- End Panel - Test Facility Users -->

            </form>

        </div>
      </p-tabPanel>
      <!--<p-tabPanel header="Users" id='userstab'>
            <p-panel>
              <header class="with-controls">
                  <p class="ui-panel-title">Users</p>
                  <p class="controls">
                    <button pButton type="button" class="blue-grey-btn" (click)="displayAddUserDialog=true" icon="ui-icon-add" label="Add User"></button>
                  </p>
              </header>
              <p-dataTable [value]="tenantUsers" [paginator]="true" rows="15" [responsive]="true">
                  <p-column header="Name" sortable="true">
                      <template let-userrow="rowData" pTemplate type="body">
                         
                   <a routerLink="details/{{userrow.id}}">{{userrow.firstName}} {{userrow.lastName}}</a>
                          </template>
                 </p-column>
                  <p-column header="Last Logged On" field="lastLoggedIn" sortable="true">
                     
                  </p-column>
                  <p-column header="Action">
                      <template let-UserInfo="rowData" pTemplate type="body">
                          <button pButton type="button" class="red-btn" icon="ui-icon-remove-circle" label="Delete" (click)="onDeleteUserTenantMap(UserInfo)"></button>
                      </template>
                  </p-column>


              </p-dataTable>
            </p-panel>
            <p-dialog header="Add User" [(visible)]="displayAddUserDialog" modal="modal" showEffect="fade" responsive="true" width="500">

                <p>Please select users.</p>
                <div class="input-row">

                        <div class="ui-g-4"><b>Users :</b></div>
                        <div class="ui-g-8">
                            <p-dropdown [options]="users" [style]="{'width':'100%'}" (onChange)="onUserChange($event)" name="users" [autoWidth]="false"></p-dropdown>
                        </div>
                </div>
              <br /><br />
                <footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton icon="ui-icon-close" (click)="displayAddUserDialog=false" label="Cancel"></button>
                        <button type="button" pButton icon="ui-icon-save" label="Add User" (click)="onAddUser()"></button>
                    </div>
                </footer>

            </p-dialog>
      </p-tabPanel>-->
  </p-tabView>
</div>
</div>
