$primaryColor: #5E2750;
$primaryDarkColor: #2C001E;
$primaryLightColor: #77216F;
$accentColor: #D6BECB;
$accentDarkColor: #C8A9BA;
$accentLightColor: #E3D4DC;
$accentTextColor: #212121;

@import '../sass/theme/_theme';