<p-tabView>
    <p-tabPanel header="Details ||">
        <project-detail></project-detail>
    </p-tabPanel>
    <p-tabPanel header="Torque Book ||">
        <torque-book></torque-book>
    </p-tabPanel>
    <p-tabPanel header="Spread JS Templates ||">
        <torquesheet-template></torquesheet-template>
    </p-tabPanel>
    <p-tabPanel header="Team Information">
        <teaminfo-template></teaminfo-template>
    </p-tabPanel>
    <p-tabPanel header="Project Mile Stone Map">
        <project-schedule></project-schedule>
    </p-tabPanel>
</p-tabView>
