<div class="ui-g">
    <div class="ui-g-10">

        <div class="panel panel-default">
            <div class="panel-heading panel">Vehicle Lookups</div>
            <div class="row">
                <div class="ui-g-10">
                    <form role="form">
                        <div class="ui-grid-row body">
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="buildLevel" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Build Levels</span></a>
                                </div>
                            </div>

                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="equipment" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Equipment</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="titanRole" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Titan Role</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="role" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Role</span></a>
                                </div>
                            </div>
                            <!--<div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="titanUser" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Titan User</span></a>
                                </div>
                            </div>-->
                        </div>
                        <br />

                        <div class="ui-grid-row">
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="equipmenttype" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Equipment Type</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="milestone" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Milestone</span></a>
                                </div>
                            </div>
                            <div class="ui-grid-row body">

                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Platform</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="market" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Market</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="project" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Project</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="milestoneCategory" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>MilestoneCategory</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="milestoneType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Milestone Type</span></a>
                                    </div>
                                </div>
                                    <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="grade" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Grade</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="ui-grid-row">
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="tenant" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Tenant</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testVerificationMethod" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Test Verification Method</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testStatus" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Test Status</span></a>
                                </div>
                            </div>
                            <!--<div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="milestoneEvent" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Milestone Event</span></a>
                                </div>
                            </div>-->
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="milestoneStatus" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Milestone Status</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="permission" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Permission</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="projectStatus" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Project Status</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="projectRole" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Project Role</span></a>
                                </div>
                            </div>
                            <!--<div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="schedule" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Schedule</span></a>
                                </div>
                            </div>-->
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="shift" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Shift </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="downTimeReason" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> DownTime Reason </span></a>
                                </div>
                            </div>
                            <!--<div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="entityField" [routerLinkActive]="['active-menulink']" class="ripplelink"><span> Entity Field </span></a>
                                </div>
                            </div>-->
                            <!--<div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="contact" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Contact</span></a>
                                </div>
                            </div>-->
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="accessGroup" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Access Group</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="access" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Access</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="modelName" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Name</span></a>
                                </div>
                            </div>
                             <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="modelYear" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Year</span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="maintenanceFrequency" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Maintenance Frequency </span></a>
                                </div>
                            </div>
                             <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="vehicleType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Vehicle Type </span></a>
                                </div>
                            </div>
                             <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="requirementItemType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Requirement ItemType </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="sensorType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Sensor Type </span></a>
                                </div>
                            </div>
                              <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="stepFrequency" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Step Frequency </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="stepType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Step Type </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testMode" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Test Mode </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testType" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Test Type </span></a>
                                </div>
                            </div>
                             <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testRequirement" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Test Requirement </span></a>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="testActivity" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Test Activity </span></a>
                                </div>
                            </div>
                              <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="priority" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Priority </span></a>
                                </div>
                            </div>
                             <div class="ui-g-3 ui-md-3">
                                <div class="form-control">
                                    <a routerLink="judgement" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Judgement </span></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>