<!DOCTYPE html>
<div class="ui-g-10">
  
        <!--<div class="card card-w-title">-->
        <!--<div class="ui-g-3 ui-md-3">
            <div class="form-control">
                <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><i class="fa ui-icon-alarm"></i><span>Build Levels</span></a>
                <select>
                    <option value="">Select Option</option>
                    <option value="">Prototype</option>
                    <option value="">Dan 0</option>
                    <option value="">Dan 1</option>
                    <option value="">Senkosh</option>
                </select>
            </div>-->
        <div class="panel panel-default">
            <div class="panel-heading panel">Vehicle Lookups</div>
                <div class="row">
                        <div class="ui-g-10">
                        <form role="form">
                            <div class="ui-grid-row body">
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                    <a routerLink="buildLevels" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Build Levels</span></a>
                                </div>
                                </div>
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Destination</span></a>
                                    </div>
                                </div>-->
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Frame Number</span></a>
                                    </div>
                                </div>-->
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="grade" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Grade</span></a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="ui-grid-row body">
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Name</span></a>
                                    </div>
                                </div>-->
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Year</span></a>
                                    </div>
                                </div>-->
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Platform</span></a>
                                    </div>
                                </div>
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Project Code</span></a>
                                    </div><div></div>
                                </div>-->
                                </div>
                            <br />
                            <div class="ui-grid-row body">
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Vehicle Type</span></a>
                                    </div>
                                </div>-->
                                <!--<div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Vin</span></a>
                                    </div>-->
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>