<!DOCTYPE html>
<div class="ui-g-10">
  
        <!--<div class="card card-w-title">-->
        <!--<div class="ui-g-3 ui-md-3">
            <div class="form-control">
                <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><i class="fa ui-icon-alarm"></i><span>Build Levels</span></a>
            </div>-->
        <div class="panel panel-default">
            <div class="panel-heading panel">Vehicle Lookups</div>
                <div class="row">
                        <div class="ui-g-10">
                        <form role="form">
                            <div class="ui-grid-row body">
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="buildLevels" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Build Levels</span></a>
                                    </div>
                                </div>

                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="equipment" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Equipment</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="titanrole" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Titan Role</span></a>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="titanuser" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Titan User</span></a>
                                    </div>
                                </div>
                            </div>
                            <br />
                                    <!--<div class="ui-g-3 ui-md-3">
            <div class="form-control">
                <a routerLink="enginecode" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Engine Code</span></a>
            </div>
        </div>-->
                                    <!--<div class="ui-g-3 ui-md-3">
            <div class="form-control">
                <a routerLink="framenumber" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Frame Number</span></a>
            </div>
        </div>-->
                            <div class="ui-grid-row body">
                                <div class="ui-g-3 ui-md-3">
                                    <div class="form-control">
                                        <a routerLink="equipmenttype" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Equipment Type</span></a>
                                    </div>
                                </div>
                                <div class="ui-grid-row body">
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="grade" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Grade</span></a>
                </div>
            </div>-->
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Name</span></a>
                </div>
            </div>-->
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Model Year</span></a>
                </div>
            </div>-->
                                    <div class="ui-g-3 ui-md-3">
                                        <div class="form-control">
                                            <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Platform</span></a>
                                        </div>
                                    </div>
                                    <div class="ui-g-3 ui-md-3">
                                        <div class="form-control">
                                            <a routerLink="market" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Market</span></a>
                                        </div>
                                    </div>
                                    <div class="ui-g-3 ui-md-3">
                                        <div class="form-control">
                                            <a routerLink="project" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Project</span></a>
                                        </div>
                                    </div>
                                    </div>
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Project Code</span></a>
                </div><div></div>
            </div>-->
                                </div>
                                <br />
                                <div class="ui-grid-row body">
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Vehicle Type</span></a>
                </div>
            </div>-->
                                    <!--<div class="ui-g-3 ui-md-3">
                <div class="form-control">
                    <a routerLink="platform" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Vin</span></a>
                </div>-->
                                    <div class="ui-g-3 ui-md-3">
                                        <div class="form-control">
                                            <a routerLink="tenant" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Tenant</span></a>
                                        </div>
                                    </div>
                                    <div class="ui-g-3 ui-md-3">
                                        <div class="form-control">
                                            <a routerLink="testfacility" [routerLinkActive]="['active-menulink']" class="ripplelink"><span>Test Facility</span></a>
                                        </div>
                                    </div>

                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>