$primaryColor: #2f4050;
$primaryDarkColor: #0e2031;
$primaryLightColor: #5b6976;
$accentColor: #5180ce;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #2b3135;
$darkMenuHoverColor: #777d81;

@import '../../sass/layout/_layout';

body .layout-wrapper .layout-main
{
    display: flex;

    flex-direction: column;

    min-height: 100vh;

    box-sizing: border-box;

    > :first-child /* titan-body */
    {
        flex: 1 1 auto;

        .ui-tabview-panel .subsection
        {
            .ui-panel .ui-panel-titlebar
            {
                overflow: auto;

                max-height: none;

                header.with-controls
                {
                    .ui-panel-title
                    {
                        margin: 0.5em 0 0 0;

                        display: inline-block
                    }

                    .controls
                    {
                        margin: 0;

                        float: right
                    }
                }
            }

            + .subsection
            {
                margin-top: 1em
            }
        }
    }

    > .footer
    {
        flex: 0 0 auto;

        .card
        {
            margin-bottom: 0
        }

        sup
        {
            line-height: 0
        }
    }
}