$primaryColor: #5E2750;
$primaryDarkColor: #2C001E;
$primaryLightColor: #77216F;
$accentColor: #D6BECB;
$accentDarkColor: #C8A9BA;
$accentLightColor: #E3D4DC;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';

body .layout-wrapper .layout-main
{
    display: flex;

    flex-direction: column;

    min-height: 100vh;

    box-sizing: border-box;

    > :first-child /* titan-body */
    {
        flex: 1 1 auto;

        .ui-tabview-panel .subsection
        {
            .ui-panel .ui-panel-titlebar
            {
                overflow: auto;

                max-height: none;

                header.with-controls
                {
                    .ui-panel-title
                    {
                        margin: 0.5em 0 0 0;

                        display: inline-block
                    }

                    .controls
                    {
                        margin: 0;

                        float: right
                    }
                }
            }

            + .subsection
            {
                margin-top: 1em
            }
        }
    }

    > .footer
    {
        flex: 0 0 auto;

        .card
        {
            margin-bottom: 0
        }
    }
}