.material-icon
{
    align-content: center;
    width: 100%;
}
div span {
    text-align: center;
    display: block;
}

.small-width > ui-g-2.ui-md-2 {
    width: 10%;
}

@media screen {
    .ui-md-2 {
        width: 11%;
    }
}

.form-control{
    width: 300px;
    height: 30px;
    padding: 7px;
}

.circle {
    width: 95px;
	height: 60px;
	background: gainsboro;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-sizing: border-box;
}
.circle1 {
    width: 95px;
	height: 60px;
	background: #82A3A9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-sizing: border-box;
}
.circle2 {
    width: 95px;
	height: 60px;
	background: darksalmon;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-sizing: border-box;
}
.circle3 {
    width: 95px;
	height: 60px;
	background: wheat;
	-moz-border-radius: 53px;
	-webkit-border-radius: 53px;
	border-radius: 53px;
    box-sizing: border-box;
}

.circleTextWrap
{
    vertical-align: middle;
    line-height: 80%;
    padding-top: 15%;
    box-sizing: border-box;
}
a{
    color:inherit;
}
.colorbox-count{
    line-height:1;
    font-weight: normal !important;
    font-size:22px !important;
}
