<div class="ui-g custom-font">
<div class="ui-g-12">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <br />
    <div class="card card-w-title"> 
        <header>
            <button pButton type="button" icon="ui-icon-search" label="Search"></button>
        </header>
        <h1>{{title}}</h1>
        <div class="ui-grid-row color_container">         
            <p-accordion>
                
                <p-accordionTab header="Project" [selected]='true'>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/buildLevel']">
                            <div class="ui-g card colorbox colorbox-4">
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Build Level</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <!--<div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/buildLevel']">
                                <div class="ui-g card colorbox colorbox-4">
                                    <div class="ui-g-12">
                                        <span class="colorbox-count">Catalogs</span>
                                    </div>
                                </div>
                            </a>
                        </div>-->
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/market']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Market</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/milestone']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Milestone</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/milestoneCategory']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Milestone Category</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/milestoneStatus']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Milestone Status</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/milestoneType']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Milestone Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/platform']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">PlatForm</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/projectRole']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Project Role</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/projectStatus']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Project Status</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/grade']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Grade</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/modelName']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Model Name</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/modelYear']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Model Year</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Test Template">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/requirementItemType']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">RequirementItem Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/stepFrequency']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Step Frequency</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/step']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Step</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/stepType']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Step Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testMode']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Mode</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testRequirement']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Requirement</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testType']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testVerificationMethod']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Verification Method</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Test Request">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testRole']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Role</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testStatus']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Status</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/downTimeReason']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Down Time Reason</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testActivity']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Activity</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/priority']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Priority</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/judgement']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Judgement</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/testStage']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Test Stage</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
           
                <p-accordionTab header="Vehicle">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/vehicleType']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Vehicle Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/engineCode']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Engine Code</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Equipment">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/sensorType']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Sensor Type</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/units']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Units</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Roles and Permission">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/access']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Access</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/accessGroup']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Access Group</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/permission']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Permission</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/role']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Role</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/titanRole']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">TITAN Role</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Employee">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/shift']">
                            <div class="ui-g card colorbox colorbox-1">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Shift</span>
                                </div>
                            </div>
                            </a>
                        </div>
                </p-accordionTab>
                <p-accordionTab header="Catalogs" [selected]='true'>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <a [routerLink]="['/admin/vehicle/buildLevel']">
                            <div class="ui-g card colorbox colorbox-4">
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Category</span>
                                </div>
                            </div>
                        </a>
                    </div>
                   
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <a [routerLink]="['/admin/vehicle/units']">
                            <div class="ui-g card colorbox colorbox-4">

                                <div class="ui-g-12">
                                    <span class="colorbox-count">Units</span>
                                </div>
                            </div>
                        </a>
                    </div>               
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
</div>