$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #FF8000;
$accentColor: #FF650A;
$accentDarkColor: #FF5722;
$accentLightColor: #FF8000;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';