<div class="ui-g-10">
    <h3>Edit Project Status </h3>

    <p-growl [value]="msgs"></p-growl>
    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
        <br/>
        <p-panel>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Project Status Name *: 
                    </div>
                    <div class="ui-grid-col-4">

                        <input type="text" pInputText name="name" [(ngModel)]="ProjectStatusDetails.name" #projectStatusDetailsNameRef="ngModel"
                            placeholder="Required" minlength="3" class="form-control" required row="20" />
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-grid-col-4" *ngIf="projectStatusDetailsNameRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->
                            *

                        </div>

                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Description *:
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea type="text" pInputTextArea class="form-control" required name="description" row="20" maxlength="4000" #projectStatusDetailsDescriptionRef="ngModel"
                            [(ngModel)]="ProjectStatusDetails.description"></textarea>
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-grid-col-4" *ngIf="projectStatusDetailsDescriptionRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->
                            *

                        </div>

                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                    </div>
                    <div class="ui-grid-col-2">
                        <button id="edit" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-edit" label="Edit">  </button>
                    </div>
                </div>
            </div>
        </p-panel>
    </form>
</div>