<h1>{{title}}</h1>
<div class="ui-g">
    <!-- Draggable Items Section -->
    <div class="ui-g-12 card card-w-title">
        <div class="ui-g-12">
            <h1>Form Fields To Add</h1>
        </div>
        <div class="ui-g-12 nopad form-group">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Form Category</label>
                </div>
                <div class="ui-g-9">
                    <p-dropdown [autoWidth]="true"
                                [options]="formSchemaCategoryList"
                                (onChange)="onFormSchemaCategoryChange($event)"
                                [(ngModel)]="selectedFormSchemaCategory"
                                [style]="{'width':'150px'}"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <p-dataTable
                        [value]="gridData"
                        [paginator]="true"
                        [rows]="15"
                        selectionMode="single"
                        [(selection)]="selectedFormInstance"
                        (onRowSelect)="handleRowSelect($event)"
                        *ngIf="gridData.length > 0">
                    <p-column
                            field="name"
                            header="Form Name"
                            [sortable]="true"
                            [filter]="true"
                            filterMatchMode="contains"></p-column>
                    <p-column field="createdOn" header="Created On"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
    <!-- End of Draggable Section -->

</div>
