<div class="ui-g-12">
    <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    <br />
    <div class="card card-w-title">
      <h2>Users</h2>
      <br />

        <p-panel>
          <header class="with-controls">
              <p class="ui-panel-title">List of users</p>
              <p class="controls">
                <button pButton type="button" class="blue-grey-btn" [routerLink]="['add']" id="add" name="add" icon="ui-icon-add" label="Add User"></button>
              </p>
          </header>
          <p-dataTable [value]="allUsers" [paginator]="true" rows="15" [responsive]="true">

              <p-column header="First Name" sortable="true">
                  <template let-userrow="rowData" pTemplate type="body">
                      <!--<a routerLink="details/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
               <a routerLink="details/{{userrow.userId}}">{{userrow.firstName}}</a>
                      </template>
             </p-column>
              <p-column header="Last Name" field="lastName" sortable="true">
                  <!--<template let-taskrow="rowData" pTemplate type="body">
                      {{userrow.lastName}}
                  </template>-->
              </p-column>
              <p-column header="Role" field="roleName" sortable="true">
                  <!--<template let-taskrow="rowData" pTemplate type="body">

                  </template>-->
              </p-column>
              <p-column header="Last Logged On" field="lastLoggedIn" sortable="true">
                  <!--<template let-taskrow="rowData" pTemplate type="body">

        </template>-->
              </p-column>
              <p-column header="Department" field="departmentName" sortable="true">
                  <!--<template let-userrow="rowData" pTemplate type="body">

                    </template>-->
              </p-column>
              


          </p-dataTable>
        </p-panel>
    </div>
</div>
