<div class="ui-g-12">
    <div class="card card-w-title">
      <h2> Create New User</h2>
      <br />

        <p-panel>
          <header class="with-controls">
              <p class="ui-panel-title">Users</p>
              <p class="controls">
                <button pButton type="button" class="blue-grey-btn" [routerLink]="['add']" id="add" icon="ui-icon-add" label="Assign User"></button>
              </p>
          </header>
          <p-dataTable [value]="allUsers" [paginator]="true" rows="15" [responsive]="true">

              <p-column header="First Name" sortable="true">
                  <template let-userrow="rowData" pTemplate type="body">
                      <!--<a routerLink="details/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
               <a routerLink="details/{{userrow.userId}}">{{userrow.firstName}}</a>
                      </template>
             </p-column>
              <p-column header="Last Name" field="lastName" sortable="true">
                  <!--<template let-taskrow="rowData" pTemplate type="body">
                      {{userrow.lastName}}
                  </template>-->
              </p-column>
              <p-column header="Role" field="lastName" sortable="true">
                  <!--<template let-taskrow="rowData" pTemplate type="body">

                  </template>-->
              </p-column>
              <p-column header="Department" field="departmentName" sortable="true">
                  <!--<template let-userrow="rowData" pTemplate type="body">

                    </template>-->
              </p-column>
              <p-column>
                  <template pTemplate type="header">
                      <button type="button" pButton icon="fa-refresh"></button>
                  </template>
                  <template let-taskrow="rowData" pTemplate type="body">

                      <button id="details" pButton type="button" label="Details" routerLink="details/{{taskrow.id}}"></button>
                  </template>
              </p-column>


          </p-dataTable>
        </p-panel>
    </div>
</div>
