<h1 [innerHTML]="title || ''"></h1>
<p-dataTable [value]="gridData"
             [lazy]="true"
             [paginator]="true"
             [rows]="confInfo.PageSize"
             [(selection)]="selectedItem"
             selectionMode="single"
             (onRowSelect)="navigateTo(selectedItem)"
             [totalRecords]="confInfo.TotalRecords"
             (onLazyLoad)="loadFresh($event)"
             *ngIf="gridData.length >0 || lazyLoadingData === true">
    <p-column *ngFor="let col of cols"
              [field]="col.Field"
              [header]="col.Header"
              [sortable]="col.Sortable"
              [filter]="col.ShowFilter"
              filterMatchMode="contains"
              [hidden]="col.Hidden">
    </p-column>
</p-dataTable>
<div *ngIf="gridData.length === 0 && lazyLoadingData === false">
    <titan-spinner></titan-spinner>
</div>