<div class="ui-g">
    <div class="ui-g-12">
        <h3> Task Details</h3>      

                    
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive" style="min-height:400px;">
                            <p-dataTable [value]="sensorRequests" [paginator]="true" rows="15" [responsive]="true">
                                <p-column header="Sensor Name" field="name" sortable="true"></p-column>


                                <p-column header="Comments" field="comment" sortable="true"></p-column>
                            

                            </p-dataTable>
                        </div>
                    </div>


                </div>

          
       
</div>
</div>