<div class="ui-g-12">
    <div class="card card-w-title">
        <h1> Equipment </h1>
        <div class="ui-grid-row">
            <!--<a routerLink="add"><i class="fa ui-icon-add"></i>Add New Template</a>-->
            <grid-data 
                [gridData]="gridData"
                [cols]='cols'
                [confInfo]="confInfo"
                [dataService]="service"
                (navigateToDetails)="navigateDetails($event)"
                [title]="title"></grid-data>
        </div>
    </div>
</div>
