<div class="ui-g-12">
    <div class="card card-w-title">
        <h1>Edit TestMode </h1>

        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
            <br/>
            <p-panel>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            TestMode Name * :
                        </div>
                        <div class="ui-grid-col-4">
                            <!--[(ngModel)]="testModeDetails.name" #testModeDetailsNameRef="ngModel"-->
                            <input type="text" pInputText name="testmodename" [(ngModel)]="testModeDetails.name" #testModeDetailsNameRef="ngModel"
                                placeholder="TestMode Name" minlength="3" class="form-control" required row="20" />
                        </div>
                        <!--<div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="testModeDetailsNameRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter TestMode Name
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="testModeDetailsNameRef.errors?.minlength">
                                MinLength-3
                            </div>

                        </div>-->
                        <div class="ui-grid-col-4">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Select Test Type:
                                </div>
                                <div class="ui-grid-col-6">
                                 
                                    <!--<p-multiSelect [options]="testTypeDetails" [(ngModel)]="selectedTestTypes" #testTypeList="ngModel"  name="testType"></p-multiSelect>-->
                                    <p-pickList [source]="allTestTypes" [target]="selectedTestTypes">
                                        <template let-testtype>
                                            <div class="ui-helper-clearfix">
                                                <!--<img src="showcase/resources/demo/images/car/{{car.brand}}.gif" style="display:inline-block;margin:2px 0 2px 2px" />-->
                                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{testtype.label}}</div>
                                            </div>
                                        </template>
                                    </p-pickList>
                                </div>
                              
                                <div class="ui-grid-col-4"></div>
                            </div>
                        </div>
                      
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Description * :
                        </div>
                        <div class="ui-grid-col-6">
                            <!--[(ngModel)]="testTypeDetails.description"  #testModeDetailsDescriptionRef="ngModel"-->
                            <textarea type="text" pInputTextArea class="form-control col-sm-12" [(ngModel)]="testTypeDetails.description"  #testModeDetailsDescriptionRef="ngModel"  required name="description"  row="50" maxlength="250"
                                ></textarea>
                        </div>
                        <!--<div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="testModeDetailsDescriptionRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter TestMode Description
                            </div>
                             <div class="ui-message ui-messages-error ui-corner-all" *ngIf="testModeDetailsDescriptionRef.errors?.maxlength">
                                MaxLength-250
                            </div>
                        </div>-->
                    </div>
                   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                        </div>
                        <div class="ui-grid-col">
                            <button id="edit" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-edit" label="Save">  </button>
                        </div>
                        <div class="ui-grid-col">
                            <button id="cancel" pButton type="button" label="Cancel" routerLink="/vehicle/testMode" [style]="{'width':'20px'}">  </button>
                        </div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>