<div class="ui-g-12">
<p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
    <div class="card card-w-title">
    <p-growl [value]="msgs"></p-growl>
    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h2> Add Requirement ItemType </h2>
         <p-panel header="Information">
            <div class="body">
                <div class="ui-grid-row">
                    <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" id="name"  #requirementItemTypeDetailsNameRef="ngModel" [(ngModel)]="name"
                                       minlength="3"  required style="width:100%">
                                <label>Requirement ItemType Name <span >*</span></label>
                    </div>
                </div>
            </div><br />
            <footer>
                <button id="cancel" name="cancel"  pButton type="button" label="Cancel" routerLink="/admin/vehicle/requirementItemType"  class="blue-grey-btn"  icon="ui-icon-close">  </button>
                <button id="save" name="save"  pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-save" label="Add" class="green-btn">  </button>
            </footer>
            <br />

        </p-panel>
    </form>
</div>
</div>