<div class="ui-g-12">

    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h3> Add Requirement ItemType </h3>
        <br />
        <p-panel>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Requirement ItemType Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="name" name="name" pInputText [(ngModel)]="name" placeholder="Requirement ItemType Name" minlength="3"
                            #requirementItemTypeDetailsNameRef="ngModel" class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="requirementItemTypeDetailsNameRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="requirementItemTypeDetailsNameRef.errors?.minlength">
                            MinLength-3

                        </div>

                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <button id="add" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-add" label="Add">  </button>
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                        <button id="cancel" pButton type="button" label="Cancel" routerLink="/vehicle/requirementItemType">  </button>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </p-panel>
    </form>
</div>