<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h2>Edit Torque Sheet</h2><br />
            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                <p-panel header="Torque Sheet">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="torqueSheetDetails">
                        
                        <div class="ui-grid-row ">
                            <div class="ui-g-12 ui-md-6">
                                <span [class]="latestVersionStyle">{{latestVersionText}}</span>
                            </div>
                            <div class="ui-g-12 ui-md-6" style="text-align:right">
                                <button pButton type="button" class="blue-grey-btn" icon="ui-icon-insert-photo" style="width:auto" label="Insert Picture" id="addpicture" (click)="onInsertPictueClick()"></button>
                              </div>
                        </div>
                        <div class="ui-grid-row ">
                            <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Torque Sheet Name *:</p>
                              <p-dropdown [options]="torqueSheetNames" [(ngModel)]="torqueSheetDetails.nameId" 
                                            name="newTorqueSheetNameId" required #newTorqueSheetNameRef 
                                            [style]="{'width':'100%','color':'#777'}">
                                </p-dropdown>
                            </div>
                            <div class="ui-g-12 ui-md-6" *ngIf="torqueSheetDetails.otherVersions">
                              <p style="color:#777">Other Versions :</p>
                              <p-dropdown [options]="torqueSheetDetails.otherVersions" [(ngModel)]="otherVersionId" 
                                            name="otherVersion" (onChange)="onVersionChange()"
                                            [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <p style="color:#777">Torque Sheet Status : {{torqueSheetDetails.torqueSheetStatus}}</p>
     
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <p style="color:#777">Version : {{torqueSheetDetails.version}}</p>
                            </div>
                           
                        </div><br />
                        <div class="hidden" style="display:none">
                            <input type="file" name="image" id="fileSelector" #fileSelector (change)="onPictureSelect()" />
                        </div>
                        <div class="ui-grid-row">
                            <div id="torqueSheetSpreadContainer" style="width:100%; height:500px; border: 1px solid gray">
                            </div>
                        </div>
                    </div><br />
                    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
                    <div class="ui-grid-row" *ngIf="torqueSheetDetails" style="text-align:right">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button id="add" pButton type="submit" class="green-btn" icon="ui-icon-save" [disabled]="!tfForm.form.valid" label="Save" *ngIf="torqueSheetDetails.isSaveVersionVisible">  </button>
                                <button id="cancel" pButton type="button"  class="blue-grey-btn" icon="ui-icon-close"  label="Cancel" (click)="onCancel()">  </button>
                                <button id="submit" pButton type="button"  class="blue-grey-btn" icon="ui-icon-publish"  label="Submit For Approval" (click)="onSubmitForApproval()" *ngIf="torqueSheetDetails.isSubmitForApprovalVisible">  </button>
                                <button id="approve" pButton type="button"  class="blue-grey-btn"  icon="ui-icon-check" label="Approve" (click)="onApprove()" *ngIf="torqueSheetDetails.isApproveVersionVisible">  </button>
                                <button id="reject" pButton type="button"  class="blue-grey-btn"  icon="ui-icon-eject" label="Reject" (click)="onReject()" *ngIf="torqueSheetDetails.isRejectVersionVisible">  </button>
                                <button id="createNewVersion" pButton type="button" class="blue-grey-btn" icon="ui-icon-close"   label="Create New Version" (click)="onCreateNewVersion()" *ngIf="torqueSheetDetails.isRequestForNewVersionVisible">  </button>
                            </div>
                        </div>
                    </div><br />
                </p-panel>
                <br />
                <br />
            </form>
        </div>
    </div>
</div>

<p-dialog header="Send Email" [(visible)]="displayApproverEmail" modal="modal" showEffect="fade" width="700">
    <form #sendApproverEmailForm>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>To:</b></div>
            <div class="ui-grid-col-10">
                <p-autoComplete [(ngModel)]="filteredSelectedApprovers" [suggestions]="filteredApprovers"
                                (completeMethod)="filterApprovers($event)" styleClass="wid100" name="approverTo"
                                [minLength]="1" placeholder="Search by Name" field="displayName" id="autoCompleteApprover" [multiple]="true">
                </p-autoComplete>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Subject:</b></div>
            <div class="ui-grid-col-10">
                <p-editor name="subjectEditor" [(ngModel)]="subject" [style]="{'height':'320px'}"></p-editor>
            </div>
        </div>
    </form>
    <br />
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="onSendEmailCancel()" label="Cancel"></button>
            <button type="button" pButton icon="ui-icon-save" (click)="onSendEmail()" label="Send Email Request"></button>
        </div>
    </footer>
</p-dialog>