<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                <h3> Edit Torque Sheet </h3>
                <p-panel>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="torqueSheetDetails">
                        <span [class]="latestVersionStyle">{{latestVersionText}}</span>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Torque Sheet Name *:
                            </div>
                            <div class="ui-grid-col-3">
                                <p-dropdown [options]="torqueSheetNames" [(ngModel)]="torqueSheetDetails.nameId" [style]="{'width':'auto'}"
                                            name="newTorqueSheetNameId" required #newTorqueSheetNameRef placeholder="Required">
                                </p-dropdown>
                            </div>
                            <div class="ui-grid-col-2" *ngIf="newTorqueSheetNameRef.errors?.required">
                                Torque Sheet Name field is required
                            </div>

                            <div class="ui-grid-col-2">
                                Torque Sheet Status:
                            </div>
                            <div class="ui-grid-col-3">
                                {{torqueSheetDetails.torqueSheetStatus}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Version:
                            </div>
                            <div class="ui-grid-col-3">
                                {{torqueSheetDetails.version}}
                            </div>

                            <div class="ui-grid-col-2" *ngIf="torqueSheetDetails.otherVersions">
                                Other Versions:
                            </div>
                            <div class="ui-grid-col-3" *ngIf="torqueSheetDetails.otherVersions">
                                <p-dropdown [options]="torqueSheetDetails.otherVersions" [style]="{'width':'auto'}" [(ngModel)]="otherVersionId" 
                                            name="otherVersion" (onChange)="onVersionChange()">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="hidden" style="display:none">
                            <input type="file" name="image" id="fileSelector" #fileSelector (change)="onPictureSelect()" />
                        </div>
                        <button type="button" class="btn btn-default btn-toolbar localize-tooltip" id="addpicture" (click)="onInsertPictueClick()"
                                title="Insert Picture">
                            <span class="fa fa-picture-o fa-2x">Insert Pic.</span>
                        </button>
                        <div class="ui-grid-row">
                            <div id="torqueSheetSpreadContainer" style="width:95%; height:500px; border: 1px solid gray">
                            </div>
                        </div>
                    </div>
                    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
                    <div class="ui-grid-row" *ngIf="torqueSheetDetails">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button id="add" pButton type="submit" [disabled]="!tfForm.form.valid" label="Save" *ngIf="torqueSheetDetails.isSaveVersionVisible">  </button>
                                <button id="cancel" pButton type="button" label="Cancel" (click)="onCancel()">  </button>
                                <button id="submit" pButton type="button" label="Submit For Approval" (click)="onSubmitForApproval()" *ngIf="torqueSheetDetails.isSubmitForApprovalVisible">  </button>
                                <button id="approve" pButton type="button" label="Approve" (click)="onApprove()" *ngIf="torqueSheetDetails.isApproveVersionVisible">  </button>
                                <button id="reject" pButton type="button" label="Reject" (click)="onReject()" *ngIf="torqueSheetDetails.isRejectVersionVisible">  </button>
                                <button id="createNewVersion" pButton type="button" label="Create New Version" (click)="onCreateNewVersion()" *ngIf="torqueSheetDetails.isRequestForNewVersionVisible">  </button>
                            </div>
                        </div>
                    </div>
                </p-panel>
                <br />
                <br />
            </form>
        </div>
    </div>
</div>