<div class="ui-g-12">
<p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
   <div class="card card-w-title">
    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h2> Add Milestone Event </h2>
        <p-panel header="Information">
            <div class="body">
                <div class="ui-grid-row">
                    <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" pInputText name="name" id="name"  #milestoneEventDetailsNameRef="ngModel" [(ngModel)]="name"
                                           minlength="3"  required style="width:100%">
                                    <label>Milestone Event Name <span >*</span></label>
                        </div>
                </div>
            </div><br />
            <footer>
                <button id="cancel" pButton type="button" label="Cancel" routerLink="/admin/vehicle/milestoneEvent" icon="ui-icon-close" class="blue-grey-btn">  </button>
                <button id="add" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-save" label="Add" class="green-btn">  </button>
            </footer>
            <br />
        </p-panel>
    </form>
    </div>
</div>