<div class="ui-g-12">
    <div class="card card-w-title">
                <h3> User Details</h3>

            <p-growl [value]="msgs"></p-growl>
            <div class="subsection">

                <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                    <!-- Begin Panel - Test Facility Name and Location -->

                    <p-panel header="Information">

                        <div class="body">

                            <!-- Begin Name -->

                            <div class="ui-grid-row ">


                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText name="firstName" [(ngModel)]="userProfile.firstName"
                                           minlength="3" class="form-control" required row="20">
                                    <label>First Name *</label>
                                </div>
                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText name="lastName" class="form-control" required row="20" [(ngModel)]="userProfile.lastName">
                                    <label>Last Name *</label>
                                </div>
                                <!--<p class="helper error" *ngIf="firstNameRef.errors?.required || firstNameRef.errors?.minlength">At least three characters</p>-->

                            </div>
                            <div class="ui-grid-row ">
                                <div class="ui-g-12 ui-md-6">
                                    <p style="color:#777">Department :</p>
                                    <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="departments" (onChange)="onDepartmentChange($event)" [(ngModel)]="userProfile.departmentId" name="departments" [autoWidth]="false"></p-dropdown>

                                </div>
                            </div><br /><br />

                            <div class="ui-grid-row ">
                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText class="form-control"  row="20" name="emailAddress" [(ngModel)]="userProfile.emailAddress"
                                         >
                                    <label>Email Address</label>
                                </div>
                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" style="width:100%" pInputText class="form-control"  row="20" name="phoneNumber" [(ngModel)]="userProfile.firstName">
                                    <label>Phone Number</label>
                                </div>
                            </div>
                            <div class="ui-grid-row ">
                                <div class="ui-g-12 ui-md-6">
                                    <p style="color:#777">Role :</p>
                                    <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="titanRoles" (onChange)="onTitanRoleChange($event)"  name="titanRoles" [autoWidth]="false"></p-dropdown>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <p style="color:#777">Time Zone :</p>
                                    <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="timeZones" (onChange)="onTimeZoneChange($event)" [(ngModel)]="userProfile.defaultTimeZoneId" name="timeZones" [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>


                        </div>

                        <footer>
                            <p>* indicates required field</p>
                            <button pButton type="submit" [disabled]="!tfForm.valid" label="Save" class="green-btn" icon="ui-icon-save"></button>
                        </footer><br />

                    </p-panel>

                    <!-- End Panel - Test Facility Name and Location -->

                </form>

            </div>


        <div class="subsection">

            <form>

                <!-- Begin Dialog - Assign User Role -->

                <p-dialog header="Assign Function Group" [(visible)]="displayFunctionGroupDialog" modal="modal" showEffect="fade" responsive="true" width="500">

                    <p>Please select function groups or tenants.</p>

                    <!-- Begin Users -->


                    <div class="input-row">

                            <div class="ui-g-4"><b>Function Group :</b></div>

                            <div class="ui-g-8"><p-dropdown [options]="functionGroups" [style]="{'width':'100%'}" (onChange)="onFunctionGroupChange($event)" name="functionGroups" [autoWidth]="false"></p-dropdown>
                            </div>
                    </div>

                    <!-- End Users -->
                    <!-- Begin Role -->

                    <!-- <div class="input-row"> -->

                        <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                        <!-- <span class="pseudo-label">Tenants</span> -->

                        <!--<p-dropdown [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [autoWidth]="false"></p-dropdown>-->

                    <!-- </div> -->

                    <!-- End Role -->
                    <br /><br />
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <div style='float:left;padding:0.85em'>
                              <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open"
                                          [(ngModel)]="IsKeepOpen" binary="true"></p-checkbox>
                            </div>
                            <button type="button" pButton icon="ui-icon-close" (click)="displayFunctionGroupDialog=false" label="Cancel"></button>
                            <button type="button" pButton icon="ui-icon-save" (click)="onAddFunctionGroup()" label="Assign Function Group"></button>
                        </div>
                    </footer>

                </p-dialog>

                <!-- End Dialog - Assign User Role -->
                <!-- Begin Panel - Test Facility Users -->

                <p-panel>

                    <header class="with-controls">
                        <p class="ui-panel-title"> Function Groups </p>
                        <p class="controls"><button type="text" (click)="displayFunctionGroupDialog=true" class="blue-grey-btn" pButton icon="ui-icon-person-add" label="Assign Function Group"></button></p>
                    </header>

                    <div class="ui-grid-row">

                        <p-dataTable [value]="userFunctionGroups" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                            <p-column field="name" header="Function Group Name" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                            <!--<p-column field="role" header="Role" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>-->
                            <p-column header="Action">
                                <template let-FunctionGroup="rowData" pTemplate type="body">
                                    <button pButton type="button" class="red-btn" icon="ui-icon-remove-circle" (click)="onRemoveFunctionGroupMap(FunctionGroup)" label="Delete"></button>
                                </template>
                            </p-column>
                        </p-dataTable>

                    </div>

                </p-panel>

                <!-- End Panel - Test Facility Users -->

            </form>

        </div>

        <div class="subsection">

            <form>

                <!-- Begin Dialog - Assign User Role -->

                <p-dialog header="Assign Tenant" [(visible)]="displayTenantDialog" modal="modal" showEffect="fade" responsive="true" width="400">

                    <p>Please select  tenants.</p>

                    <!-- Begin Users -->


                    <div class="input-row">

                        <label>
                            <b>Tenants :</b>

                            <div class="ui-g-8">
                                <p-dropdown [options]="tenants" [style]="{'width':'100%'}" (onChange)="onTenantChange($event)" name="tenants" [autoWidth]="false"></p-dropdown>
                            </div>
                        </label>

                    </div>

                    <!-- End Users -->
                    <!-- Begin Role -->



                    <!-- End Role -->
                    <br />
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                          <div style='float:left;padding:0.85em'>
                            <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open"
                                        [(ngModel)]="IsKeepOpen" binary="true"></p-checkbox>
                          </div>
                            <button type="button" pButton icon="ui-icon-close" (click)="displayTenantDialog=false" label="Cancel"></button>
                            <button type="button" pButton icon="ui-icon-save" (click)="onAddTenant()" label="Assign Tenant"></button>
                        </div>
                    </footer>

                </p-dialog>

                <!-- End Dialog - Assign User Role -->
                <!-- Begin Panel - Test Facility Users -->

                <p-panel>

                    <header class="with-controls">
                        <p class="ui-panel-title"> Tenants </p>
                        <p class="controls"><button type="text" (click)="displayTenantDialog=true" class="blue-grey-btn" pButton icon="ui-icon-person-add" label="Assign Tenant"></button></p>
                    </header>

                    <div class="ui-grid-row">

                        <p-dataTable [value]="userTenants" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                            <p-column field="tenantName" header="Tenant Name" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                            <p-column field="isInheritedPermission" header="Inherited Permission" sortable="true"></p-column>
                            <!--<p-column field="role" header="Role" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>-->
                            <p-column header="Action">
                                <template let-UserTenant="rowData" pTemplate type="body">
                                    <button pButton type="button" class="red-btn" icon="ui-icon-remove-circle" (click)="onRemoveUserTenantMap(UserTenant)" label="Delete"></button>
                                </template>
                            </p-column>
                        </p-dataTable>

                    </div>

                </p-panel>

                <!-- End Panel - Test Facility Users -->

            </form>

        </div>

</div>
</div>
