
    <header>
        <h1>Build Level Milestone Map</h1>
        <button pButton type="button" icon="ui-icon-add" label="Select Build Levels"></button>
    </header>
<div class="card card-w-title">
    <div class="ui-g">

        <div class="ui-g-12">
            <div class="ui-g-2" *ngFor="let item of buildLevels">
                <p-checkbox
                        name="buildLevels"
                        value="{{item.id}}"
                        label="{{item.name}}"
                        (onChange)="addToProject($event, item)"
                        [(ngModel)]="selectedNewBuildLevels">
                </p-checkbox>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isBuildLevelData">
    <div class="table">
        <div class="row header blue">
            <div class="cell" *ngFor="let item of buildLevelsColHeaders">
                <span style="width:75px;padding:1px;">{{item.name}}</span>
            </div>
        </div>
        <div class="row" *ngFor="let row of mileStoneBuildLevel; let ii = index;">
            <div class="cell">{{ mileStones[ii].name}}</div>
            <template ngFor let-item [ngForOf]="row">
                <div class="cell" *ngIf="item.enabled">
                    <label>Start Date:</label>
                    <input [style.border]="item.startDateErrorColor" (ngModelChange)="validateStartDate($event,item)" type="date" [(ngModel)]="item.plannedStartDate">
                    <label>End Date:</label>
                    <input [style.border]="item.endDateErrorColor" (ngModelChange)="validateEndDate($event,item)" type="date" [(ngModel)]="item.plannedEndDate">
                </div>
            </template>

        </div>
    </div>
</div>
<div class="ui-grid-row" style="text-align:right" *ngIf="isBuildLevelData">
    <button
            type="text"
            pButton
            [disabled]="formIsValid"
            label="Save"
            icon="fa-plus"
            iconPos="right"
            class="indigo-btn"
            (click)="saveGrid($event)">
    </button>
</div>
<div class="ui-g-12">
    <p-growl [value]="msgs" life="3000"></p-growl>
</div>