<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <p-tabView>
            <p-tabPanel header="Details ||">
                <!--<h1>Details Panel</h1>-->
                <form #testTemplateForm="ngForm" (ngSubmit)="onSubmit()">
                    <p-panel header="Information">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="testTemplate">
                            <!--<div class="ui-grid-row body">-->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Test Template Name *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text" name="testTemplateName" pInputText #testTemplateNameRef="ngModel" [(ngModel)]="testTemplate.name" maxlength="255"
                                        placeholder="Name" class="form-control" required />
                                </div>
                                <div class="ui-grid-col-4" *ngIf="testTemplateNameRef.errors?.required">
                                    *
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Description *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text" pInputTextArea class="form-control" required name="testTemplateDescription" row="20" maxlength="4000"
                                        #testTemplateDescriptionRef="ngModel" [(ngModel)]="testTemplate.description"></textarea>
                                </div>
                                <!--<div class="ui-grid-col-4" *ngIf="testTemplateDescriptionRef.errors?.required">
                                    *
                                </div>-->
                            </div>

                            <!--<div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Test Type:
                                </div>
                                <div class="ui-grid-col-10" >
                                    <p-dropdown [options]="testTypes" [(ngModel)]="testTemplate.testTypeId" [style]="{'width':'auto'}" (onChange)="onTestTypeChange()" name="testTypeId">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Test Mode:
                                </div>
                                <div class="ui-grid-col-10">
                                    <p-dropdown [options]="testModes" [(ngModel)]="testTemplate.testModeId" [style]="{'width':'auto'}" (onChange)="onTestModeChange()" name="testModeId">

                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Estimated Cost:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="number" name="estimatedCost" pInputText #estimatedCostRef="ngModel" [(ngModel)]="testTemplate.estimatedCost"
                                        max="999999999999" placeholder="Estimated Cost" class="form-control" required />
                                </div>
                            </div>-->
                        </div>
                        <footer>
                            <button pButton type="submit" icon="ui-icon-save" label="Save" [disabled]="!testTemplateForm.form.valid"></button>
                        </footer>

                        <!--</div>-->
                    </p-panel>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Requirement(s) ||" leftIcon="fa fa-print">
              <p-panel header="Test Requirement Numbers">
                <div class="ui-grid-row">
                    <div class="ui-g">
                        <div class="ui-g-2">
                            Search by Reference#:
                        </div>
                        <div class="ui-g-2">
                            <p-autoComplete [(ngModel)]="filteredSelectedTestRequirements" [suggestions]="filteredTestRequirements"
                                            (completeMethod)="filterTestRequirements($event)" styleClass="wid100"
                                            [minLength]="1" placeholder="Search by Reference#" field="referenceNumber" [multiple]="true">
                            </p-autoComplete>
                        </div>
                        <div class="ui-g-2">
                            <button  pButton type="submit" icon="ui-icon-add" (click)="onAddTestRequirement()" label="Add Requirement"></button>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <p-dataTable [value]="selectedTestRequirements" [paginator]="true" rows="15" [responsive]="true">
                        <p-column field="referenceNumber" header="Reference#" sortable="true"></p-column>
                        <p-column field="title" header="Title" sortable="true"></p-column>
                        <p-column sortable="true">
                            <template pTemplate type="header">
                                Action
                            </template>
                            <template let-testRequirement="rowData" pTemplate type="body">
                                <button type="button" pButton (click)="onDeleteTestRequirement(testRequirement)" icon="fa-trash"></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
              </p-panel>
            </p-tabPanel>
            <p-tabPanel header="Procedure(s) ||">
              <p-panel header="Test Requirement Numbers">
                <div class="ui-grid-row">
                  <div class="ui-g">
                    <div class="ui-g-2">
                        Search by Procedure Name:
                    </div>
                    <div class="ui-g-2">
                        <p-autoComplete [(ngModel)]="filteredSelectedProcedures" [suggestions]="filteredProcedures" (completeMethod)="filterProcedures($event)"
                            styleClass="wid100" [minLength]="1" placeholder="Search by Name" field="name" [multiple]="true">
                        </p-autoComplete>
                    </div>

                    <div class="ui-g-2">
                        <button pButton type="submit" icon="ui-icon-add" label="Add Procedure" (click)="onAddProcedure()"> </button>
                    </div>
                  </div>
                </div>

                <!--<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>-->
                <div class="ui-grid-row">
                    <p-dataTable [value]="selectedProcedures" expandableRows="true" [paginator]="true" rows="15" (onRowExpand)="onLoadProcedureSteps($event)">
                        <p-column expander="true" [style]="{'width':'30px'}" styleClass="col-icon"></p-column>
                        <p-column field="name" header="Name" sortable="true"></p-column>
                        <p-column field="description" header="Description" sortable="true"></p-column>
                        <p-column field="testTypeName" header="Test Type" sortable="true"></p-column>
                        <p-column field="testModeName" header="Test Mode" sortable="true"></p-column>
                        <p-column field="estimatedTime" header="Estimated Time" sortable="true"></p-column>
                        <!--<p-column field="title" header="Title"></p-column>-->
                        <p-column>
                            <template pTemplate type="header">
                                Action
                            </template>
                            <template let-procedure="rowData" pTemplate type="body">
                                <button type="button" pButton (click)="onDelete(procedure)" icon="fa-trash"></button>
                                <button type="button" pButton (click)="onMoveProcedureUp(procedure)" icon="fa-arrow-up" *ngIf="isUpButtonVisible(procedure)" title="Move Up"></button>
                                <button type="button" pButton (click)="onMoveProcedureDown(procedure)" icon="fa-arrow-down" *ngIf="isDownButtonVisible(procedure)" title="Mode Down"></button>
                            </template>
                        </p-column>
                        <template let-procedure pTemplate="rowexpansion">
                            <p-dataTable [value]="procedure.steps" expandableRows="true" *ngIf="procedure.steps">
                                <p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="stepTypeName" header="Step Type"></p-column>
                                <!--<p-column field="repeatStep" header="Repeat?"></p-column>-->
                                <p-column field="repeatStep" header="Repeat?">
                                    <template let-col let-step="rowData" pTemplate="body">
                                        <span>{{(step.repeatStep ? 'Yes' : 'No')}}</span>
                                    </template>
                                </p-column>
                                <!--<p-column styleClass="col-button" header="Action">
                                    <template let-step="rowData" pTemplate="body">
                                        <button type="button" pButton (click)="onDelete(step, 2)" icon="fa-trash" title="Delete"></button>
                                        <button type="button" pButton (click)="onEditStep(step)" icon="fa-pencil-square-o" title="Edit"></button>
                                        <button type="button" pButton (click)="onMoveStepUp(step)" icon="fa-arrow-up" *ngIf="isUpButtonVisible(step)" title="Move Up"></button>
                                        <button type="button" pButton (click)="onMoveStepDown(step)" icon="fa-arrow-down" *ngIf="isDownButtonVisible(step)" title="Mode Down"></button>
                                    </template>
                                </p-column>-->
                                <template let-step pTemplate="rowexpansion">
                                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                        <div class="ui-grid-row" *ngIf="step.repeatStep">
                                            <div class="ui-grid-col-2">Step Frequency: </div>
                                            <div class="ui-grid-col-2">{{step.stepFrequencyName}}</div>
                                            <div class="ui-grid-col-2">Test % / # of Cycles: </div>
                                            <div class="ui-grid-col-2">{{step.cycleOrTestPercentage}}</div>
                                        </div>
                                    </div>
                                </template>
                            </p-dataTable>
                        </template>
                    </p-dataTable>
                </div>
              </p-panel>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
