<div class="ui-g-12">
    <div class="card card-w-title">
      <p-dialog header="Import From Excel" [(visible)]="displayExcelDialog" [responsive]="true"
                showEffect="fade" [modal]="true" width="500">
              <p>Please select one or more excel file attachments.</p>
              <p-growl [value]="msgs"></p-growl>

              <p-fileUpload name="myfile[]" url="http://titan-preprod.12thwonder.com/api/importExport/importProject"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple="multiple" (onUpload)="onUpload($event)">
            </p-fileUpload>
              <footer>
                  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                      <button type="button" pButton icon="fa-close" id="importCancel"  (click)="displayExcelDialog=false"
                              label="Cancel"></button>
                      <button type="button" pButton icon="fa-check" id="importOk"
                              label="OK"></button>
                  </div>
              </footer>
      </p-dialog>
        <header>
            <h1>Project</h1>
            <button pButton type="button" icon="ui-icon-file-download" label="Import From Excel" (click)="displayExcelDialog=true"></button>
            <button pButton type="button" [routerLink]="['add']" icon="ui-icon-add" label="Add New Project"></button>

        </header>
        <div class="ui-grid-row">
            <grid-data
                [gridData]="gridData"
                [cols]='cols'
                [confInfo]="confInfo"
                [dataService]="service"
                (navigateToDetails)="navigateDetails($event)"
                [title]="title"></grid-data>
        </div>
    </div>
</div>
