            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)" *ngIf="stepDetails">
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Step Name *
                            </div>
                            <div class="ui-g-8">
                                <input type="text" name="stepName"  id="stepName" pInputText [(ngModel)]="stepDetails.name" placeholder="Please enter Step Name" class="form-control" style="width:100%"
                                    required #stepNameRef="ngModel"/>
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Test Stage
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="testStages" [(ngModel)]="stepDetails.testStageId" name="testStage"  id="testStage" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Repeat
                            </div>
                            <div class="ui-g-8">
                                 <div class="ui-g-3"><p-radioButton name="repeat" value="true" id="repeatyes" [(ngModel)]="stepDetails.repeatStep" label="Yes" (onClick)="onRepeatChange(true)"></p-radioButton></div>
                                <div class="ui-g-3"><p-radioButton name="repeat" value="false" id="repeatno" [(ngModel)]="stepDetails.repeatStep" label="No" (onClick)="onRepeatChange(false)"></p-radioButton></div>                            
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails">
                            <div class="ui-g-4">
                                Step Frequency
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="stepFrequencies" [(ngModel)]="stepDetails.stepFrequencyId"  (onChange)="onStepFrequencyChange()" name="stepFrequency" id="stepFrequency" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails && showTestOrCycle">
                            <div class="ui-g-4"> 
                                Test % / # of Cycles
                            </div>
                            <div class="ui-g-8">
                                <input type="text" name="testOrCycle"  id="testOrCycle" pInputText [(ngModel)]="stepDetails.cycleOrTestPercentage" placeholeder="Please enter Test % / # of Cycles"
                                    class="form-control"/>
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Step Type
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown #stepTypeRef="ngModel" [options]="stepTypes" [(ngModel)]="stepDetails.stepTypeId"  (onChange)="onStepTypeChange()" name="stepType"  id="stepType" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="stepTypeDetailList">
                            <div class="ui-g-4">
                                {{stepTypeDetailLabelText}}
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="stepTypeDetailList" [(ngModel)]="stepDetails.stepTypeDetailIds" name="stepTypeDetail" id="stepTypeDetail"></p-multiSelect>                                
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="isModuleDivVisible">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-10">&nbsp;
                            </div>
                            <div class="ui-grid-col-2">
                                <button id="addModule" pButton type="button" *ngIf="!isAddModuleVisible" label="{{addStepTypeDetailLabelText}}" (click)="onAddModule()">  </button>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <module-component *ngIf="isAddModuleVisible" (onAddModuleComplete)="onAddModuleComplete($event)" (onCancelModuleComplete)="onCancelModuleComplete($event)"></module-component>
                                </div>
                            </div>
                        </div>
                        <p-dataTable [value]="stepModules" expandableRows="true">
                            <p-column expander="true" styleClass="col-icon" [style]="{'width':'22px'}"></p-column>
                            <p-column field="name" header="Name"></p-column>
                            <p-column field="description" header="Description"></p-column>
                            <!--<p-column styleClass="col-button" header="Action">
                                <template let-step="rowData" pTemplate="body">
                                    <button type="button" pButton (click)="onDelete(step, 2)" icon="fa-trash" title="Delete"></button>
                                    <button type="button" pButton (click)="onEditStep(step)" icon="fa-pencil-square-o" title="Edit"></button>
                                    <button type="button" pButton (click)="onMoveStepUp(step)" icon="fa-arrow-up" *ngIf="isUpButtonVisible(step)" title="Move Up"></button>
                                    <button type="button" pButton (click)="onMoveStepDown(step)" icon="fa-arrow-down" *ngIf="isDownButtonVisible(step)" title="Mode Down"></button>
                                </template>
                            </p-column>-->
                            <template let-step pTemplate="rowexpansion">
                                <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                    <div class="ui-grid-row" *ngIf="step.repeatStep">
                                        <div class="ui-grid-col-2">Step Frequency: </div>
                                        <div class="ui-grid-col-2">{{step.stepFrequencyName}}</div>
                                        <div class="ui-grid-col-2">Test % / # of Cycles: </div>
                                        <div class="ui-grid-col-2">{{step.cycleOrTestPercentage}}</div>
                                    </div>
                                </div>-->
                            </template>
                        </p-dataTable>
                     </div>
                    <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <button type="button" pButton icon="ui-icon-close" id="cancel"
                                            (click)="onCancel()" label="Cancel"></button>
                                    <button type="button" pButton icon="ui-icon-save"  id="add" [disabled]="!tfForm.form.valid"
                                            label="Add"></button>
                                </div>
                    </footer>
            </form>
            <div class="ui-grid-row">
                <attachment-component title="Attachments" entityType="Step" [entityId]="id"></attachment-component>
            </div>
            <p-dialog header="Add Module" [(visible)]="displayModulePopUp" width="800" height="600" [style]="{'overflow-y':'auto'}">
                <module-component (onAddModuleComplete)="onAddModuleComplete($event)" (onCancelModuleComplete)="onCancelModuleComplete($event)"></module-component>
            </p-dialog>
