<div class="ui-g">
    <div class="ui-g-12">
        <!--<h1> {{title}}</h1>
    <p-tabView>-->
        <div class="card card-w-title">
            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)" *ngIf="stepDetails">

                <p-panel header="Step Details">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Step Name *
                            </div>
                            <div class="ui-grid-col-6">
                                <input type="text" name="stepName" pInputText [(ngModel)]="stepDetails.name" placeholder="Please enter Step Name" class="form-control"
                                       required #stepNameRef="ngModel" />
                            </div>
                            <div class="ui-grid-col-4" *ngIf="stepNameRef.errors?.required">
                                Step Name field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Test Stage
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="testStages" [(ngModel)]="stepDetails.testStageId" name="testStage" [style]="{'width':'150px'}">
                                </p-dropdown>
                            </div>
                            <div class="ui-grid-col-4" *ngIf="stepTypeRef.errors?.required">
                                Test Stage field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Repeat
                            </div>
                            <div class="ui-grid-col-6">
                                <p-radioButton name="repeat" value="true" [(ngModel)]="stepDetails.repeatStep" label="Yes" (onClick)="onRepeatChange(true)"></p-radioButton>
                                <p-radioButton name="repeat" value="false" [(ngModel)]="stepDetails.repeatStep" label="No" (onClick)="onRepeatChange(false)"></p-radioButton>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Step Frequency
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="stepFrequencies" [(ngModel)]="stepDetails.stepFrequencyId" (onChange)="onStepFrequencyChange()" name="stepFrequency">
                                </p-dropdown>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails && showTestOrCycle">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Test % / # of Cycles
                            </div>
                            <div class="ui-grid-col-6">
                                <input type="text" name="testOrCycle" pInputText [(ngModel)]="stepDetails.cycleOrTestPercentage" placeholeder="Please enter Test % / # of Cycles"
                                       class="form-control" />
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Step Type
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown #stepTypeRef="ngModel" [options]="stepTypes" [(ngModel)]="stepDetails.stepType" (onChange)="onStepTypeChange()" name="stepType">
                                </p-dropdown>
                            </div>
                            <div class="ui-grid-col-4" *ngIf="stepTypeRef.errors?.required">
                                Step Type field is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="stepTypeDetailList && isTorqueSheetNameVisible">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                {{stepTypeDetailLabelText}}
                            </div>
                            <div class="ui-grid-col-6">
                                <p-multiSelect [options]="stepTypeDetailList" [(ngModel)]="stepDetails.stepTypeDetailIds" name="stepTypeDetail"></p-multiSelect>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                    <div class="ui-grid-row" >
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <button id="add" pButton type="submit" [disabled]="!tfForm.form.valid" label="Save">  </button>
                            </div>
                            <div class="ui-grid-col-4">
                                <button id="cancel" pButton type="button" label="Cancel" (click)="onCancel()">  </button>
                            </div>
                            <div class="ui-grid-col-6" *ngIf="isModuleDivVisible">
                                <button id="addModule" pButton type="button" *ngIf="!isAddModuleVisible" label="{{addStepTypeDetailLabelText}}" (click)="onAddModule()">  </button>
                            </div>
                            <div class="ui-grid-row" *ngIf="isModuleDivVisible">
                                <div class="ui-grid-col-12">
                                    <module-component [moduleTypeId]="stepDetails.stepTypeId" *ngIf="isAddModuleVisible" (onAddModuleComplete)="onAddModuleComplete($event)" (onCancelModuleComplete)="onCancelModuleComplete($event)"></module-component>
                                </div>
                            </div>
                        </div>
                        <p-dataTable [value]="stepModules" expandableRows="true">
                            <p-column expander="true" styleClass="col-icon" [style]="{'width':'22px'}"></p-column>
                            <p-column field="name" header="Name"></p-column>
                            <p-column field="description" header="Description"></p-column>
                            <!--<p-column styleClass="col-button" header="Action">
                                <template let-step="rowData" pTemplate="body">
                                    <button type="button" pButton (click)="onDelete(step, 2)" icon="fa-trash" title="Delete"></button>
                                    <button type="button" pButton (click)="onEditStep(step)" icon="fa-pencil-square-o" title="Edit"></button>
                                    <button type="button" pButton (click)="onMoveStepUp(step)" icon="fa-arrow-up" *ngIf="isUpButtonVisible(step)" title="Move Up"></button>
                                    <button type="button" pButton (click)="onMoveStepDown(step)" icon="fa-arrow-down" *ngIf="isDownButtonVisible(step)" title="Mode Down"></button>
                                </template>
                            </p-column>-->
                            <template let-item pTemplate="rowexpansion">
                                <module-component [moduleDetails]="item" title="Edit Module" isAddModule="false" addEditModuleText="Save Module" [moduleTypeId]="stepDetails.stepTypeId" (onAddModuleComplete)="onEditModuleComplete($event)" (onCancelModuleComplete)="onCancelModuleComplete($event)"></module-component>
                            </template>
                        </p-dataTable>
                    </div>
                </p-panel>
            </form>
            <div class="ui-grid-row">
                <attachment-component title="Attachments" entityType="Step" [entityId]="id"></attachment-component>
            </div>
            <p-dialog header="Add Module" [(visible)]="displayModulePopUp" width="800" height="600" [style]="{'overflow-y':'auto'}">
                <module-component (onAddModuleComplete)="onAddModuleComplete($event)" (onCancelModuleComplete)="onCancelModuleComplete($event)"></module-component>
            </p-dialog>
        </div>
    </div>
</div>