<div class="ui-g-12">
        <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    <div class="card card-w-title">
        <h2>Edit Shift </h2>

        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
            <p-panel header="Details">
                <div class="body">
                    <div class="ui-grid-row">
                       <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" id="name"  [(ngModel)]="ShiftDetails.name" #shiftDetailsNameRef="ngModel"
                                       minlength="3"  required style="width:100%">
                                <label>Shift Name <span >*</span></label>
                        </div>
                    </div><br />
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Start Time * :
                        </div>
                        <div class="ui-grid-col-4">

                            <input type="text" pInputText name="startTime" [(ngModel)]="ShiftDetails.startTime" #shiftDetailsStartTimeRef="ngModel" placeholder="StartTime"
                                minlength="3" class="form-control" required row="20" />
                        </div>

                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsStartTimeRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter StartTime
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsStartTimeRef.errors?.minlength">
                                MinLength-3
                            </div>

                        </div>
                    </div><br />
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            EndTime * :
                        </div>
                        <div class="ui-grid-col-4">

                            <input type="text" pInputText name="endTime" [(ngModel)]="ShiftDetails.endTime" #shiftDetailsEndTimeRef="ngModel" placeholder="EndTime"
                                minlength="3" class="form-control" required row="20" />
                        </div>
                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsEndTimeRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter EndTime
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsEndTimeRef.errors?.minlength">
                                MinLength-3
                            </div>

                        </div>
                    </div><br />
                    <!--<div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            IsActive :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-toggleButton [(ngModel)]="ShiftDetails.isDeleted" name="isDeleted" #shiftDetailsisDeletedRef="ngModel" [style]="{'width':'50px'}"></p-toggleButton>
                        </div>
                    </div>-->
                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Default Shift :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-toggleButton [(ngModel)]="ShiftDetails.defaultShift" name="defaultShift" #shiftDetailsdefaultShiftRef="ngModel" [style]="{'width':'50px'}"></p-toggleButton>
                        </div>
                    </div>
                     </div><br />
                    <footer>
                        <button id="cancel" pButton type="button" label="Cancel" routerLink="/admin/vehicle/shift"  class="blue-grey-btn" icon="ui-icon-close">  </button>
                        <button id="save" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-save" label="Save" class="green-btn">  </button>
                    </footer>
                    <br />
            </p-panel>
        </form>
    </div>
</div>