<div class="ui-g">

    <div class="ui-g-12">
<p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
<br />
        <div class="card card-w-title">

            <h2>Create New Function Group</h2>

            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">

                <p-messages [value]="notificationMsgs" [closable]="false"></p-messages>
                <!-- Begin Panel - Test Facility Name and Location -->

                <p-panel header="Function Group">

                    <div class="body">

                  

                        <div class="ui-grid-row">

                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <!--<p style="color:#777">Name :</p>-->

                                <input type="text" id="name" pInputText name="name" [(ngModel)]="name"
                                       minlength="3" class="form-control" required row="20" style="width:100%">
                                <label>Name <span>*</span></label>
                            </div>
                        </div><br />

                        <div class="ui-grid-row">

                            <div class="ui-g-12 ui-md-6">
                                <p style="color:#777">Departments :</p>
                                <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="departments" [(ngModel)]="selectedDepartmentId" (onChange)="onDepartmentChange($event)" name="departments" id="departments" [autoWidth]="false"></p-dropdown>
                            </div>
                        </div><br />
                    </div>

                    <footer>
                        <p>* indicates required field</p>
                        <button pButton type="button" icon="ui-icon-close" class="blue-grey-btn" label="Cancel" id="cancel" name="cancel" routerLink="/functiongroup"></button>
                        <button pButton type="submit" icon="ui-icon-save" class="green-btn" label="Add" id="add" name="add" [disabled]="!tfForm.valid"></button>
                    </footer>
                    <br />
                </p-panel>

                <!-- End Panel - Test Facility Name and Location -->

            </form>

        </div>

    </div>

</div>
