<div class="ui-g-12">
    <div class="card card-w-title">
        <h1>Edit DownTime Reason </h1>

        <p-growl [value]="msgs"></p-growl>
        <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
            <!--<form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">-->
            <br/>
            <p-panel>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            DownTime Reason Name * :
                        </div>
                        <div class="ui-grid-col-4">

                            <input type="text" pInputText name="name" [(ngModel)]="DownTimeReasonDetails.name" #downTimeReasonDetailsNameRef="ngModel"
                                placeholder="DownTime Reason Name" minlength="3" class="form-control" required row="20" />
                        </div>
                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="downTimeReasonDetailsNameRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter DownTime Reason Name
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="downTimeReasonDetailsNameRef.errors?.minlength">
                                (MinLength-3)
                            </div>

                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Description * :
                        </div>
                        <div class="ui-grid-col-6">
                            <textarea type="text" pInputTextArea class="form-control" required name="description" row="20" maxlength="4000" #downTimeReasonDetailsDescriptionRef="ngModel"
                                [(ngModel)]="DownTimeReasonDetails.description"></textarea>
                        </div>
                        <div class="ui-grid-col-4">

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="downTimeReasonDetailsDescriptionRef.errors?.required">
                                <i class="fa fa-close"></i> Please enter DownTime Reason Description
                            </div>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                        </div>
                        <div class="ui-grid-col-2">
                            <button id="edit" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-edit" label="Edit">  </button>
                        </div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>