<p-panel header="{{title}}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Module Item Name *
            </div>
            <div class="ui-grid-col-6">
                <input type="text" name="moduleItemName" pInputText [(ngModel)]="moduleItemDetails.name" placeholder="Please enter Module Item Name" class="form-control"
                       required #moduleItemNameRef="ngModel" />
            </div>
            <div class="ui-grid-col-4" *ngIf="moduleItemNameRef.errors?.required">
                Module Item Name field is required
            </div>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Description:
        </div>
        <div class="ui-grid-col-6">
            <textarea type="text"
                      pInputTextArea
                      class="form-control"
                      name="description"
                      #DescriptionRef
                      row="20"
                      [(ngModel)]="moduleItemDetails.description"></textarea>
        </div>
    </div>
    <!--<div class="ui-grid-col-4">{{ description | json }}</div>-->
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Item Type
        </div>
        <div class="ui-grid-col-6">
            <p-dropdown [options]="moduleItemTypes" [(ngModel)]="moduleItemDetails.itemTypeId" (onChange)="onItemTypeChange()" name="moduleItemType">
            </p-dropdown>
        </div>
        <div class="ui-grid-col-4"></div>
    </div>
    <!--<div class="ui-grid-row">
        <div *ngIf="moduleItemDetails.isTextBoxVisible">
            <div class="ui-grid-col-2">
                Item Text
            </div>
            <div class="ui-grid-col-6">
                <p-dropdown [options]="moduleItemTypes" [(ngModel)]="moduleItemDetails.itemTypeId" (onChange)="onItemTypeChange()" name="moduleItemType">
                </p-dropdown>
            </div>
            <div class="ui-grid-col-4"></div>
        </div>
        
    </div>-->
    <div class="ui-grid-row">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <button id="add" pButton type="button" label="{{saveButtonLabel}}" (click)="onAddItemComplete()">  </button>
            </div>
            <div class="ui-grid-col-6">
            </div>
            <div class="ui-grid-col-4">
                <button id="cancel" pButton type="button" label="Cancel" (click)="onCancelItemComplete()">  </button>
            </div>
        </div>
    </div>
</p-panel>