<!--<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        Search by Module Name:
    </div>
    <div class="ui-grid-col-2">
        <p-autoComplete [(ngModel)]="filteredSelectedTestRequirements" [suggestions]="filteredTestRequirements" (completeMethod)="filterTestRequirements($event)"
                        styleClass="wid100" [minLength]="1" placeholder="Search By Reference#" field="referenceNumber" [multiple]="true">
        </p-autoComplete>
    </div>

    <div class="ui-grid-col-2">
        <button pButton type="submit" class="btn btn-default" label="Add Requirement" (click)="onAddTestRequirement()"> </button>
    </div>
</div>-->
<!--<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">-->
<form #moduleCompForm="ngForm" (ngSubmit)="onSubmit(moduleCompForm.value)">
    <p-panel header="{{title}}">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Module Name *
                </div>
                <div class="ui-grid-col-2">
                    <input type="text" name="moduleName" pInputText [(ngModel)]="moduleDetails.name" placeholder="Please enter Module Name" class="form-control"
                           required #moduleNameRef="ngModel" />
                </div>
                <div class="ui-grid-col-2" *ngIf="moduleNameRef.errors?.required">
                    Module Name field is required
                </div>
                <div class="ui-grid-col-2">
                    Description:
                </div>
                <div class="ui-grid-col-4">
                    <textarea type="text"
                              pInputTextArea
                              class="form-control"
                              name="description"
                              #DescriptionRef
                              row="20"
                              [(ngModel)]="moduleDetails.description"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <div class="ui-grid-row">
            <div class="ui-grid-col-10">
                &nbsp;
            </div>
            <div class="ui-grid-col-2">
                <button id="add" pButton label="Add New Item" (click)="onAddNewItem()">  </button>
            </div>
        </div>
        <p-dialog header="Add Module Item" [(visible)]="isAddNewItemRowVisible" width="900" height="600" [style]="{'overflow-y':'auto'}">
            <module-item-component [moduleId]="moduleId" [isAddModule]="isAddModule" (onAddComplete)="onAddItemComplete($event)" (onCancelComplete)="onCancelAddItemComplete($event)"></module-item-component>
        </p-dialog>
        <p-dialog header="Edit Module Item" [(visible)]="isEditItemRowVisible" width="900" height="600" [style]="{'overflow-y':'auto'}">
            <module-item-component [moduleId]="moduleId" [moduleItemDetails]="editModuleItem" title="Edit Module Item" isAdd="false" [isAddModule]="isAddModuleFunc()" saveButtonLabel="Save Module Item" (onAddComplete)="onEditItemComplete($event)" (onCancelComplete)="onCancelEditItemComplete($event)"></module-item-component>
        </p-dialog>
        <!--<div class="ui-grid-row" *ngIf="isAddNewItemRowVisible">
            <div class="ui-grid-col-12">
                <module-item-component (onAddComplete)="onAddItemComplete($event)" (onCancelComplete)="onCancelAddItemComplete($event)"></module-item-component>
            </div>
        </div>
        <br />-->
        <div class="ui-grid-row">
            <p-panel header="Module Items">
                <p-dataTable [value]="moduleDetails.moduleItems" *ngIf="moduleDetails && moduleDetails.moduleItems">
                    <!--<p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>-->
                    <p-column field="name" header="Name"></p-column>
                    <p-column field="description" header="Description"></p-column>
                    <p-column field="itemType" header="Item Type"></p-column>
                    <p-column>
                        <template pTemplate type="header">
                            Action
                        </template>
                        <template let-moduleItem="rowData" pTemplate type="body">
                            <button type="button" pButton (click)="onEditModuleItem(moduleItem)" icon="fa-edit"></button>
                            <button type="button" pButton (click)="onDeleteModuleItem(moduleItem)" icon="fa-trash" class="red-btn"></button>
                            <button type="button" pButton (click)="onMoveModuleItemUp(moduleItem)" icon="fa-arrow-up" *ngIf="isUpButtonVisible(moduleItem)" title="Move Up" class="blue-grey-btn"></button>
                            <button type="button" pButton (click)="onMoveModuleItemDown(moduleItem)" icon="fa-arrow-down" *ngIf="isDownButtonVisible(moduleItem)" title="Mode Down" class="blue-grey-btn"></button>
                        </template>
                    </p-column>
                    <!--<template let-moduleItem pTemplate="rowexpansion">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                            <div class="ui-grid-row">
                                <module-item-component [moduleItemDetails]="moduleItem" title="Edit Module Item" isAdd="false" saveButtonLabel="Save Module Item" (onAddComplete)="onEditItemComplete($event)" (onCancelComplete)="onCancelEditItemComplete($event)"></module-item-component>

                            </div>
                        </div>
                    </template>-->
                </p-dataTable>
            </p-panel>
        </div>
        <br/>
        <div class="ui-grid-row">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <button id="add" pButton type="button" [disabled]="!moduleCompForm.form.valid" label="{{addEditModuleText}}" (click)="onAddModule()">  </button>
                </div>
                <div class="ui-grid-col-6">
                </div>
                <div class="ui-grid-col-4">
                    <button id="cancel" pButton type="button" label="Cancel" (click)="onCancel()">  </button>
                </div>
            </div>
        </div>
    </p-panel>
</form>

<!--</div>
    </div>
</div>-->
