<p-panel header="{{title}}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Module Item Name *
            </div>
            <div class="ui-grid-col-2">
                <input type="text" name="moduleItemName" pInputText [(ngModel)]="moduleItemDetails.name" placeholder="Please enter Module Item Name" class="form-control"
                       required #moduleItemNameRef="ngModel" />
            </div>
            <div class="ui-grid-col-2" *ngIf="moduleItemNameRef.errors?.required">
                Module Item Name field is required
            </div>
            <div class="ui-grid-col-2">
                Description:
            </div>
            <div class="ui-grid-col-4">
                <textarea type="text"
                          pInputTextArea
                          class="form-control"
                          name="description"
                          #DescriptionRef
                          row="20"
                          [(ngModel)]="moduleItemDetails.description"></textarea>
            </div>
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Item Type
        </div>
        <div class="ui-grid-col-4">
            <p-dropdown [options]="moduleItemTypes" [(ngModel)]="selectedItemType" (onChange)="onItemTypeChange()" name="moduleItemType">
            </p-dropdown>
        </div>
        <div class="ui-grid-col-6"><p-checkbox [(ngModel)]="moduleItemDetails.isRequired" binary="true" label="Is Required"></p-checkbox></div>
    </div>
    <div class="ui-grid-row" *ngIf="isAddNewItemOptionRowVisible">
        <div class="ui-grid-col-2">
            Module Item Option*
        </div>
        <div class="ui-grid-col-6">
            <input type="text" name="moduleItemOption" pInputText [(ngModel)]="optionName" placeholder="Please enter Item Option" class="form-control"
                   required #moduleItemOptionRef="ngModel" />
        </div>
        <div class="ui-grid-col-2" [hidden]="!moduleItemOptionRef.errors?.required">
            Module Item Option field is required
        </div>
        <div class="ui-grid-col-2">
            <button id="addOption" pButton type="button" label="Add New Option" (click)="onAddItemOptionComplete()">  </button>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-panel header="Module Items">
                    <p-dataTable [value]="moduleItemDetails.moduleItemOptions">
                        <p-column field="name" header="Name"></p-column>
                        <p-column>
                            <template pTemplate type="header">
                                Action
                            </template>
                            <template let-moduleItemOption="rowData" pTemplate type="body">
                                <button type="button" pButton (click)="onEditModuleItemOption(moduleItemOption)" icon="fa-edit"></button>
                                <button type="button" pButton (click)="onDeleteModuleItemOption(moduleItemOption)" icon="fa-trash" class="red-btn"></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </p-panel>
            </div>
        </div>
    </div>
    <br />
    <p-dialog header="Edit Module Item Option" [(visible)]="isEditItemOptionVisible" width="900" height="300" [style]="{'overflow-y':'auto'}">
        <div class="ui-grid-row" *ngIf="editOption">
            <div class="ui-grid-col-2">
                Module Item Option*
            </div>
            <div class="ui-grid-col-6">
                <input type="text" name="moduleItemEditOption" pInputText [(ngModel)]="editOption.name" placeholder="Please enter Item Option" class="form-control"
                       required #moduleItemOptionEditRef="ngModel" />
            </div>
            <div class="ui-grid-col-2" [hidden]="!moduleItemOptionEditRef.errors?.required">
                Module Item Option field is required
            </div>
            <div class="ui-grid-col-2">
                <button pButton type="button" label="Save" (click)="onEditItemOptionComplete()">  </button>
                <button pButton type="button" label="Cancel" (click)="onEditItemOptionCancelComplete()">  </button>
            </div>
        </div>
    </p-dialog>
    <div class="ui-grid-row">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <button id="add" pButton type="button" label="{{saveButtonLabel}}" (click)="onAddItemComplete()">  </button>
            </div>
            <div class="ui-grid-col-6">
            </div>
            <div class="ui-grid-col-4">
                <button id="cancel" pButton type="button" label="Cancel" (click)="onCancelItemComplete()">  </button>
            </div>
        </div>
    </div>
</p-panel>