<div class="ui-g-12" style="border:1px red solid">
    <div class="ui-g-3">
        <div class="ui-toolbar-group-left">
            <button pButton type="button" icon="fa-chevron-circle-left" (click)="moveCalendar('backward')"></button>
            <button pButton type="button" icon="fa-chevron-circle-right" (click)="moveCalendar('forward')"></button>

        </div>
    </div>
    <div class="ui-g-6">
        <div class="ui-toolbar-group-left"><h2> <label [innerHTML]="calendarHeader"> </label></h2></div>
    </div>
    <div class="ui-g-3">
        <div class="ui-toolbar-group-right">
            <button pButton type="button" icon="fa-search" (click)="showSearchOptions()"></button>
            <button pButton type="button" icon="fa-cogs" (click)="showCalendarSettings()"></button>
        </div>
    </div>
</div>


<div class="ui-g-12" style="border:1px red solid">
    <div id="calendar" style="margin:0px;">
    </div>
</div>
<div class="ui-g-12">

    <div *ngFor="let item of testStatus" style="display: inline-block; margin-right:5px">
        <i class="fa fa-square" aria-hidden="true"
           [ngStyle]="{'background-color': item.value.calendarDisplayColor, 'height':'10px', 'width':'10px', 'margin-right':'2px' }"></i>
        {{item.label}}


    </div>


</div>


<p-dialog header="Filter Events" [(visible)]="displayCalendarSearchDialog"
          modal="modal"
          showEffect="fade"
          hideEffect="zoomOut">
    <div class="ui-g-12">

        <div class="ui-g form-group">


            <div class="ui-g-12 ui-md-3">
                <label>Project Code</label> <br/>
                <p-multiSelect [options]="projectCodes" (onChange)="onProjectCodeChange($event)" name="projectCodes"
                               [style]="{'width':'100%'}">
                </p-multiSelect>

            </div>

            <div class="ui-g-12 ui-md-3">
                <label>Test Facility</label> <br/>
                <p-multiSelect [options]="testFacilities" (onChange)="onTestFacilityChange($event)"
                               name="testFacilities" [style]="{'width':'100%'}">
                </p-multiSelect>

            </div>
            <div class="ui-g-12 ui-md-3">
                <label>Test Types</label> <br/>
                <p-multiSelect [options]="testTypes" (onChange)="onTestTypeChange($event)" name="testTypes"
                               [style]="{'width':'100%'}">
                </p-multiSelect>

            </div>
            <div class="ui-g-12 ui-md-3">
                <label>Test Mode</label> <br/>
                <p-multiSelect [options]="testAllModes" (onChange)="onTestModeChange($event)" name="testModes"
                               [style]="{'width':'100%'}">
                </p-multiSelect>

            </div>

            <div class="ui-g-12 ui-md-3">
                <label>Test Status</label> <br/>
                <p-multiSelect [options]="testStatus" (onChange)="onTestStatusChange($event)" name="testStatus"
                               [style]="{'width':'100%'}">
                </p-multiSelect>

            </div>
            <div class="ui-g-12 ui-md-3">
                <label>PIC</label> <br/>
                <p-autoComplete [(ngModel)]="filteredSelectedTestUserNames" [suggestions]="filteredTestUserNames"
                                (completeMethod)="getTestUsers($event)"
                                name="testUsers" [minLength]="1" placeholder="Search by Name"
                                field="displayName" [multiple]="false">
                </p-autoComplete>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label>Build Levels</label> <br/>
                <p-multiSelect [options]="buildLevels" (onChange)="onBuildLevelChange($event)" name="buildLevels"
                               [style]="{'width':'100%'}">
                </p-multiSelect>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-3">
                    <button pButton type="button" label="Search" (click)="filterCalendarEvents()"></button>

                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Calendar Settings" [(visible)]="displayCalendarSetting"
          modal="modal" showEffect="fade"
          [minWidth]="800" [responsive]="true">
    <form #calendarSettingsForm (ngSubmit)="updateCalendarSettings(calendarSettingsForm.value)">
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            View Duration
        </div>

        <div class="ui-grid-col-6">
            <p-dropdown [options]="durationOptions" name="selectedDurationOption"
                        [(ngModel)]="selectedDurationOption"
                        [style]="{'width':'auto'}"
            >
            </p-dropdown>
        </div>
    </div>
    <div class="ui-grid-row">


        <div class="ui-grid-col-6">
            <div class="ui-grid-col-6">
                Slots Width
            </div>
        </div>
        <div class="ui-grid-col-6">
            <p-dropdown [options]="slotDurations"
                        name="selectedSlotDurationValue"
                        [(ngModel)]="selectedSlotDurationValue"
                         [style]="{'width':'auto'}">
            </p-dropdown>
        </div>


    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            Show Weekends
        </div>

        <div class="ui-grid-col-6">
            <p-radioButton name="selectedHideWeekendValue" label="Yes" value="true"
                           [(ngModel)]="selectedHideWeekendValue">

            </p-radioButton>
            <p-radioButton name="selectedHideWeekendValue" label="No" value="false"
                           [(ngModel)]="selectedHideWeekendValue"
                           ></p-radioButton>
        </div>

    </div>
    <div class="ui-grid-row">

        <div class="ui-grid-col-6">
            First Day of the week
        </div>

        <div class="ui-grid-col-6">
            <p-dropdown [options]="daysofweek"
                        name="selectedFirstDayValue"
                        [(ngModel)]="selectedFirstDayValue"
                        [style]="{'width':'auto'}"></p-dropdown>
        </div>

    </div>

    <div class="ui-grid-row">

        <div class="ui-grid-col-6">
            Start of the day
        </div>

        <div class="ui-grid-col-6">
            <p-calendar [(ngModel)]="startWorkHoursValue" [timeOnly]="true"  name="startWorkHoursValue"></p-calendar>
        </div>

    </div>

    <div class="ui-grid-row">

        <div class="ui-grid-col-6">
            End of the day
        </div>

        <div class="ui-grid-col-6">
            <p-calendar [(ngModel)]="endWorkHoursValue" [timeOnly]="true" name="endWorkHoursValue"></p-calendar>
        </div>

    </div>
    <div class="ui-grid-row">
        <button type="submit">Apply</button>
        <!--<button type="button" (click)="calendarSettingsForm.reset()">Cancel</button>-->
    </div>

    </form>
</p-dialog>


<p-dialog [(header)]="displayEventDialogHeader" [(visible)]="displayEventDialog" [minWidth]="800" [responsive]="true"
          showEffect="fade"
>

    <div>
        <strong>Requested Start Date</strong> {{ plannedStartDate}} <strong>Due By</strong> {{dueDate}}

    </div>

    <div class="ui-g-12">

        <div class="card card-w-title">
            <h1>Test Facilities</h1>
            <form #tfScheduleForm="ngForm" (ngSubmit)="onSubmitTestFacilitySchedule(tfScheduleForm.value)">
                <div class="ui-g-12">

                    <div class="ui-g-4">

                        <span class="text"> Facility Name</span> <br/>
                        <!--<span [ngClass]="{'error': testFacilityNameRef.dirty && testFacilityNameRef.errors?.required}">*</span>-->
                        <p-dropdown [options]="testFacilities"
                                    [(ngModel)]="selectedTestFacilityForSchedule"
                                    required
                                    name="testFacilityName1" [style]="{'width':'100%'}"></p-dropdown>


                    </div>

                    <div class="ui-g-4">

                        <label>
                            <span class="text">Start </span> <br/>
                            <p-calendar [(ngModel)]="selectedTestScheduleStartDate" showTime="showTime" hourFormat="12"
                                        [icon]="fa-calendar" required
                                        name="selectedTestScheduleStartDate"
                                        [selectOtherMonths]="true" [showOtherMonths]="true"
                                        (onSelect)="onFacilityScheduleCalendarDateSelection($event)"></p-calendar>
                        </label>

                    </div>

                    <div class="ui-g-4">

                        <label>
                            <span class="text">End</span> <br/>
                            <p-calendar [(ngModel)]="selectedTestScheduleEndDate" showTime="showTime" hourFormat="12"
                                        [icon]="fa-calendar"
                                        required min="selectedTestScheduleStartDate" name="selectedTestScheduleEndDate"
                                        [minDate]="selectedTestScheduleStartDate"
                                        [selectOtherMonths]="true" [showOtherMonths]="true"
                                        (onSelect)="onFacilityScheduleCalendarDateSelection($event)"></p-calendar>
                        </label>

                    </div>

                    <div class="ui-g-4">

                        <button type="submit" pButton icon="ui-icon-calendar" label="Schedule Facility"
                                [disabled]='!tfScheduleForm.valid'></button>

                    </div>
                </div>
            </form>
            <div class="ui-grid-row">

                <p-dataTable [value]="scheduledTestFacilities" [rows]="5" [paginator]="true"
                             [rowsPerPageOptions]="[5,10,20]">
                    <p-column hidden="true" field="testFacilityScheduleId"></p-column>
                    <p-column hidden="true" field="testFacilityId"></p-column>
                    <p-column field="facilityName" header="Facility Name" sortable="true"></p-column>
                    <p-column field="startDate" header="Start" sortable="true"></p-column>
                    <p-column field="endDate" header="End" sortable="true"></p-column>
                    <p-column styleClass="col-button">
                        <template let-user="rowData" pTemplate="body">
                            <button type="button" pButton (click)="removeFacility(user)" icon="ui-icon-trash"
                                    [disabled]='scheduledTestFacilities.length <1'></button>
                        </template>
                    </p-column>
                </p-dataTable>

            </div>
        </div>
    </div>
    <hr/>
    <div class="card card-w-title">
        <h1>Operators</h1>
        <form #tfScheduleOperatorForm="ngForm" (ngSubmit)="onSubmitOperatorSchedule(tfScheduleOperatorForm.value)">
            <div class="ui-g-12">

                <div class="ui-g-3">

                    <span class="text">Test Facility</span>
                    <p-dropdown [options]="testFacilities"
                                [(ngModel)]="selectedFacilityForOperator"
                                required
                                name="testFacilityForOperator" [style]="{'width':'100%'}"></p-dropdown>


                </div>

                <div class="ui-g-3">

                    <span class="text">Operators</span> <br/>

                    <p-autoComplete [(ngModel)]="filteredselectedOperatorUserNames"
                                    [suggestions]="filteredOperatorUserNames"
                                    (completeMethod)="filterOperatorUserNames($event)"
                                    name="username" [minLength]="1" placeholder="Search by Name/#"
                                    field="displayName" [multiple]="false">
                    </p-autoComplete>


                </div>

                <div class="ui-g-3">
                    <span class="text">Start </span>
                    <p-calendar [(ngModel)]="selectedTitanUserScheduleStartDate" showTime="showTime" hourFormat="12"
                                [selectOtherMonths]="true" [showOtherMonths]="true" name="operatorStart"
                                [icon]="fa-calendar"></p-calendar>


                </div>

                <div class="ui-g-3">

                    <label>
                        <span class="text">End</span>
                        <p-calendar [(ngModel)]="selectedTitanUserScheduleEndDate" showTime="showTime" hourFormat="12"
                                    name="operatorEnd"
                                    [selectOtherMonths]="true" [showOtherMonths]="true"
                                    [icon]="fa-calendar"></p-calendar>
                    </label>

                </div>

                <div class="ui-g-4">
                    <button type="submit" pButton icon="ui-icon-calendar" label="Schedule Operator"
                            [disabled]='!tfScheduleOperatorForm.valid'></button>


                </div>
            </div>
        </form>
        <div class="ui-grid-row">
            <p-dataTable [value]="testOperators">

                <p-column hidden="true" field="titanUserScheduleId"></p-column>
                <p-column field="userDisplayName" header="Name" sortable="true"></p-column>
                <p-column field="testFacilityName" header="Test Facility" sortable="true"></p-column>
                <p-column field="startDate" header="Start" sortable="true"></p-column>
                <p-column field="endDate" header="End" sortable="true"></p-column>
                <p-column styleClass="col-button">
                    <template pTemplate="header">
                        <button type="button" pButton icon="fa-refresh"></button>
                    </template>
                    <template let-user="rowData" pTemplate="body">
                        <button type="button" pButton (click)="removeOperator(user)" icon="ui-icon-remove"></button>
                    </template>
                </p-column>
            </p-dataTable>

        </div>

    </div>
    <button type="button" pButton icon="ui-icon-calendar" label="close"></button>
</p-dialog>


<p-dialog [(header)]="moveToTestFacilityHeader" [(visible)]="displayMoveDialog"
          showEffect="fade"
          [minWidth]="800"
          [responsive]="true"
          [closeOnEscape]="false"
          [closable]="false">
    <form #tfMoveForm="ngForm" (ngSubmit)="onSubmitMoveTestFacilitySchedule(tfMoveForm.value)">
        <div class="ui-g-12">

            <div class="ui-g-4">

                <label>
                    <span class="text">Start </span> <br/>
                    <p-calendar [(ngModel)]="moveTestScheduleStartDate" showTime="showTime" hourFormat="12"
                                [icon]="fa-calendar" required
                                name="moveTestScheduleStartDate"
                                [selectOtherMonths]="true" [showOtherMonths]="true"
                                (onSelect)="validateScheduleDates($event, moveTestScheduleStartDate,moveTestScheduleEndDate)"></p-calendar>
                </label>

            </div>

            <div class="ui-g-4" *ngIf="!facilityChanged">

                <label>
                    <span class="text">End</span> <br/>
                    <p-calendar [(ngModel)]="moveTestScheduleEndDate" showTime="showTime" hourFormat="12"
                                [icon]="fa-calendar"
                                required name="moveTestScheduleEndDate"
                                [minDate]="moveTestScheduleStartDate"
                                [selectOtherMonths]="true" [showOtherMonths]="true"
                                (onSelect)="validateScheduleDates($event, moveTestScheduleStartDate,moveTestScheduleEndDate)"></p-calendar>
                </label>

            </div>
            <div class="ui-g-4" *ngIf="!facilityChanged">


                <span class="text">Operators:</span> <br/>
                <p-radioButton name="groupname" value="0" [(ngModel)]="moveTestFacilityEvent.updateExistingUserSchedule"
                               label="Remove"></p-radioButton>
                <p-radioButton name="groupname" value="1" [(ngModel)]="moveTestFacilityEvent.updateExistingUserSchedule"
                               label="Move"></p-radioButton>


            </div>
            <div class="ui-g-4">
                <button type="button" pButton icon="ui-icon-cancel" label="Cancel" (click)="cancelMove($event)"
                ></button>
                <button type="submit" pButton icon="ui-icon-arrow-forward" label="Move"
                        [disabled]='!tfMoveForm.valid'></button>

            </div>
        </div>
    </form>
</p-dialog>

<p-dialog [(header)]="assignResourceHeader" [(visible)]="displayAssignDialog"
          showEffect="fade"
          width="800"
          (onBeforeHide)="onBeforeDialogHide($event)"
          [closeOnEscape]="false"
          [closable]="!(assignResourceForm.dirty)">

    <form #assignResourceForm="ngForm" (ngSubmit)="saveAssignResourcesChanges(assignResourceForm)">
        <div class="ui-g form-group">

            <div class="ui-g-12 ui-md-3 ui-sm-4" *ngIf="showTimeDuringAssignOperation">
                <span class="text"> Default Start Time</span> <br/>
                <p-dropdown [options]="timeOptions"
                            [(ngModel)]="scheduleStartTime"
                            name="scheduleStartTime"
                            id="scheduleStartTime"
                            appendTo="body"
                            [style]="{'width':'100%'}"
                            (onSelect)="testOperatorsForBlockChange(item, i)"
                            [required]="true">

                </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3 ui-sm-4" *ngIf="showTimeDuringAssignOperation">
                <span class="text"> Default End Time</span> <br/>
                <p-dropdown [options]="timeOptions"
                            [(ngModel)]="scheduleEndTime"
                            name="scheduleEndTime"
                            id="scheduleEndTime"
                            appendTo="body"
                            [style]="{'width':'100%'}"
                            (onSelect)="testOperatorsForBlockChange(item, i)"
                            [required]="true"
                >
                </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6 ui-sm-4">
                <button type="button" pButton icon="ui-icon-person-add" (click)="addEmptyRowOperatorBlock()"
                        label="Add User"></button>
                <button type="submit" pButton icon="ui-icon-save" [disabled]="!assignResourceForm.valid"
                        label="Save"></button>
                <button type="button" pButton icon="ui-icon-close" (click)="closeAssignResourceDialog()"
                        label="Cancel"></button>
            </div>

        </div>

        <div class="ui-g-12">
            <!--scrollHeight="200px" scrollable="true"-->
            <p-dataTable [value]="testOperatorsForBlock">
                <header></header>
                <p-column hidden="true" field="titanUserScheduleId"></p-column>

                <p-column field="titanUserId">
                    <template pTemplate="body" let-item="rowData" let-i="rowIndex">
                        <p-dropdown [options]="titanUsersListForTenant"
                                    [(ngModel)]="item.titanUserId"
                                    name="testOperatorsForBlock[{{i}}].titanUserId"
                                    appendTo="body"
                                    [style]="{'width':'100%'}"
                                    (onChange)="testOperatorsForBlockChange(item, i)"
                                    [required]="true"
                        >

                        </p-dropdown>
                    </template>
                </p-column>
                <!--<p-column field="testFacilityName" header="Test Facility" sortable="true"></p-column>-->
                <p-column field="startDate" sortable="true">
                    <template pTemplate="header">
                        Start
                    </template>
                    <template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
                        <p-calendar [(ngModel)]="item.startDate" appendTo="body"
                                    [selectOtherMonths]="true" [showOtherMonths]="true"
                                    [minDate]="selectedBlockStartDate"
                                    [maxDate]="selectedBlockEndDate"
                                    (onSelect)="testOperatorsForBlockChange(item,i)"
                                    name="testOperatorsForBlock[{{i}}].startDate"
                                    [required]="true">
                        </p-calendar>
                        <p-dropdown [options]="timeOptions" *ngIf="showTimeDuringAssignOperation"
                                    [(ngModel)]="item.defaultStartMinutesPastMidnight"
                                    name="testOperatorsForBlock[{{i}}].defaultStartMinutesPastMidnight"

                                    appendTo="body"
                                    [style]="{'width':'100%'}"
                                    (onChange)="testOperatorsForBlockChange(item, i)"
                                    [required]="true"
                        >
                        </p-dropdown>
                    </template>
                </p-column>
                <p-column field="endDate" sortable="true">
                    <template pTemplate="header">
                        End
                    </template>
                    <template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
                        <p-calendar [(ngModel)]="item.endDate" appendTo="body"
                                    [selectOtherMonths]="true" [showOtherMonths]="true"
                                    [minDate]="item.startDate"
                                    [maxDate]="selectedBlockEndDate"
                                    (onSelect)="testOperatorsForBlockChange(item,i)"
                                    name="testOperatorsForBlock[{{i}}].endDate"
                                    [required]="true">

                        </p-calendar>
                        <p-dropdown [options]="timeOptions" *ngIf="showTimeDuringAssignOperation"
                                    [(ngModel)]="item.defaultEndMinutesPastMidnight"
                                    name="testOperatorsForBlock[{{i}}].defaultEndMinutesPastMidnight"

                                    appendTo="body"
                                    [style]="{'width':'100%'}"
                                    (onChange)="testOperatorsForBlockChange(item, i)"
                                    [required]="true"
                        >
                        </p-dropdown>
                        <!--<p-calendar [(ngModel)]="date1" showTime="false"-->

                        <!--name="operatorEnd" [minDate]="testOperatorsForBlock[i].startDate"-->
                        <!--[selectOtherMonths]="true" [showOtherMonths]="true" appendTo="body" [maxDate]="selectedBlockEndDate"-->
                        <!--[icon]="fa-calendar"></p-calendar>-->
                    </template>
                </p-column>
                <p-column styleClass="col-button">

                    <template let-operatorBlock="rowData" pTemplate="body" let-i="rowIndex">
                        <button type="button" pButton (click)="removeOperator(i,operatorBlock)"
                                icon="ui-icon-remove"></button>

                    </template>
                </p-column>
            </p-dataTable>

        </div>
    </form>
</p-dialog>

<p-dialog header="Split Timeblock" [(visible)]="displaySplitDialog" showEffect="fade" [minWidth]="800">
    <div class="ui-helper-clearfix">
        <!--<button type="button" pButton icon="ui-icon-person-add" style="float:left" (click)="addEmptyRowOperatorBlock()"-->
        <!--label="Add User"></button>-->
        <button type="button" pButton icon="ui-icon-save" style="float:left"
                (click)="saveSplitEventChanges($event)"
                label="Save Changes"></button>

    </div>
    <div class="ui-g-12">
        <h3>Existing Event</h3>
        <div class="ui-g-12 ui-md-4">
            <label>
                <span class="text">Start </span> <br/>
                <p-calendar [(ngModel)]="splitTestFacilityEvent.existingSchedule.startDate" hourFormat="12"
                            [icon]="fa-calendar" required
                            name="splitTestFacilityEventExistingScheduleStartDate"
                            [selectOtherMonths]="true" [showOtherMonths]="true"
                            (onSelect)="validateScheduleDates($event, splitTestFacilityEvent.existingSchedule.startDate,splitTestFacilityEvent.existingSchedule.endDate)"
                            disabled="true">

                </p-calendar>
            </label>

        </div>
        <div class="ui-g-12 ui-md-4">
            <label>
                <span class="text">End </span> <br/>
                <p-calendar [(ngModel)]="splitTestFacilityEvent.existingSchedule.endDate" hourFormat="12"
                            [icon]="fa-calendar" required
                            name="splitTestFacilityEventExistingScheduleEndDate"
                            [selectOtherMonths]="true" [showOtherMonths]="true"
                            (onSelect)="validateScheduleDates($event, splitTestFacilityEvent.existingSchedule.startDate,splitTestFacilityEvent.existingSchedule.endDate)"
                            [minDate]="splitTestFacilityEvent.existingSchedule.startDate"
                            [maxDate]="splitTestFacilityEvent.newSchedule.endDate">

                </p-calendar>
            </label>
        </div>
    </div>

    <div class="ui-g-12">
        <h3>Split Event</h3>
        <div class="ui-g-12 ui-md-4">
            <span class="text"> Facility Name</span> <br/>
            <!--<span [ngClass]="{'error': testFacilityNameRef.dirty && testFacilityNameRef.errors?.required}">*</span>-->
            <p-dropdown [options]="testFacilities"
                        [(ngModel)]="splitTestFacilityEvent.newSchedule.testFacilityId"
                        required
                        name="testFacilityName1" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
            <label>
                <span class="text">Start </span> <br/>
                <p-calendar [(ngModel)]="splitTestFacilityEvent.newSchedule.startDate" hourFormat="12"
                            [icon]="fa-calendar" required
                            name="splitTestFacilityEventExistingScheduleStartDate"
                            [selectOtherMonths]="true" [showOtherMonths]="true"
                            (onSelect)="validateScheduleDates($event, splitTestFacilityEvent.existingSchedule.startDate,splitTestFacilityEvent.existingSchedule.endDate)"
                            [minDate]="splitTestFacilityEvent.existingSchedule.endDate"
                            [maxDate]="splitTestFacilityEvent.newSchedule.endDate">

                </p-calendar>
            </label>

        </div>
        <div class="ui-g-12 ui-md-4">
            <label>
                <span class="text">End </span> <br/>
                <p-calendar [(ngModel)]="splitTestFacilityEvent.newSchedule.endDate" hourFormat="12"
                            [icon]="fa-calendar" required
                            name="splitTestFacilityEventExistingScheduleEndDate"
                            [selectOtherMonths]="true" [showOtherMonths]="true"
                            (onSelect)="validateScheduleDates($event, splitTestFacilityEvent.existingSchedule.startDate,splitTestFacilityEvent.existingSchedule.endDate)"
                            disabled="true">

                </p-calendar>
            </label>
        </div>
    </div>

</p-dialog>

<p-dialog header="Schedule Test" [(visible)]="displayScheduleDialog" showEffect="fade" [minWidth]="800">
    <div class="ui-g-12">
        <div class="ui-g-4">

            <label>
                <span class="text">Start</span> <br/>
                <p-dropdown [options]="timeOptions" [(ngModel)]="scheduleDefaultStartTime"></p-dropdown>
            </label>

        </div>
        <div class="ui-g-4">

            <label>
                <span class="text">End</span> <br/>
                <p-dropdown [options]="timeOptions" [(ngModel)]="scheduleDefaultEndTime"></p-dropdown>
            </label>

        </div>
    </div>
</p-dialog>
<div class="ui-g-12">
    <p-growl [value]="msgs"></p-growl>
</div>

<style>
    #calendar {
    }

    span.fc-time {
        display: none;
    }
</style>
