<div class="ui-g-12">
    <div class="card card-w-title">
        <form #procedureForm="ngForm" (ngSubmit)="onSubmit()">

            <h2> Create New Test Procedure</h2>
            <br />
            <p-panel header="Details">
              <div class="body">
                  <div class="ui-grid-row">
                      <div class="md-inputfield ui-g-12 ui-md-6">
                          <input type="text" pInputText name="procedureName" id="procedureName"
                            style="width:100%" minlength="3" maxlength="255"
                              class="form-control" required >
                          <label>Name *</label>
                      </div>
                  </div>
                  <div class="ui-grid-row ">
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Test Type *:</p>
                        <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="testTypes"
                            (onChange)="onTestTypeChange()" name="testType"  id="testType"  required >
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Test Mode *:</p>
                        <p-dropdown [style]="{'width':'100%','color':'#777'}"
                        [options]="testAllModes" name="testMode" id="testMode" required>
                        </p-dropdown>
                    </div>
                  </div><br /><br />
                  <div class="ui-grid-row">
                      <div class="md-inputfield ui-g-12 ui-md-6">
                          <input type="number" style="width:100%" name="estimatedTime" id="estimatedTime" pInputText #estimatedTimeRef="ngModel" [(ngModel)]="procedure.estimatedTime"
                              max="999">
                          <label>Estimated Time :</label>
                      </div>
                  </div><br />
                  <div class="ui-grid-row">
                      <p>Description</p>
                      <div class="md-inputfield">

                          <p-editor [(ngModel)]="procedure.description" name="description" id="description"
                                    [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                              <header>
                                  <select class="ql-size">
                                      <option value="small"></option>
                                      <!-- Note a missing, thus falsy value, is used to reset to default -->
                                      <option selected></option>
                                      <option value="large"></option>
                                      <option value="huge"></option>
                                  </select>
                                  <span class="ql-formats">
                                          <button class="ql-bold"></button>
                                          <button class="ql-italic"></button>
                                          <button class="ql-underline"></button>
                                      </span>
                              </header>
                          </p-editor>


                      </div>
                  </div>

              </div>
              <footer>
                  <p>* indicates required field</p>
                  <button pButton label="Cancel" class="blue-grey-btn" icon="ui-icon-close" id="cancel" routerLink="/procedure">  </button>
                  <button id="create" pButton type="submit" class="green-btn" icon="ui-icon-save" label="Add" id="add" [disabled]="!procedureForm.form.valid"></button>
              </footer><br />
            </p-panel>
        </form>
    </div>
</div>
