<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
<p-tabView>
            <p-tabPanel header="Details" leftIcon="fa fa-calendar">
                <h1>Details Panel</h1>
                <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                    <p-panel>
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <!-- Test Facility Id -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">Test Facility Id</div>
                                <div class="ui-grid-col-6">
                                    <input pInputText
                                           id="Id"
                                           name="Id"
                                           [(ngModel)]="id"
                                           #testFacilityIdRef="ngModel"
                                           class="form-control"
                                           disabled="disabled" />
                                </div>
                                <div class="ui-grid-4"></div>
                            </div>
                            <!-- Test Facility Name -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Name
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text"
                                           id="testFacilityName"
                                           name="username"
                                           pInputText
                                           [(ngModel)]="testFacilityName"
                                           #testFacilityNameRef="ngModel"
                                           placeholder="Required"
                                           minlength="3"
                                           class="form-control" required />
                                </div>
                                <div class="ui-grid-col-4" *ngIf="testFacilityNameRef.errors?.required">
                                    {{testFacilityNameRef.errors | json}} this field is required
                                </div>

                                <div class="ui-grid-col-4" *ngIf="testFacilityNameRef.errors?.minlength">
                                    Minimum length is required {{testFacilityNameRef.errors.minlength.requiredLength}}.
                                </div>
                            </div>
                            <!-- Test Facility Location -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Location:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text"
                                              pInputTextArea
                                              id="location"
                                              class="form-control" required
                                              name="location"
                                              row="20"
                                              #tfLocationRef="ngModel"
                                              [(ngModel)]="location"></textarea>
                                </div>
                                <div class="ui-grid-col-4">{{ location | json }}</div>
                            </div>

                            <!-- Test Facility Address -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Address:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text"
                                              pInputTextArea
                                              id="address"
                                              class="form-control" required
                                              name="address"
                                              row="20"
                                              #tfAddressRef="ngModel"
                                              [(ngModel)]="address"></textarea>
                                </div>
                                <div class="ui-grid-col-4">{{ address | json }}</div>
                            </div>

                            <!-- Test Facility Building # -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Description:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text"
                                           pInputText
                                           id="buildingNumber"
                                           class="form-control" required
                                           name="buildingNumber"
                                           row="20"
                                           #tfBuildingNumberRef="ngModel"
                                           [(ngModel)]="buildingNumber" />
                                </div>
                                <div class="ui-grid-col-4">{{ buildingNumber | json }}</div>
                            </div>
                            <!-- Test Facility Operation Hours -->
                           <!-- <p-dropdown [options]="operationHours" [(ngModel)]="selectedOH"></p-dropdown>
                            

                            <!-- Test Facility Operation Hours -->
                            <!--  <p-dropdown [options]="maintenanceFrequency" [(ngModel)]="selectedMF"></p-dropdown>


                            <!-- Test Facility Operation Hours -->
                             <!-- <p-dropdown [options]="operationHours" [(ngModel)]="selectedOH"></p-dropdown>-->

                            <!-- Test Facility Description -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Description:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text"
                                              pInputTextArea
                                              id="description"
                                              class="form-control" required
                                              name="description"
                                              row="20"
                                              [(ngModel)]="description"></textarea>
                                </div>
                                <div class="ui-grid-col-4">{{ description | json }}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2"></div>
                                <div class="ui-grid-col-2">
                                    <button pButton type="submit" [disabled]="!tfForm.valid" label="Edit" icon="ui-icon-add" iconPos="left"></button>
                                </div>
                                <div class="ui-grid-col-4"></div>
                            </div>
                            <!--<div style="text-align:center;margin-top:20px" *ngIf="submitted">
                                Form Submitted
                                <br>
                            </div>-->
                        </div>
                    </p-panel>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Equipment" leftIcon="fa fa-print">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
            </p-tabPanel>
            <p-tabPanel header="Tests" leftIcon="fa fa-bell-o" rightIcon="fa-bookmark-o">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-tabPanel>
        </p-tabView>
    </div>
</div>