<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>

        <p-messages [value]="notificationMsgs" [closable]="false"></p-messages>
        <p-tabView (onChange)="handleChange($event)">


            <p-tabPanel header="Details ||" id='details'>
                <p-growl [value]="msgs"></p-growl>
                <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                    <br />
                    <p-panel>
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <!-- Test Facility Id -->
                            <!--<div class="ui-grid-row">
                                <div class="ui-grid-col-2">Test Facility Id</div>
                                <div class="ui-grid-col-6">
                                    <input pInputText
                                           [(ngModel)]="testFacility.id"
                                           #testFacilityIdRef="ngModel"
                                           class="form-control"
                                           disabled="disabled"/>

                                </div>
                                <div class="ui-grid-4"></div>
                            </div>-->
                            <!-- Test Facility Name -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Name *
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text" id="name" pInputText name="name" [(ngModel)]="testFacility.name" #testFacilityNameRef="ngModel" placeholder="Required-min(3)"
                                           minlength="3" class="form-control" required row="20" />
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="testFacilityNameRef.errors?.required">
                                        <!--<i class="fa fa-close"></i>-->
                                        *

                                    </div>
                                    <div class="ui-grid-col-4" *ngIf="testFacilityNameRef.errors?.minlength">
                                        (MinLength-3)
                                    </div>
                                </div>
                            </div>
                            <!-- Test Facility Location -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Address1:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text" pInputTextArea name="addressLine1" class="form-control" required row="20" [(ngModel)]="address.addressLine1"
                                              #tfAddress1Ref="ngModel"></textarea>
                                </div>

                                <!--<div class="ui-grid-col-4">{{ tfForm.value | json }}</div>-->
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="tfAddress1Ref.errors?.required">
                                        <!--<i class="fa fa-close"></i>-->
                                        *
                                    </div>
                                </div>

                            </div>
                            <!-- Test Facility Address -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Address2:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea type="text" pInputTextArea class="form-control" required row="20" name="addressLine2" [(ngModel)]="address.addressLine2"
                                              #tfAddress2Ref="ngModel"></textarea>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="tfAddress2Ref.errors?.required">
                                        *
                                    </div>
                                </div>
                            </div>

                            <!-- Test Facility Building # -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    City:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text" pInputText class="form-control" required row="20" name="city" #tfBuildingNumberRef="ngModel" [(ngModel)]="address.city" />
                                </div>



                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="tfBuildingNumberRef.errors?.required">
                                        *

                                    </div>
                                </div>

                            </div>
                            <!-- Test Facility Operation Hours -->
                            <!-- <p-dropdown [options]="operationHours" [(ngModel)]="selectedOH"></p-dropdown>


                            <!-- Test Facility Operation Hours -->
                            <!-- <p-dropdown [options]="maintenanceFrequency" [(ngModel)]="selectedMF"></p-dropdown>


                            <!-- Test Facility Operation Hours -->
                            <!-- <p-dropdown [options]="operationHours" [(ngModel)]="selectedOH"></p-dropdown>-->
                            <!-- Test Facility Description -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    State:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text" pInputText class="form-control" required row="20" name="state" [(ngModel)]="address.state" #tfstateRef="ngModel" />
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="tfstateRef.errors?.required">
                                        *
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Postal Code:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input type="text" pInputText class="form-control" required row="20" name="postalCode" [(ngModel)]="address.postalCode" #tfpostalCodeRef="ngModel" />
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid-col-4" *ngIf="tfpostalCodeRef.errors?.required">
                                        *
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2"></div>
                                <div class="ui-grid-col-2">
                                    <button pButton type="submit" [disabled]="!tfForm.valid" label="Edit" icon="ui-icon-edit" iconPos="left"></button>
                                </div>
                                <div class="ui-grid-col-4">

                                </div>
                            </div>
                            <!--<div style="text-align:center;margin-top:20px" *ngIf="submitted">
                                Form Submitted
                                <br>
                            </div>-->
                        </div>
                        <div></div>

                    </p-panel>
                    <br /><br /><br />
                    <p-panel>
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <b>Test Facility Users</b>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Search by UserName#:
                                </div>
                                <div class="ui-grid-col-2">
                                    <p-autoComplete [(ngModel)]="filteredSelectedUserNames" [suggestions]="filteredUserNames" (completeMethod)="filterUserNames($event)"
                                                    name="username" styleClass="wid100" [minLength]="1" placeholder="Search By UserName#"
                                                    field="firstName" [multiple]="true">
                                    </p-autoComplete>
                                    <ul>
                                        <li *ngFor="let c of filteredSelectedUserNames">{{c.firstName}}</li>
                                    </ul>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        User Role:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <p-dropdown [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [style]="{'width':'auto'}">

                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="ui-grid-col-2">
                                    <button pButton type="button" class="btn btn-default" label="Add User" (click)="onAddUserRole()"> </button>
                                </div>
                            </div>
                            <div class="ui-grid-col-2"></div>
                            <p-dataTable [value]="TestFacilityRoles">
                                <p-column field="name" header="Name" sortable="true"></p-column>
                                <p-column field="role" header="Role" sortable="true"></p-column>
                            </p-dataTable>
                        </div>
                    </p-panel>
                    <br /><br /><br />
                    <p-panel>
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <b>Test Facility Equipments</b>
                            </div>
                            <div class="ui-grid-col-2"></div>
                            <p-dataTable [value]="TestFacilityEquipments">
                                <p-column field="equipmentName" header="Equipment Name" sortable="true"></p-column>
                                <p-column field="serialNumber" header="Serial Number" sortable="true"></p-column>
                                <p-column field="equipmentTypeName" header="Equipment TypeName" sortable="true"></p-column>
                            </p-dataTable>
                        </div>
                    </p-panel>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Equipment" id="equipment" headerStyleClass="equipment">
                <div *ngIf="displayEquipmentTab">
                    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
                    Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side
                    of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the
                    local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing
                    brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's
                    business. With Fanucci gone, Vito's communal stature grows.
                </div>

            </p-tabPanel>


            <p-tabPanel header="Schedule" id="schedule" headerStyleClass="schedule">
                <div class="card card-w-title">
                    <!--<div class="row">
                        <div class="ui-grid-col-1">
                            Project Code :
                        </div>
                        <div class="ui-grid-col-2">
                            <p-multiSelect [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [style]="{'width':'auto'}">
                            </p-multiSelect>
                        </div>
                        <div class="ui-grid-col-1">
                             Status :
                        </div>
                        <div class="ui-grid-col-2">
                            <p-multiSelect [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [style]="{'width':'auto'}">
                            </p-multiSelect>
                        </div>
                        <div class="ui-grid-col-1">
                            <b> Person Incharge: </b>
                        </div>
                        <div class="ui-grid-col-2">
                            <p-multiSelect [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [style]="{'width':'auto'}">
                            </p-multiSelect>
                        </div>
                        <div class="ui-grid-col-1">
                            <b> Vehicle : </b>
                        </div>
                        <div class="ui-grid-col-2">
                            <p-multiSelect [options]="userRoles" (onChange)="onUserRoleChange($event)" name="userRole" [style]="{'width':'auto'}">
                            </p-multiSelect>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="row" id="scheduleCalendarContainer">
                            <div id="calendar">
                            </div>

                        </div>

                    </div>
                </div>

            </p-tabPanel>


            <p-tabPanel header="Tests" id="tests">
                After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
                and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael
                Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would
                one day be completely legitimate.
            </p-tabPanel>

            <p-tabPanel header="Attachments" id="attachments">
                <h2>Attachments</h2>
                <p-growl [value]="msgs"></p-growl>

                <p-fileUpload [name]="testfacility" url="http://localhost:9998/api/file/SaveDocuments/{{entityType}}/{{entityId}}" (onUpload)="onUpload($event)"
                              multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <template pTemplate type="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Test Facility Attachments</b></div>
                            <div class="ui-grid-col-2"></div>

                            <p-dataTable [value]="TestFacilityAttachments">
                                <p-column field="name" header="Name"></p-column>
                                <p-column>
                                    <template pTemplate type="header">
                                        <button type="button" pButton icon="fa-refresh"></button>
                                    </template>
                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        <a href="http://localhost:9998/api/TestFacilityAttachment/file/{{TestFacilityAttachment.id}}">download</a>
                                    </template>
                                </p-column>
                                <p-column>
                                    <template pTemplate type="header">
                                        <button type="button" pButton icon="fa-refresh"></button>
                                    </template>
                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        <button pButton type="button">delete</button>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </template>
                </p-fileUpload>
            </p-tabPanel>


        </p-tabView>
    </div>
    
</div>