
<div class="ui-g">

    <div class="ui-g-12">

        <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
        <br/>

        <h1>{{testFacility.name}} Test Facility Details</h1>

        <p-messages [value]="notificationMsgs"></p-messages>

        <p-tabView (onChange)="handleChange($event)">

            <p-tabPanel header="Information" id='details'>

                <p-growl [value]="msgs"></p-growl>

                    <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                        <div *ngIf="hasNextMaintenanceDate==true">
                            <h2>Next Maintainence Date: {{testFacility.nextMaintenanceDate}}</h2>
                            <!-- Begin Panel - Test Facility Name and Location -->
                        </div>
                        <p-panel header="Information">

                            <div class="body">

                                <!-- Begin Name -->

                                <div class="ui-grid-row">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" id="name" pInputText name="name"
                                               [(ngModel)]="testFacility.name" #testFacilityNameRef="ngModel"
                                               minlength="3" class="form-control" required row="20"
                                               (focus)="testFacilityNameRef.focus=true"
                                               (blur)="testFacilityNameRef.focus=false" style="width:100%">
                                        <label>Name <span
                                                [ngClass]="{'error': testFacilityNameRef.dirty && testFacilityNameRef.errors?.required}">*</span></label>
                                    </div>

                                    <p class="helper error"
                                       *ngIf="testFacilityNameRef.dirty && (testFacilityNameRef.errors?.required || testFacilityNameRef.errors?.minlength)">
                                        At least three characters</p>

                                </div><br /><br />

                                <!-- End Name -->
                                <!-- Begin Address Line 1 -->

                                <div class="ui-grid-row">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="addressLine1" class="form-control" row="20"
                                               [(ngModel)]="address.addressLine1"
                                               #tfAddress1Ref="ngModel" id="addressLine1"
                                               (focus)="tfAddress1Ref.focus=true" (blur)="tfAddress1Ref.focus=false" style="width:100%">
                                        <label>Address Line 1</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText class="form-control" row="20" name="addressLine2"
                                               [(ngModel)]="address.addressLine2" id="addressLine2"
                                               #tfAddress2Ref="ngModel"
                                               (focus)="tfAddress2Ref.focus=true" (blur)="tfAddress2Ref.focus=false" style="width:100%">
                                        <label>Address Line 2</label>
                                    </div>
                                    <!--<p class="helper hint" *ngIf="tfAddress1Ref.focus">For example, 123 Main Street</p>
                <p class="helper error" *ngIf="tfAddress1Ref.errors?.required && !tfAddress1Ref.focus">Required</p>-->

                                </div><br /><br />

                                <!-- End Address Line 1 -->
                                <!-- Begin Address Line 2 -->
                                <div class="ui-grid-row">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                          <input type="text" pInputText class="form-control" row="20" name="city"
                                                 #tfCityRef="ngModel" [(ngModel)]="address.city" id="city"
                                                 (focus)="tfCityRef.focus=true" (blur)="tfCityRef.focus=false" style="width:100%">
                                          <label>City </label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                          <input type="text" pInputText class="form-control" row="20" name="state"
                                                 [(ngModel)]="address.state" #tfstateRef="ngModel" id="state"
                                                 (focus)="tfstateRef.focus=true" (blur)="tfstateRef.focus=false" style="width:100%">
                                          <label>State </label>
                                    </div>
                                    <!--<p class="helper hint" *ngIf="tfAddress1Ref.focus">For example, 123 Main Street</p>
                <p class="helper error" *ngIf="tfAddress1Ref.errors?.required && !tfAddress1Ref.focus">Required</p>-->

                                </div><br /><br />
                                <div class="ui-grid-row">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                          <input type="text" pInputText class="form-control" row="20" name="postalCode"
                                                 [(ngModel)]="address.postalCode" #tfpostalCodeRef="ngModel"
                                                 (focus)="tfpostalCodeRef.focus=true" id="postalCode"
                                                 (blur)="tfpostalCodeRef.focus=false" style="width:100%">
                                          <label>Postal Code </label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                          <p-calendar [(ngModel)]="testFacility.lastMaintenanceDate"
                                                          name="lastMaintenanceDate" id="lastMaintenanceDate"  [showIcon]="true"></p-calendar>
                                                          <label class="control-label  col-sm-12 pl0">
                                                              Last Maintenance Date
                                                          </label>
                                    </div>
                                    <!--<p class="helper hint" *ngIf="tfAddress1Ref.focus">For example, 123 Main Street</p>
                <p class="helper error" *ngIf="tfAddress1Ref.errors?.required && !tfAddress1Ref.focus">Required</p>-->

                                </div><br /><br />
                                <div class="ui-grid-row">
                                    <div class="ui-g-12">
                                            <label>Maintenance Frequency</label>
                                            <p-checkbox name="groupname" value="isMaintenaceFrequencySelected"
                                                        label="Is Maintenance Frequency required?" id="isMaintenanceFrequencySelected"
                                                        [(ngModel)]="isMaintenaceFrequencySelected" binary="true"
                                                        (onChange)="showHideCronPicker()">
                                            </p-checkbox>


                                            <div class="md-inputfield">
                                                <br/>
                                                <div id="selector" [hidden]="!isMaintenaceFrequencySelected"></div>
                                            </div>
                                      </div>
                                </div>


                                <!-- End State -->
                                <!-- Begin Delete -->

                                <div class="ui-grid-row">

                                    <p>Description</p>
                                    <div class="md-inputfield">

                                        <p-editor [(ngModel)]="testFacility.description" name="description" id="description"
                                                  [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                                            <header>
                                                <select class="ql-size">
                                                    <option value="small"></option>
                                                    <!-- Note a missing, thus falsy value, is used to reset to default -->
                                                    <option selected></option>
                                                    <option value="large"></option>
                                                    <option value="huge"></option>
                                                </select>
                                                <span class="ql-formats">
                                                        <button class="ql-bold"></button>
                                                        <button class="ql-italic"></button>
                                                        <button class="ql-underline"></button>
                                                    </span>
                                            </header>
                                        </p-editor>


                                    </div>

                                </div><br />

                                <div class="input-row md-spaced">

                                    <p-checkbox name="groupname" value="IsTestFacilityDelete" id="IsTestFacilityDelete"
                                                label="Do you want retire this testFacility?"
                                                [(ngModel)]="IsTestFacilityDelete" (onChange)="onTestFacilityDelete()"
                                                binary="true"></p-checkbox>

                                </div>
                              </div>
                            <footer>
                                <p>* indicates required field</p>
                                <button pButton type="submit" [disabled]="!tfForm.valid" label="Save" id="save"
                                        icon="ui-icon-save"  class="green-btn" ></button>
                            </footer>
                            <br />
                        </p-panel><br />
                        <!-- End Panel - Test Facility Name and Location -->

                    </form>



                <div class="subsection">

                    <form>

                        <!-- Begin Dialog - Assign User Role -->

                        <p-dialog header="Add Users and Assign Roles" [(visible)]="displayAssignUserRolesDialog"
                                  modal="modal"
                                  showEffect="fade" responsive="true">

                            <p>Please select one or more users and their role at the {{testFacility.name}} test
                                facility.</p>

                            <!-- Begin Users -->

                            <div class="input-row">

                                <label>
                                    <span class="text">Users</span>

                                    <p-autoComplete [(ngModel)]="filteredSelectedUserNames"
                                                    [suggestions]="filteredUserNames"
                                                    (completeMethod)="filterUserNames($event)"
                                                    name="username"  id="username" [minLength]="1" placeholder="Search by Name/#"
                                                    field="firstName" [multiple]="true">
                                    </p-autoComplete>

                                </label>

                            </div>

                            <!-- End Users -->
                            <!-- Begin Role -->

                            <div class="input-row">

                                <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                                <span class="pseudo-label">Role</span>

                                <p-dropdown [options]="userRoles" (onChange)="onUserRoleChange($event)"
                                            name="userRole" id="userRole"  [autoWidth]="false"></p-dropdown>

                            </div>

                            <!-- End Role -->
                            <br/>
                            <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <div style='float:left;padding:0.85em'>
                                        <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open"
                                                    [(ngModel)]="IsKeepOpen" binary="true" id="userIsKeepOpen" ></p-checkbox>
                                    </div>
                                    <button type="button" pButton icon="ui-icon-close" id="userCancel"
                                            (click)="displayAssignUserRolesDialog=false" label="Cancel"></button>
                                    <button type="button" pButton icon="ui-icon-save"  id="userSave" (click)="onAddUserRole()"
                                            label="Add User Role"></button>
                                </div>
                            </footer>

                        </p-dialog>

                        <!-- End Dialog - Assign User Role -->
                        <!-- Begin Panel - Test Facility Users -->

                        <p-panel>

                            <header class="with-controls">
                                <p class="ui-panel-title">Test Facility Users</p>
                                <p class="controls">
                                    <button type="text" (click)="displayAssignUserRolesDialog=true" pButton
                                            icon="ui-icon-person-add" label="Add User Roles" class="blue-grey-btn" id="userRoleAdd" ></button>
                                </p>
                            </header>

                            <div class="ui-grid-row">

                                <p-dataTable [value]="TestFacilityRoles" [rows]="10" [paginator]="true"
                                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                                    <p-column field="name" header="Name" sortable="true" [filter]="true"
                                              filterPlaceholder="Search"></p-column>
                                    <p-column field="role" header="Role" sortable="true" [filter]="true"
                                              filterPlaceholder="Search"></p-column>
                                    <p-column header="Action">

                                        <template let-TestFacilityRole="rowData" pTemplate type="body">
                                            <button pButton type="button" icon="ui-icon-remove-circle" class="red-btn"
                                                    (click)="onDeleteUserRoleMap(TestFacilityRole.id)"
                                                    label="Delete"></button>
                                        </template>
                                    </p-column>
                                </p-dataTable>

                            </div>

                        </p-panel>

                        <!-- End Panel - Test Facility Users -->

                    </form>

                </div>

                <div class="subsection">

                    <form>

                        <!-- Begin Dialog - Assign Departments -->

                        <p-dialog header="Add Departments" [(visible)]="displayAssignDepartmentsDialog"
                                  modal="modal" showEffect="fade" responsive="true">

                            <p>Please select one or more departments at the {{testFacility.name}} test facility.</p>

                            <div class="input-row">

                                <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                                <span class="pseudo-label">Departments</span>

                                <p-dropdown [options]="departments" (onChange)="onDepartmentChange($event)"
                                            name="departments" [autoWidth]="false" id="departments" ></p-dropdown>

                            </div>

                            <!-- End Role -->
                            <br/>
                            <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <div style='float:left;padding:0.85em'>
                                        <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open"
                                                    [(ngModel)]="IsKeepOpen" binary="true" id="departmentIsKeepOpen" ></p-checkbox>
                                    </div>
                                    <button type="button" pButton icon="ui-icon-close" id="departmentClose"
                                            (click)="displayAssignDepartmentsDialog=false" label="Cancel"></button>
                                    <button type="button" pButton icon="ui-icon-save" id="departmentAdd"  (click)="onAddDepartment()"
                                            label="Add Department"></button>
                                </div>
                            </footer>

                        </p-dialog>

                        <!-- End Dialog - Assign Departments -->

                        <!-- Begin Panel - Departments -->

                        <p-panel>

                            <header class="with-controls">
                                <p class="ui-panel-title">Departments</p>
                                <p class="controls">
                                    <button type="text" (click)="displayAssignDepartmentsDialog=true" pButton
                                            icon="ui-icon-person-add" label="Add Departments" id="departmentAdd"   class="blue-grey-btn" ></button>
                                </p>
                            </header>

                            <div class="ui-grid-row">

                                <p-dataTable [value]="testFacilityTenants" [rows]="10" [paginator]="true"
                                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                                    <p-column field="name" header="Name(Department Name)" sortable="true"
                                              [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="role" header="Next Scheduled Test date"
                                              sortable="true"></p-column>
                                    <p-column field="role" header="Department PIC" [filter]="true"
                                              sortable="true"></p-column>
                                    <p-column header="Action">
                                        <!--<template pTemplate type="header">
                                <button pButton type="button" icon="ui-icon-remove-circle" label="Delete"></button>
                            </template>-->
                                        <template let-TestFacilityTenant="rowData" pTemplate type="body">
                                            <button pButton type="button" icon="ui-icon-remove-circle"
                                                    (click)="onDeleteTenantMap(TestFacilityTenant.id)"
                                                    label="Delete" class="red-btn"></button>
                                        </template>

                                    </p-column>
                                </p-dataTable>

                            </div>

                        </p-panel>

                        <!-- End Panel - Departments -->

                    </form>

                </div>


            </p-tabPanel>

            <p-tabPanel header="Equipment" id="equipment" headerStyleClass="equipment">
                <p-growl [value]="msgs"></p-growl>
                <p-dialog header="Add Equipment  to {{testFacility.name}}" [(visible)]="displayAssignEquipmentsDialog"
                          modal="modal"
                          showEffect="fade" responsive="true">


                    <div class="input-row">

                        <!-- Note: p-dropdown includes a "label" element, so it should not be wrapped in another one. -->
                        <span class="pseudo-label">Equipment</span>
                        <p-dropdown [options]="equipmentsToAdd" (onChange)="onEquipmentChange($event)" name="equipments"
                                    appendTo="body" id="equipments"
                                    [autoWidth]="false">
                            <template let-item>
                                <div class="ui-helper-clearfix">
                                    <div *ngIf="item.value.name !==''"> {{item.value.name}} ({{
                                        item.value.serialNumber}})
                                    </div>
                                    <div *ngIf="item.value.name !==''">Facility Name: {{item.value.testFacilityName}}
                                    </div>
                                </div>
                            </template>

                        </p-dropdown>

                    </div>

                    <!-- End Role -->
                    <br/>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <!--<label class="checkbox"><input type="checkbox"> Keep Open</label>-->
                            <div style='float:left;padding:0.85em'>
                                <p-checkbox name="groupname" value="IsKeepOpen" label="Keep Open"
                                            [(ngModel)]="IsKeepOpen" id="equipmentIsKeepOpen"
                                            binary="true"></p-checkbox>
                            </div>
                            <button type="button" pButton icon="ui-icon-close" id="equipmentCancel"
                                    (click)="displayAssignEquipmentsDialog=false" label="Cancel"></button>
                            <button type="button" pButton icon="ui-icon-save" id="equipmentAdd"  (click)="onAddEquipment()"
                                    label="Add Equipment"></button>
                        </div>
                    </footer>

                </p-dialog>
                <p-panel>
                    <header class="with-controls">
                        <p class="ui-panel-title"> Equipment List</p>
                        <p class="controls">
                            <button type="text" (click)="onAssignEquipments()" pButton
                                    icon="ui-icon-person-add" label="Add Equipment" id="addEquipment"  class="blue-grey-btn" ></button>
                        </p>
                    </header>
                    <div class="ui-grid-col-4"></div>

                    <p-dataTable [value]="TestFacilityEquipments" selectionMode="single"
                                 [paginator]="true" rows="15" [responsive]="true">
                        <p-column field="equipmentName" header="Equipment Name" sortable="true" [filter]="true"
                                  filterPlaceholder="Search"></p-column>
                        <p-column field="serialNumber" header="Serial Number" sortable="true" [filter]="true"
                                  filterPlaceholder="Search"></p-column>
                        <p-column field="equipmentTypeName" header="Equipment Type Name" sortable="true" [filter]="true"
                                  filterPlaceholder="Search"></p-column>
                        <p-column field="equipmentTypeName" header="Next Calibration Date" sortable="true"></p-column>

                        <p-column header="Actions">
                            <template let-TestFacilityEquipment="rowData" pTemplate type="body">
                                <button pButton type="button" icon="ui-icon-arrow-forward" label="Move"
                                        (click)="showEquipmentDialog(TestFacilityEquipment)"
                                        title="Move To Another Test Facility"  class="blue-grey-btn" ></button>
                                <button pButton type="button" icon="ui-icon-remove-circle"
                                        (click)="onDeleteEquipmentMap(TestFacilityEquipment.id)"
                                        label="Delete" class="red-btn"></button>
                            </template>

                        </p-column>
                    </p-dataTable>
                    <p-dialog header="Test Facility Equipment" [(visible)]="displayEquipmentDialog" [responsive]="true"
                              showEffect="fade" [modal]="true" width="300">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="name">Choose Test Facility</label></div>
                            <div class="ui-grid-col-8">
                                <p-dropdown [options]="currentTestFacilities" (onChange)="onTestFacilityChange($event)"
                                            name="testFacilities" id="chooseTestFacilities"  [style]="{'width':'auto'}">
                                </p-dropdown>
                            </div>
                        </div>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton icon="fa-close" id="facilityCancel"  routerLink="/testFacilities"
                                        label="Cancel"></button>
                                <button type="button" pButton icon="fa-check" id="facilityOk"  (click)="moveEquipmenttoTestFacility()"
                                        label="Ok"></button>
                            </div>
                        </footer>
                    </p-dialog>

                </p-panel>

            </p-tabPanel>

            <p-tabPanel header="Schedule" id="schedule" headerStyleClass="schedule">
                <div class="card card-w-title ui-grid-row">


                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <div class="ui-g-6">
                                    Project Code :
                                </div>
                                <div class="ui-g-6">
                                    <p-multiSelect [options]="projectCodes" (onChange)="onProjectCodeChange($event)"
                                                   name="projectCodes" id="projectCodes" [style]="{'width':'100%'}">
                                    </p-multiSelect>
                                </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <div class="ui-g-6">
                                    Test Facility :
                                </div>
                                <div class="ui-g-6">
                                    <p-multiSelect [options]="testFacilities" (onChange)="onTestFacilityChange($event)"
                                                   name="testFacilities" id="testFacilities" [style]="{'width':'100%'}">
                                    </p-multiSelect>
                                </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <div class="ui-g-6">
                                    Test Mode :
                                </div>
                                <div class="ui-g-6">
                                    <p-multiSelect [options]="testAllModes" (onChange)="onTestModeChange($event)"
                                                   name="testModes" id="testModes" [style]="{'width':'100%'}">
                                    </p-multiSelect>
                                </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <div class="ui-g-6">
                                    Test Type :
                                </div>
                                <div class="ui-g-6">
                                    <p-multiSelect [options]="testTypes" (onChange)="onTestTypeChange($event)" name="testTypes" id="testTypes"
                                                   [style]="{'width':'100%'}">
                                    </p-multiSelect>
                                </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                  <div class="ui-g-6">
                                      Test Status :
                                  </div>
                                  <div class="ui-g-6">
                                      <p-multiSelect [options]="testStatus" (onChange)="onTestStatusChange($event)"
                                                     name="testStatus" id="testStatus" [style]="{'width':'100%'}">
                                      </p-multiSelect>
                                  </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                  <div class="ui-g-6">
                                      Test Roles:
                                  </div>
                                  <div class="ui-g-6">
                                      <p-multiSelect [options]="testRoles" (onChange)="onTestRoleChange($event)" name="testRoles"
                                                     id="testRoles" [style]="{'width':'100%'}">
                                      </p-multiSelect>
                                  </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                  <div class="ui-g-6">
                                      Build Levels :
                                  </div>
                                  <div class="ui-g-6">
                                      <p-multiSelect [options]="buildLevels" (onChange)="onBuildLevelChange($event)"
                                                     name="buildLevels"  id="buildLevels" [style]="{'width':'100%'}">
                                      </p-multiSelect>
                                  </div>
                          </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="row" id="scheduleCalendarContainer">
                            <div id="calendar">
                            </div>

                        </div>

                    </div>
                </div>

            </p-tabPanel>

            <p-tabPanel header="Maintenance" id="tests">
                <!--region Maintenance Information -->
                <div class="card card-w-title" *ngIf="gridFormInstanceData">

                    <p-dataTable [value]="gridFormInstanceData"
                                 selectionMode="single"
                                 [(selection)]="selectedGridFormInstance"
                                 (onRowSelect)="maintenanceInformationFormRowSelect($event)">
                        <header>Maintenance Information Filled</header>
                        <p-column field="name" header="Name"></p-column>
                        <p-column field="userName" header="Processed By"></p-column>
                        <p-column field="createdOn" header="Created On"></p-column>
                        <p-column field="notes" header="Notes"></p-column>
                    </p-dataTable>

                </div>
                <!--endregion-->
                <!--region Maintenance Forms -->
                <div class="card card-w-title" *ngIf="formSchemaData">

                    <p-dataTable [value]="formSchemaDataGridMF"
                                 selectionMode="single"
                                 [(selection)]="selectedMaintenanceForm"
                    >
                        <header>List of Test Facility Forms</header>
                        <p-column field="name" header="Name"></p-column>
                        <p-column field="userFullName" header="Created By"></p-column>
                        <p-column field="createdOn" header="Created On"></p-column>
                        <p-column>
                            <template pTemplate="header">
                                Preview Form
                            </template>
                            <template let-item="rowData" pTemplate="body">
                                <button type="button" pButton (click)="maintenanceFormRowSelect(item)" icon="fa-plus"
                                        iconPos="right" label="Preview Form"></button>
                            </template>
                        </p-column>
                        <p-column>
                            <template pTemplate="header">
                                Enter Data
                            </template>
                            <template let-item="rowData" pTemplate="body">
                                <button type="button" pButton (click)="createInstance(item)" icon="fa-plus"
                                        iconPos="right" label="Add Information"></button>
                            </template>
                        </p-column>
                    </p-dataTable>

                </div>
                <!--endregion-->

                <p-dialog header="Form Preview"
                          [(visible)]="displayPreviewSelectedForm"
                          modal="true"
                          responsive="true"
                          width="1200">
                    <div class="card card-w-title">
                        <form-preview *ngIf="selectedFormSchemaFP"

                                      [formSchema]="selectedFormSchemaFP"
                                      [fields]="fieldsFP"
                                      [formName]="selectedFormName"></form-preview>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button pButton
                                        type="text"
                                        icon="fa fa-close"
                                        (click)="closeFormPreviewDialog()"
                                        label="Close Preview"></button>
                            </div>
                        </footer>
                    </div>
                </p-dialog>

                <p-dialog header="Form Data"
                          [(visible)]="displayFormInsanceForm"
                          modal="true"
                          responsive="true"
                          width="1200">
                    <div class="card card-w-title">
                        <form-instance *ngIf="displayFormInsanceForm"
                                       [formInstanceId]="formInstanceId"
                                       [formInstanceUpdateNotes]="formInstanceUpdateNotes"
                                       [formInstanceUpdateView]="formInstanceUpdateView"
                                       [formInstanceUpdateData]="formInstanceUpdateData"
                                       [formSchemaVersionId]="formInstanceFormSchemaVersionId"
                                       [entityIdentifierId]="entityIdentifierInfo.id"
                                       [entityId]="id"
                                       [formName]="selectedFormName"
                                       [selectedInputList]="formInstanceFields"
                                       (closeFormInstanceDialog)="closeFormInstanceDialog($event)">
                        </form-instance>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button pButton
                                        type="text"
                                        icon="fa fa-close"
                                        (click)="closeFormInstanceDialog()"
                                        label="Close Preview"></button>
                            </div>
                        </footer>
                    </div>
                </p-dialog>

            </p-tabPanel>

            <p-tabPanel header="Attachments" id="attachments">
              <p-panel header="Attachments">
                <p-growl [value]="msgs"></p-growl>

                <br />
                <div class="ui-g">
                    <div class="ui-g-2"><label>Category:</label></div>
                    <div class="ui-g-4">
                      <p-dropdown [options]="categories" (onChange)="onCategoryChange($event)" name="categories"  id="categories"
                                  [(ngModel)]="selectedCategory" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div><br />
                <!--<div class="ui-grid-col-2"></div>-->

                <p-fileUpload [name]="testfacility"
                              url="{{titanApiUrl}}file/SaveDocuments/{{entityType}}/{{entityId}}/{{selectedCategory}}"
                              (onUpload)="onUpload($event)"
                              multiple="multiple" accept="false" maxFileSize="1000000">
                    <template pTemplate type="content">
                        <!--<ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>-->
                        <div class="ui-grid-row">
                            <!--<div class="ui-grid-col-2"><b>Test Facility Attachments</b></div>-->
                            <div class="ui-grid-col-2"></div>

                            <p-dataTable [value]="TestFacilityAttachments" [editable]="true">

                                <!-- Begin File Name Column -->

                                <p-column field="name" header="File Name">
                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        {{TestFacilityAttachment.name}}
                                        <!--<a href="{{titanApiUrl}}TestFacilityAttachment/file/{{TestFacilityAttachment.id}}">{{TestFacilityAttachment.name}}</a>-->
                                    </template>
                                </p-column>


                                <!--<p-column header="Category" [style]="{'overflow':'visible'}">
                        <template pTemplate type="body" let-col>
                            <p-dropdown [options]="categories" (onChange)="onCategoryChange($event)" name="categories" [(ngModel)]="selectedCategory" [style]="{'width':'100%'}"></p-dropdown>

                          </template>
                    </p-column>-->
                                <p-column field="category" header="Category">

                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        <!--<em style="color: #ddd">{{TestFacilityAttachment.employee}}</em>-->
                                        {{TestFacilityAttachment.category}}
                                    </template>
                                </p-column>
                                <!-- End File Name Column -->
                                <!-- Begin Uploaded By Column -->

                                <p-column field="employee" header="Employee">

                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        <!--<em style="color: #ddd">{{TestFacilityAttachment.employee}}</em>-->
                                        {{TestFacilityAttachment.employee}}
                                    </template>
                                </p-column>

                                <!-- End Uploaded By Column -->
                                <!-- Begin When Uploaded Column -->

                                <p-column field="TestFacilityAttachment.timeStamp" header="TimeStamp">
                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">
                                        {{TestFacilityAttachment.timeStamp}}
                                    </template>
                                </p-column>

                                <!-- End When Uploaded Column -->
                                <!-- Begin Actions Column -->

                                <p-column header="Actions">
                                    <template let-TestFacilityAttachment="rowData" pTemplate type="body">

                                        <!-- <a href="{{titanApiUrl}}TestFacilityAttachment/file/{{TestFacilityAttachment.id}}">Download</a> -->
                                        <button pButton type="button" icon="ui-icon-file-download" label="Download"
                                        (click)="downloadAttachment(TestFacilityAttachment)" class="blue-grey-btn" ></button>
                                        <button pButton type="button" icon="ui-icon-remove-circle" label="Delete"
                                                (click)="onDelete(TestFacilityAttachment)" class="red-btn"></button>
                                    </template>
                                </p-column>

                                <!-- End Actions Column -->

                            </p-dataTable>
                        </div>
                    </template>
                </p-fileUpload>
              </p-panel>
            </p-tabPanel>

            <p-tabPanel header="Log" id="log" headerStyleClass="log">
                <p-growl [value]="msgs"></p-growl>
                <form name="tForm2" enctype="application/x-www-form-urlencoded">
                    <p-dialog header="Add Comment" [(visible)]="displayCommentDialog" [responsive]="true"
                              showEffect="fade" [modal]="true" width="400">

                        <div class="ui-grid-row">
                            <p-editor [(ngModel)]="comment" name="comment" id="comment" [style]="{'height':'320px'}">
                                <header>
                                    <select class="ql-size">
                                        <option value="small"></option>
                                        <!-- Note a missing, thus falsy value, is used to reset to default -->
                                        <option selected></option>
                                        <option value="large"></option>
                                        <option value="huge"></option>
                                    </select>
                                    <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                </span>
                                </header>
                            </p-editor>
                        </div>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton icon="fa-close" id="commentCancel" (click)="displayCommentDialog=false"
                                        label="Cancel"></button>
                                <button type="button" pButton icon="ui-icon-comment" id="commentAdd" (click)="AddLogComment()"
                                        label="Add Comment"></button>
                            </div>
                        </footer>
                    </p-dialog>
                    <p-panel>

                        <header class="with-controls">
                            <p class="ui-panel-title">Log/Comment List</p>
                            <p class="controls">
                                <button pButton type="button" icon="ui-icon-add" label="Add Comment" id="addComment"
                                        (click)="addCommentButton($event)" class="blue-grey-btn" ></button>
                            </p>
                        </header>
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-row">


                            <div class="ui-grid-col-2"></div>
                            <p-dataTable [value]="testFacilityLogComments" selectionMode="single"
                                         [rows]="10" [paginator]="true" [pageLinks]="3"
                                         [rowsPerPageOptions]="[5,10,20]">
                                [responsive]="true">
                                <p-column field="event" header="Information" sortable="true" [filter]="true"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="comment" header="Audit/Comment" sortable="true" [filter]="true"

                                          filterPlaceholder="Search">
                                    <template let-col let-item="rowData" pTemplate="body">
                                        <div [innerHtml]="item.comment"></div>
                                    </template>


                                </p-column>
                                <p-column field="employee" header="Employee" sortable="true" [filter]="true"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="createdOn" header="Timestamp" sortable="true"></p-column>
                            </p-dataTable>

                        </div>
                    </p-panel>
                </form>
                <div class="ui-grid-col-2"></div>


            </p-tabPanel>
        </p-tabView>
    </div>

</div>
