<div class="ui-g custom-font">
<div class="ui-g-12">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <br />
    <div class="card card-w-title"> 
        <header>
            <button pButton type="button" icon="ui-icon-search" label="Search"></button>
        </header>
        <h1>{{title}}</h1>
        <div class="ui-grid-row color_container">         
            <p-accordion>
                <p-accordionTab header="Catalogs" [selected]='true'>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/buildLevel']">
                            <div class="ui-g card colorbox colorbox-4">
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Simulation Catalog</span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/measurementCatalog']">
                                <div class="ui-g card colorbox colorbox-4">
                                    <div class="ui-g-12">
                                        <span class="colorbox-count">Measurement Catalog</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <a [routerLink]="['/admin/vehicle/market']">
                            <div class="ui-g card colorbox colorbox-4">
 
                                <div class="ui-g-12">
                                    <span class="colorbox-count">Input Parameter Catalog</span>
                                </div>
                            </div>
                            </a>
                        </div>
                       
                </p-accordionTab>
               
            </p-accordion>
        </div>
    </div>
</div>
</div>