<div class="ui-g-12">
    <div class="card card-w-title">
        <h1>Tasks</h1>
        <p-panel header="Thermo Couple Pending Tasks" *ngIf="HasTasks==true">
          <p-dataTable [value]="pendingTasks" *ngIf="HasTasks==true" [paginator]="true" rows="15" [responsive]="true">

              <p-column header="Test Request" sortable="true">
                  <template let-taskrow="rowData" pTemplate type="body">
                     
                      <a routerLink="{{titanApiUrl}}/testrequest/details/{{taskrow.entityId}}/add/{{taskrow.entityId}}/{{taskrow.id}}">{{taskrow.entityId}}</a>
                  </template>
                 
              </p-column>
              <!--<p-column>
                  <template pTemplate type="header">
                      <button type="button" pButton icon="fa-refresh"></button>
                  </template>
                  <template let-taskrow="rowData" pTemplate type="body">
                      <button id="add" pButton type="button" icon="ui-icon-add" label="Add Thermo Couple Info" routerLink="{{titanApiUrl}}/testrequest/details/{{taskrow.entityId}}/add/{{taskrow.entityId}}/{{taskrow.id}}" *ngIf="HasTasks==true"></button>
                       <a href="{{titanApiUrl}}/testrequest/details/{{taskrow.entityId}}/add/{{taskrow.entityId}}/{{taskrow.id}}" *ngIf="HasTasks==true"><i class="fa ui-icon-add"></i> Add Thermo Couple Info</a> 
                 
                   </template>
             </p-column>-->
          </p-dataTable>
        </p-panel>
        <p-panel header="Thermo Couple Tasks">
          <p-dataTable [value]="allTasks" [paginator]="true" rows="15" [responsive]="true">

              <p-column header="Test Request" sortable="true">
                  <template let-taskrow="rowData" pTemplate type="body">
                  
                      <a routerLink="details/{{taskrow.id}}">{{taskrow.entityId}}</a>
                      </template>
             </p-column>
              <p-column header="Task Name" sortable="true">
                  <template let-taskrow="rowData" pTemplate type="body">
                      {{taskrow.name}}
                  </template>
              </p-column>
              <p-column header="Department" sortable="true">
                  <template let-taskrow="rowData" pTemplate type="body">
                      {{taskrow.departmentId}}
                  </template>
              </p-column>
              <p-column header="Status" sortable="true">
                  <template let-taskrow="rowData" pTemplate type="body">
                      <div *ngIf="taskrow.isCompleted==true">
                          Completed
                      </div>
                      <div *ngIf="taskrow.isCompleted==false">
                          Pending
                      </div>
                      
                  </template>
              </p-column>
              <p-column header="Actions">
                  
                  <template let-taskrow="rowData" pTemplate type="body">
                      <button pButton type="button" icon="ui-icon-remove-circle" label="Delete"
                              (click)="onDelete(taskrow.id)"></button>
                      <!-- <a routerLink="details/{{taskrow.id}}">Details</a> -->
                      <!--<button id="details" pButton type="button" label="Details" routerLink="details/{{taskrow.id}}"></button>-->
                  </template>
              </p-column>


          </p-dataTable>
        </p-panel>
    </div>
</div>
