<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
        <p-tabView (onChange)="handleChange($event)">

            <p-tabPanel header="Info ||" id="info">
              <form #tfForm="ngForm" (ngSubmit)="onTestRequestSubmit(tfForm.value)">
                 <p-panel>

                        <header class="with-controls">
                            <p class="ui-panel-title">Add Thermo Couple Info</p>
                            <p class="controls"><button type="text" (click)="onCompleteTask()" pButton icon="ui-icon-person-save" label="Complete&hellip;"></button></p>
                        </header>
                        <div class="body">
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="partName" [(ngModel)]="partName"
                                       minlength="3"  required style="width:100%">
                                <label>Part Name <span >*</span></label>
                            </div>
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText [(ngModel)]="partNumber" name="partNumber"
                                       minlength="3"  required style="width:100%">
                                <label>Part Number <span >*</span></label>
                            </div>
                        </div><br /><br />
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText [(ngModel)]="departmentId" name="department" minlength="3"  required style="width:100%">
                                <label>Department <span >*</span></label>
                            </div>
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="departmentpic" [(ngModel)]="departmentpic" minlength="3"  required style="width:100%">
                                <label>Department PIC <span >*</span></label>
                            </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Category :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="categories" [(ngModel)]="selectedCategoryId" (onChange)="onCategoryChange($event)" name="category" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Material :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="materials" [(ngModel)]="selectedMaterialId" (onChange)="onMaterialChange($event)" name="material">
                              </p-dropdown>
                          </div>
                        </div><br /><br />
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="steadyRequirement" [(ngModel)]="steadyRequirement"
                                       minlength="3"  required style="width:100%">
                                <label>Steady state Requirement <span >*</span></label>
                            </div>
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText [(ngModel)]="periodicRequirement" name="periodicRequirement"
                                       minlength="3"  required style="width:100%">
                                <label>Periodic Requirement <span >*</span></label>
                            </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Select Sensor :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="Sensors" (onChange)="onSensorChange($event)" name="sensor" >
                              </p-dropdown>
                          </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-6">
                                <p style="color:#777">
                                    Upload File :
                                </p>
                                <p-fileUpload [name]="sensorpic"
                                              multiple="multiple" accept="image/*" (onSelect)="onChange($event)" maxFileSize="1000000">
                                </p-fileUpload>
                        </div>
                      </div>
                      <div class="ui-grid-row " >
                          <div class="ui-g-12 ui-md-12" >
                            <label style="color:#777">Comments :</label>
                          </div>
                          <div class="ui-g-12 ui-md-12 md-inputfield">
                              <!--Editor Section-->

                          </div>
                      </div>
                    </div>
                    <footer>
                        <button id="cancel" pButton type="button" icon="ui-icon-close" label="Cancel" routerLink="/testRequest/details/{{entityId}}">  </button>
                        <button id="add" pButton type="submit" icon="ui-icon-save" label="Add"></button>
                    </footer>
                  </p-panel><br />
                  <p-panel header="Thermo Couple Info List">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive" style="min-height:400px;">
                                <p-dataTable [value]="sensorRequests" [paginator]="true" rows="15" [responsive]="true">
                                    <p-column header="Sensor Name" field="name" sortable="true"></p-column>
                                    <p-column header="Comments" field="comment" sortable="true"></p-column>
                                    <p-column header="Part Name" field="partName" sortable="true"></p-column>
                                    <p-column header="Part Number" field="partNumber" sortable="true"></p-column>
                                    <p-column header="Department" field="departmentId" sortable="true"></p-column>
                                    <p-column header="Department PIC" field="departmentId" sortable="true"></p-column>
                                    <p-column header="Material" field="materialId"  sortable="true"></p-column>
                                    <p-column header="Steady State Requirement" field="steadyRequirement" sortable="true"></p-column>
                                    <p-column header="Steady Periodic Requirement" field="periodicRequirement" sortable="true"></p-column>
                                    <p-column header="Category" field="categoryId" sortable="true"></p-column>
                                    <!--<p-column>
                                        <template pTemplate type="header">
                                            <button type="button" pButton icon="fa-refresh"></button>
                                        </template>
                                        <template let-sensorrow="rowData" pTemplate type="body">
                                            <a routerLink="details/{{sensorrow.id}}/{{entityId}}"><i class="fa ui-icon-edit"></i>Edit</a>
                                        </template>
                                    </p-column>-->

                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                  </p-panel>
              </form>

            </p-tabPanel>


        </p-tabView>
</div>
</div>
