            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Step Name *
                            </div>
                            <div class="ui-g-8">
                                <input type="text" name="stepName" pInputText [(ngModel)]="stepDetails.name" placeholder="Please enter Step Name" class="form-control" style="width:100%"
                                    required #stepNameRef="ngModel"/>
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Test Stage
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="testStages" [(ngModel)]="stepDetails.testStageId" name="testStage" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Step Type
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown #stepTypeRef="ngModel" [options]="stepTypes" [(ngModel)]="stepDetails.stepTypeId"  (onChange)="onStepTypeChange()" name="stepType" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="stepTypeDetailList">
                            <div class="ui-g-4">
                                {{stepTypeDetailLabelText}}
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="stepTypeDetailList" [(ngModel)]="stepDetails.stepTypeDetailIds" name="stepTypeDetail"></p-multiSelect>                                
                            </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-4">
                                Repeat
                            </div>
                            <div class="ui-g-8">
                                 <div class="ui-g-3"><p-radioButton name="repeat" value="true" [(ngModel)]="stepDetails.repeatStep" label="Yes" (onClick)="onRepeatChange(true)"></p-radioButton></div>
                                <div class="ui-g-3"><p-radioButton name="repeat" value="false" [(ngModel)]="stepDetails.repeatStep" label="No" (onClick)="onRepeatChange(false)"></p-radioButton></div>                            
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails">
                            <div class="ui-g-4">
                                Step Frequency
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="stepFrequencies" [(ngModel)]="stepDetails.stepFrequencyId"  (onChange)="onStepFrequencyChange()" name="stepFrequency" [style]="{'width':'100%'}">
                                </p-dropdown>
                            </div>
                    </div>
                    <div class="ui-grid-row" *ngIf="showRepeatDetails && showTestOrCycle">
                            <div class="ui-g-4"> 
                                Test % / # of Cycles
                            </div>
                            <div class="ui-g-8">
                                <input type="text" name="testOrCycle" pInputText [(ngModel)]="stepDetails.cycleOrTestPercentage" placeholeder="Please enter Test % / # of Cycles"
                                    class="form-control"/>
                            </div>
                    </div><br />
                     <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <button type="button" pButton icon="ui-icon-close" id="cancel"
                                            (click)="onCancel()" label="Cancel"></button>
                                    <button type="button" pButton icon="ui-icon-save"  id="add" [disabled]="!tfForm.form.valid"
                                            label="Add"></button>
                                </div>
                    </footer>
            </form>
