<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                <p-panel>
                    <header  class="with-controls">
                        <p class="ui-panel-title">Create New Torque Sheet</p>
                        <p class="controls">
                            <button pButton type="button" class="blue-grey-btn" icon="ui-icon-insert-photo" style="width:auto" label="Insert Picture" id="addpicture" (click)="onInsertPictueClick()"></button>
                        </p>
                    </header>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="torqueSheetDetails">
                        <div class="ui-grid-row ">
                              <div class="ui-g-12 ui-md-6">
                                  <p style="color:#777">Build Level *:</p>
                                  <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="justBuildLevels" [(ngModel)]="buildLevelIdForAddingTorqueBook"
                                            name="buildLevels" required #justBuildLevelsRef (onChange)="onBuildLevelChange()" >
                                  </p-dropdown>
                              </div>
                              <div class="ui-g-12 ui-md-6">
                                  <p style="color:#777">Torque Book *:</p>
                                  <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="torqueBooks" [(ngModel)]="torqueSheetDetails.torqueBookId"
                                            name="torqueBooks" required #torqueBooksRef (onChange)="onTorqueBookChange()" >
                                  </p-dropdown>
                              </div>
                        </div>
                        <div class="ui-grid-row ">
                              <div class="ui-g-12 ui-md-6">
                                  <p style="color:#777">Torque Sheet Name *:</p>
                                  <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="torqueSheetNames" [(ngModel)]="torqueSheetDetails.nameId" [style]="{'width':'100%'}"
                                      name="newTorqueSheetNameId" required #newTorqueSheetNameRef required >
                                  </p-dropdown>
                                  <!-- <div class="ui-grid-col-4" *ngIf="newTorqueSheetNameRef.errors?.required">
                                      Torque Sheet Name field is required
                                  </div> -->
                              </div>
                              
                        </div><br />
                        <div class="hidden" style="display:none">
                            <input type="file" name="image" id="fileSelector" #fileSelector (change)="onPictureSelect()"/>
                        </div>
                        <br />
                        <div class="ui-grid-row">
                            <div id="torqueSheetSpreadContainer" style="width:100%; height:500px; border: 1px solid gray">
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button id="cancel" pButton label="Cancel" class="blue-grey-btn" icon="ui-icon-close" (click)="onCancel()">  </button>
                        <button id="save" pButton type="submit" class="green-btn" icon="ui-icon-save" label="Save" [disabled]="!tfForm.form.valid"></button>
                        <button id="saveAndSubmit" pButton type="button" class="green-btn" icon="ui-icon-email" label="Save and Submit For Approval" [disabled]="!tfForm.form.valid" (click)="onAddAndSubmit()"></button>
                    </footer><br />
                </p-panel>
                <br />
                <br />
            </form>
        </div>
    </div>
</div>
<email-component *ngIf="displayApproverEmail" emailDialogHeader="Send Approver Request Email" sendEmailLabelText="Send Approver Email"
    [displayApproverEmail]="displayApproverEmail" [emailContent]="approverEmailContent" (onSendEmailComplete)="onSendEmailComplete($event)" (onCancelSendEmailComplete)="onSendEmailCancelComplete($event)"></email-component>
