<div class="ui-g">
<div class="ui-g-12">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <br />
    <div class="card card-w-title">    
        <h1>Admin</h1>
        <div class="ui-g">  
            <div class="ui-g-12">       
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/user']">
                        <div class="ui-g card colorbox colorbox-1">
                            <div class="ui-g-3">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-9" [routerLink]="['/user']">
                                <span class="colorbox-name"></span>
                                <span class="colorbox-count">User Management</span>
                                <span class="colorbox-name"></span>
                            </div>
                        </div>
                        </a>
                   </div>
                 <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="ui-g card colorbox colorbox-2">
                        <div class="ui-g-3">
                            <i class="material-icons">accessibility</i>
                        </div>
                        <div class="ui-g-9">
                            <span class="colorbox-name"></span>
                            <span class="colorbox-count">Roles and Permissions</span>
                            <span class="colorbox-name"></span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/functionGroup']">
                        <div class="ui-g card colorbox colorbox-1">
                            <div class="ui-g-3">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-9" [routerLink]="['/functionGroup']">
                                <span class="colorbox-name"></span>
                                <span class="colorbox-count">Function Groups</span>
                                <span class="colorbox-name"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/tenant']">
                        <div class="ui-g card colorbox colorbox-5">
                            <div class="ui-g-3">
                                <i class="material-icons">home</i>
                            </div>
                            <div class="ui-g-9" [routerLink]="['/tenant']">
                                <span class="colorbox-name"></span>
                                <span class="colorbox-count">Tenant</span>
                                <span class="colorbox-name"></span>
                            </div>
                        </div>
                        </a>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                 <a [routerLink]="['/lookup']">
                    <div class="ui-g card colorbox colorbox-3">
                        <div class="ui-g-3">
                            <i class="material-icons">search</i>
                        </div>
                        <div class="ui-g-9" [routerLink]="['/lookup']">
                            <span class="colorbox-name"></span>
                            <span class="colorbox-count">Lookup</span>
                            <span class="colorbox-name"></span>
                        </div>
                    </div>
                  </a>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/admin/formBuilders']">
                    <div class="ui-g card colorbox colorbox-4">
                        <div class="ui-g-3">
                            <i class="material-icons">web</i>
                        </div>
                        <div class="ui-g-9">
                            <span class="colorbox-name"></span>
                            <span class="colorbox-count">Form Builder</span>
                            <span class="colorbox-name"></span>
                        </div>
                    </div>
                    </a>
                </div>
               
            </div>
             <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/tenant']">
                        <div class="ui-g card colorbox colorbox-4">
                            <div class="ui-g-3">
                                <i class="material-icons">home</i>
                            </div>
                            <div class="ui-g-9" [routerLink]="['/tenant']">
                                <span class="colorbox-name"></span>
                                <span class="colorbox-count">Catalog</span>
                                <span class="colorbox-name"></span>
                            </div>
                        </div>
                        </a>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                 <a [routerLink]="['/lookup']">
                    <div class="ui-g card colorbox colorbox-5">
                        <div class="ui-g-3">
                            <i class="material-icons">search</i>
                        </div>
                        <div class="ui-g-9" [routerLink]="['/lookup']">
                            <span class="colorbox-name"></span>
                            <span class="colorbox-count">Test Templates</span>
                            <span class="colorbox-name"></span>
                        </div>
                    </div>
                  </a>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <a [routerLink]="['/admin/formBuilders']">
                    <div class="ui-g card colorbox colorbox-2">
                        <div class="ui-g-3">
                            <i class="material-icons">web</i>
                        </div>
                        <div class="ui-g-9">
                            <span class="colorbox-name"></span>
                            <span class="colorbox-count">Test Steps</span>
                            <span class="colorbox-name"></span>
                        </div>
                    </div>
                    </a>
                </div>
               
            </div>
        </div>
    </div>
</div>
</div>