<div class="ui-g-12">
    <div class="card card-w-title">
        <h1> Lookups </h1>

        <!--<h1 style="border-bottom:groove; border-bottom-color:lightred"></h1>-->
        <h4> Calendar </h4>
        <div class="ui-grid-row small-width">

        </div>

        <h1 style="border-bottom:groove; border-bottom-color:lightyellow"></h1>
        <h4> Employee </h4>
        <div class="ui-grid-row small-width">
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/shift']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Shift </span></a>
            </div>
        </div>

        <h1 style="border-bottom:groove; border-bottom-color:lightblue"></h1>
        <h4> Equipment </h4>
        <div class="ui-grid-row small-width">
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/units']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Units</span></a>
            </div>
        </div>

        <h1 style="border-bottom:groove; border-bottom-color:aquamarine"></h1>
        <h4> Project </h4>
        <div class="ui-grid-row small-width">
           
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/equipment']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Equipment </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/equipmenttype']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Equipment Type </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/market']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Market </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/platform']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Platform </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/project']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Project </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/titanRole']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Titan Role </span></a>
            </div>
            <!--<div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/titanUser']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Titan User </span></a>
            </div>-->
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/tenant']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Tenant </span></a>
            </div>
                     
            <!--<div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/milestoneEvent']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Milestone Event </span></a>
            </div>-->
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/milestoneStatus']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Milestone Status </span></a>
            </div>

            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/projectStatus']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Project Status </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/projectRole']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Project Role </span></a>
            </div>
            <!--<div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/schedule']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Schedule </span></a>
            </div>-->
            <!--<div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/entityField']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Entity Field </span></a>
            </div>-->
            <!--<div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/contact']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Contact </span></a>
            </div>-->

            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/milestone']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Milestone </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/milestoneCategory']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Milestone Category </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/milestoneType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Milestone Type </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/grade']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Grade </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/modelName']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Model Name </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/modelYear']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Model Year </span></a>
            </div>         
        </div>


        <h1 style="border-bottom:groove; border-bottom-color:lightblue"></h1>
        <h4> Roles and Permission </h4>
        <div class="ui-grid-row small-width">
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/access']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Access </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/accessGroup']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Access Group </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/permission']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Permission </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/role']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Role </span></a>
            </div>
        </div>


        <h1 style="border-bottom:groove; border-bottom-color: lightpink"></h1>
        <h4> Test Facility </h4>
        <div class="ui-grid-row small-width">
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/maintenanceFrequency']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Maintenance Frequency </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/operatingHours']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Operating Hours</span></a>
            </div>
        </div>

        <h1 style="border-bottom:groove; border-bottom-color:lightgray"></h1>
        <h4> Test Request </h4>
        <div class="ui-grid-row small-width">
             <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testStatus']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Status </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testRole']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Role</span></a>
            </div>
             <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/downTimeReason']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> DownTime Reason </span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testActivity']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Activity</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/priority']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Priority</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/judgement']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Judgement</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testStage']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Stage</span></a>
            </div>
        </div>

        <h1 style="border-bottom:groove; border-bottom-color:lightgray"></h1>
        <h4> Test Template </h4>
        <div class="ui-grid-row small-width">
             <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/requirementItemType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Requirement ItemType </span></a>
            </div>
               <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/sensorType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Sensor Type </span></a>
            </div>
             <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/stepFrequency']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Step Frequency</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/stepType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Step Type</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testMode']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Mode</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Type</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testRequirement']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Requirement</span></a>
            </div>
            <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/testVerificationMethod']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Test Verification Method </span></a>
            </div>
        </div>

        <h1 style="border-bottom:groove; border-bottom-color:lightgray"></h1>
        <h4> Vehicle </h4>
        <div class="ui-grid-row small-width">
              <div class="ui-g-2 ui-md-2">
                <a [routerLink]="['/vehicle/vehicleType']"><i class="material-icons fa">snapchat_square</i><span style="display:block;text-align:center;"> Vehicle Type </span></a>
            </div>
        </div>

    </div>