<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
<p-tabView  (onChange)="handleChange($event)">

        <p-tabPanel header="Details ||" id='details'>
          <form #tfForm="ngForm" (ngSubmit)="onTestRequestSubmit(tfForm.value)">
          <p-panel header="Basic Information">
            <div class="body">

                  <div class="input-row">
                      <div class="md-inputfield">
                          <input type="text" id="name" pInputText name="name" [(ngModel)]="model.name">
                          <label>Name</label>
                      </div>
                  </div>
                  <!-- End Name -->
                  <!-- Begin Serial # -->
                  <div class="input-row md-spaced">
                      <div class="md-inputfield">
                          <input type="text" id="name" pInputText name="serial" [(ngModel)]="model.serialNumber">
                       <label>Serial #</label>
                      </div>
                  </div>
                  <!-- End Serial# -->
                  <!-- Begin Equipment Type # -->
                  <div class="ui-grid-row md-spaced" style="margin-top:40px;margin-bottom:40px">
                        <label>Equipment Type</label>
                        <p-dropdown   [style]="{'width':'200px'}" [options]="equipmentTypes" [(ngModel)]="model.selectedEquipmentTypeId" (onChange)="onEquipmentTypeChange($event)" name="equipmentTypes" >
                        </p-dropdown>
                  </div>
                  <!-- End Equipment Type -->
                  <!-- Purchased Price -->
                  <div class="input-row md-spaced">
                      <div class="md-inputfield">
                          <input type="text" id="name" pInputText name="purchasePrice" [(ngModel)]="model.purchasePrice">
                       <label>Purchased Price</label>
                      </div>
                  </div>
                  <!-- Purchased Price -->
                  <!--Year Purchased-->
                  <div class="ui-grid-row md-spaced" style="margin-top:40px;margin-bottom:40px">
                      <div class="ui-grid-col-6">
                        <label class="control-label">Year Purchased </label>
                        <p-calendar [(ngModel)]="purchaseDate" name="purchaseDate" showTime="true" [showIcon]="true"></p-calendar>
                      </div>
                      <div class="ui-grid-col-6">
                        <label class="control-label">Warranty Until</label>
                        <p-calendar [(ngModel)]="warrantyExpiration" name="warrantyExpiration" showTime="true" [showIcon]="true"></p-calendar>
                      </div>
                  </div>
                  <!--End Year-->
                  <!-- Location -->
                  <div class="input-row md-spaced">
                      <div class="md-inputfield">
                          <input type="text" id="name" pInputText name="location" [(ngModel)]="model.location">
                       <label>Location</label>
                      </div>
                  </div>
                  <!-- End Location -->
                  <div class="ui-grid-row md-spaced" style="margin-top:40px;margin-bottom:40px">
                      <label class="control-label col-sm-12 pl0">  Test Facility :</label>
                      <p-dropdown [style]="{'width':'200px'}" [options]="testFacilities" [(ngModel)]="model.testFacilityId" (onChange)="onTestFacilityChange($event)" name="testFacilities" [style]="{'width':'auto'}">
                      </p-dropdown>
                  </div>
                  <!--Calibration Date-->
                  <div class="ui-grid-row md-spaced" style="margin-top:40px;margin-bottom:40px">
                      <div class="ui-grid-col-6">
                        <label class="control-label">Last Calibration Date </label>
                        <p-calendar [(ngModel)]="model.lastcalibrationDate" name="lastcalibrationDate" showTime="true" [showIcon]="true"></p-calendar>
                      </div>

                  </div>
                  <!--End Calibration Date-->
                  <!--Calibration Frequency-->
                  <div class="input-row md-spaced">
                      <label>Calibration Frequency</label>
                      <p-checkbox name="groupname" value="IsFrequency" label="Calibration Frequency" [(ngModel)]="IsFrequency" binary="true"></p-checkbox>
                        <div class="md-inputfield">
                          <div id="selector" [hidden]="!IsFrequency"></div>
                      </div>

                  </div>
                  <!--Calibration Frequency-->
                  <!--Begin Description-->
                  <div class="md-spaced" style="margin-top:40px;">
                      <label>Description</label>
                      <div class="md-inputfield">

                          <p-editor [(ngModel)]="model.description" name="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                              <header>
                                  <select class="ql-size">
                                      <option value="small"></option>

                                      <option selected></option>
                                      <option value="large"></option>
                                      <option value="huge"></option>
                                  </select>
                                  <span class="ql-formats">
                                      <button class="ql-bold"></button>
                                      <button class="ql-italic"></button>
                                      <button class="ql-underline"></button>
                                  </span>
                              </header>
                          </p-editor>
                      </div>
                  </div>
                  <!--End Description-->

            </div><!--Panel End-->
            <footer>
                <p>* indicates required field</p>
                <button pButton type="button" icon="ui-icon-close" label="Cancel" routerLink="/equipment"></button>
                <button pButton type="submit" icon="ui-icon-save" label="Save" (click)="onEquipmentSave()" [disabled]="!tfForm.valid"></button>
            </footer>
          </p-panel>
          </form>
        </p-tabPanel>

        <p-tabPanel header="Schedule ||" id="schedule">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calendar</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb15">Next Calibration Date : Jul-15-2016</div>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Usage </div>
                        <div class="panel-body">
                            <div class="row">
                                <div onclick="col-sm-12">
                                    <!--   <img src="../../images/Equipment_Schedule.jpg" alt=""/>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Calibration History ||" id="calibrationhistory">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calibration</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="editEquipmentCalibration">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Duration</th>
                                                <th>Calibrated by</th>
                                                <th>Calibration Company Info</th>
                                                <th>Attachments</th>
                                                <th>Link to info</th>
                                                <th>Result</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calibration forms</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="editEquipmentCalibrationForms">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Created by</th>
                                                <th>Time Stamp</th>
                                                <th>Approved by</th>
                                                <th>clone</th>
                                                <th>delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Log ||" id="log">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="editEquipmentHistory">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Employe</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </p-tabPanel>
</p-tabView>
    </div>
</div>
