<div class="ui-g">
    <div class="ui-g-12">
        <h3>Details</h3>
<p-tabView  (onChange)="handleChange($event)">
   
        <p-tabPanel header="Details ||" id='details'>
            <div class="row">
                <div class="col-sm-12">
                   
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default ">
                                        <div class="panel-heading">Basic Information</div>
                                        <div class="panel-body">
                                            <form #tfForm="ngForm" (ngSubmit)="onTestRequestSubmit(tfForm.value)">
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <div class="row">
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Name</label>
                                                                <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)]="model.name">
                                                            </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Serial #</label>
                                                                <input type="text" placeholder="Serial" class="form-control" name="serialNumber" [(ngModel)]="model.serialNumber">
                                                            </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label col-sm-12 pl0">  Equipment Types :</label>
                                                                <p-dropdown [options]="equipmentTypes" [(ngModel)]="model.equipmentTypeId" (onChange)="onEquipmentTypeChange($event)" name="equipmentTypes" [style]="{'width':'auto'}">
                                                                </p-dropdown>
                                                            </div>
                                                            <!--<div class="form-group col-sm-6 col-md-4">
                        <label class="control-label">P/O</label>
                        <input type="text" class="form-control" [(ngModel)]="P/O"/>
                    </div>-->

                                                           
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Year Purchased </label>
                                                                <div class="input-group">
                                                                    <p-calendar [(ngModel)]="model.purchaseDate" name="purchaseDate" showTime="true" [showIcon]="true"></p-calendar>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Warranty until </label>
                                                                <div class="input-group">
                                                                    <p-calendar [(ngModel)]="model.warrantyExpiration" name="warrantyExpiration" showTime="true" [showIcon]="true"></p-calendar>
                                                               </div>
                                                                 </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Model # </label>
                                                                <p-calendar [(ngModel)]="warrantyExpiration" name="warrantyExpiration" showTime="true" [showIcon]="true"></p-calendar>
                                                            </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <label class="control-label">Purchased Price</label>
                                                                <input type="text" [(ngModel)]="model.purchasePrice" class="form-control" name="purchasePrice" placeholder="Actual cost" />
                                                            </div>
                                                            <div class="form-group col-sm-6 col-md-4">
                                                                <!--<label>Calibration Frequency</label>-->
                                                                <p-checkbox name="groupname" value="IsFrequency" label="Calibration Frequency"  binary="true"></p-checkbox>


                                                                <div class="control-label">
                                                                    <div id="selector"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <label class="control-label">Description </label>
                                                                <textarea type="text" pInputTextArea class="form-control" required row="20" name="description" [(ngModel)]="model.description"></textarea>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="panel panel-default ">
                                                                    <div class="panel-heading">Location</div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">

                                                                                <div class="row">

                                                                                    <label class="control-label col-sm-12 pl0">  Test Facility :</label>
                                                                                    <p-dropdown [options]="testFacilities" [(ngModel)]="model.testFacilityId" (onChange)="onTestFacilityChange($event)" name="testFacilities" [style]="{'width':'auto'}">
                                                                                    </p-dropdown>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- Location End -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">Manufacturer Information</div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">

                                                                                <div class="row">
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label col-sm-12 pl0">  Equipment Manufacturer :</label>
                                                                                        <p-dropdown [options]="equipmentManufacturers" [(ngModel)]="model.equipmentManufacturerId" (onChange)="onEquipmentManufacturerChange($event)" name="equipmentManufacturers" [style]="{'width':'auto'}">
                                                                                        </p-dropdown>
                                                                                        <!--<label class="control-label">Name</label>
                                                <input type="text" name="mname" class="form-control" placeholder="Name" />-->
                                                                                    </div>
                                                                                   
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Manufacturer Name</label>
                                                                                        <input type="text" name="manufacturerName" [(ngModel)]="model.manufacturerName" placeholder="Serial No" class="form-control">
                                                                                    </div>
                                                                                 
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Phone</label>
                                                                                        <input type="text" name="manufacturerPhone" [(ngModel)]="model.manufacturerPhone" class="form-control" placeholder="Phone" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Fax</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="model.manufacturerFax" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Email</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerEmail" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Address Line1</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerAddressLine1" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Address Line2</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerFaxAddressLine2" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Postal</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerPostal" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">City</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerCity" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">State</label>
                                                                                        <input type="text" name="manufacturerFax" [(ngModel)]="manufacturerState" class="form-control" placeholder="Fax" />
                                                                                    </div>
                                                                                    <!--<div class="form-group col-sm-6 col-md-4">
        <label class="control-label">Contact Person</label>
        <input type="text" name="person" class="form-control" placeholder="Contact Person" />
    </div>-->
                                                                                    <div class="form-group col-sm-6 col-md-4">
                                                                                        <label class="control-label">Website</label>
                                                                                        <input type="text" name="manufacturerWebsite" [(ngModel)]="model.manufacturerWebsite" class="form-control" placeholder="Website" />
                                                                                    </div>
                                                                                    <!--<div class="form-group col-sm-6 col-md-4">
                                                <label class="control-label">Model</label>
                                                <input type="text" name="model" class="form-control" placeholder="Model" />
                                            </div>
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="control-label">Year</label>
                                                <input type="text" name="year" class="form-control" placeholder="Year" />
                                            </div>-->
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- Manufacturer Information End -->
                                                        <div class="ui-grid-row">
                                                            <div class="ui-grid-row">
                                                                <div class="ui-grid-col-2">
                                                                    <button id="add" pButton type="submit" label="Save" (click)="onEquipmentSave()">  </button>
                                                                </div>
                                                                <div class="ui-grid-col-6">
                                                                </div>
                                                                <div class="ui-grid-col-4">
                                                                    <button id="cancel" pButton type="button" label="Cancel" routerLink="/equipment">  </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Basic Info End -->

                         
                        </div>
                   
                </div>
                        </div>
        </p-tabPanel>

        <p-tabPanel header="Schedule ||" id="schedule">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calendar</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb15">Next Calibration Date : Jul-15-2016</div>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Usage </div>
                        <div class="panel-body">
                            <div class="row">
                                <div onclick="col-sm-12">
                                    <!--   <img src="../../images/Equipment_Schedule.jpg" alt=""/>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Calibration History ||" id="calibrationhistory">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calibration</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="editEquipmentCalibration">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Duration</th>
                                                <th>Calibrated by</th>
                                                <th>Calibration Company Info</th>
                                                <th>Attachments</th>
                                                <th>Link to info</th>
                                                <th>Result</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Calibration forms</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="editEquipmentCalibrationForms">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Created by</th>
                                                <th>Time Stamp</th>
                                                <th>Approved by</th>
                                                <th>clone</th>
                                                <th>delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Log ||" id="log">
            <p-growl [value]="msgs"></p-growl>
            <form name="tForm2" enctype="application/x-www-form-urlencoded">
                <p-panel>

                    <header class="with-controls">
                        <p class="ui-panel-title">Comments</p>

                    </header>
                    <div class="ui-grid-row">
                        <p-editor [(ngModel)]="comment" name="comment" [style]="{'height':'320px'}">
                            <header>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <!-- Note a missing, thus falsy value, is used to reset to default -->
                                    <option selected></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                </span>
                            </header>
                        </p-editor>
                    </div>


                    <div class="ui-grid-col-2"></div>
                    <!--<a routerLink="add/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
                    <button pButton type="button" icon="ui-icon-comment" label="Add Comment" (click)="AddLogComment()"></button>
                </p-panel>
            </form>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-row">


                <div class="ui-grid-col-2"></div>
                <p-dataTable [value]="testFacilityLogComments" selectionMode="single"
                             [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                    [responsive]="true">
                    <p-column field="event" header="Information" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                    <p-column field="comment" header="Audit/Comment" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                    <p-column field="employee" header="Employee" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
                    <p-column field="createdOn" header="Timestamp" sortable="true"></p-column>
                </p-dataTable>

            </div>

        </p-tabPanel>
</p-tabView>
    </div>
</div>