<div class="ui-g">
    <div class="ui-g-12">
  <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
        <br />
        <div class="card card-w-title">
        <h1>Equipment Details</h1>
<p-tabView  (onChange)="handleChange($event)">

        <p-tabPanel header="Information" id='details'>

            <p-growl [value]="msgs"></p-growl>
            <!--<div class="row">
                <img [src]="http://localhost:9998/equipment/GetEquipmentBarcode/CODE128" />
                <a href="http://localhost:9998/equipment/GetEquipmentBarcode/CODE128"></a>
            </div>-->

                <div class="subsection">
                    <form #tfForm="ngForm" (ngSubmit)="onEquipmentSave(tfForm.value)">

                        <p-panel header="Information">
                            <br />
                            <img [src]="image" />
                            <div class="ui-grid-row">
                                <div class="md-inputfield ui-g-12 ui-md-6">
                                    <input type="text" id="name"
                                    [(ngModel)]="model.name" required pInputText
                                    #equipmentNameRef="ngModel"
                                    minlength="3" class="form-control" required row="20"
                                    (focus)="equipmentNameRef.focus=true" name="name" style="width:100%">
                                    <!--[(ngModel)]="model.name" required pInputText name="name" style="width:100%">-->
                                    <label>Name <span >*</span></label>
                                </div>


                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" name="serialNumber" id="serialNumber" pInputText [(ngModel)]="model.serialNumber" style="width:100%">
                                        <label>Serial #</label>
                                    </div>
                                </div>
                                <!-- End Name -->
                                <!-- Begin Equipment Type # -->
                                <div class="ui-grid-row ">
                                    <div class="ui-g-12 ui-md-6">
                                        <p style="color:#777">Equipment Type :  <span>*</span></p>
                                        <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="equipmentTypes" filter="filter"
                                                    [(ngModel)]="model.equipmentTypeId" required (onChange)="onEquipmentTypeChange($event)" name="equipmentTypes" id="equipmentTypes" appendTo="body" [autoWidth]="false">
                                            <!--<template let-item>
                                                    <div class="ui-helper-clearfix">

                                                        <div *ngIf="item.value.name !==''"> {{item.value.name}} ({{ item.value.frequency}})</div>
                                                    </div>
                                                </template>
                                            </p-dropdown>
                                                        <div *ngIf="item.name !==''"> {{item.name}} ({{ item.frequency}})</div>
                                                    </div>
                                                </template>-->
                                        </p-dropdown>

                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <p style="color:#777">Test Facility :</p>
                                        <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="testFacilities" filter="filter"
                                                    [(ngModel)]="model.testFacilityId" (onChange)="onTestFacilityChange($event)" name="testFacilities" id="testFacilities">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <!-- End Equipment Type --><br /><br />
                                <!--Year Purchased-->
                                <div class="ui-grid-row " style="color:#777">
                                    <div class="ui-g-12 ui-md-6 md-inputfield">
                                        <p-calendar [(ngModel)]="model.purchaseDate" name="purchaseDate" id="purchaseDate" [showIcon]="true"></p-calendar>
                                        <label>Purchase Date :</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-6 md-inputfield">
                                        <p-calendar [(ngModel)]="model.warrantyExpiration" name="warrantyExpiration" id="warrantyExpiration" [showIcon]="true"></p-calendar>
                                        <label>Warranty Until :</label>
                                    </div>
                                </div>
                                <!--End Year--><br />
                                <!--Calibration Frequency-->

                                <div class="ui-grid-row " style="color:#777">
                                    <div class="ui-g-12 ui-md-12">
                                        <!--<label>Calibration Frequency :</label>-->
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <p-checkbox name="groupname" id="isMaintenance" value="isMaintenaceFrequencySelected"
                                                    label="Is calibration Required?"
                                                    [(ngModel)]="isMaintenaceFrequencySelected" binary="true"
                                                    (onChange)="showHideCronPicker()">
                                        </p-checkbox>


                                        <div class="md-inputfield">
                                            <br />
                                            <div id="selector" [hidden]="!isMaintenaceFrequencySelected"></div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-6 md-inputfield">
                                        <p-calendar [(ngModel)]="model.lastCalibrationDate" name="lastCalibrationDate" id="lastCalibrationDate" [showIcon]="true"></p-calendar>
                                        <label style="color:#777">Last Calibration Date :</label>
                                    </div>
                                </div>
                                <!--Calibration Frequency--><br /><br />
                                <!-- Price -->
                                <div class="ui-grid-row " style="color:#777">
                                    <div class="ui-g-12 ui-md-6 md-inputfield">
                                        <input type="text" name="purchasePrice" id="purchasePrice" pInputText [(ngModel)]="model.purchasePrice" style="width:100%">
                                        <label>Purchased Price</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" name="modelNumber" id="modelNumber" pInputText [(ngModel)]="model.modelNumber" style="width:100%">
                                        <label>Model</label>
                                    </div>
                                </div>
                                <!-- Price -->
                                <br />
                                <!--Calibration Frequency-->
                                <!--Begin Description-->
                                <div class="ui-grid-row ">
                                    <div class="ui-g-12 ui-md-12">
                                        <label style="color:#777">Description</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 md-inputfield">
                                        <p-editor [(ngModel)]="model.description" name="description" id="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                                            <header>
                                                <select class="ql-size">
                                                    <option value="small"></option>

                                                    <option selected></option>
                                                    <option value="large"></option>
                                                    <option value="huge"></option>
                                                </select>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                </span>
                                            </header>
                                        </p-editor>
                                    </div>
                                </div>
                                <footer>
                                    <p>* indicates required field</p>

                                    <button pButton type="submit" icon="ui-icon-save" label="Save" id="save" (click)="onEquipmentSave()" [disabled]="!tfForm.valid" class="green-btn"></button>
                                </footer>
                            </p-panel>
                        </form>
                        <!--End Description-->
                    </div>





                    <div class="subsection">

                        <form>

                            <!-- Begin Dialog - Assign User Role -->

                            <p-dialog header="Create New Manufacturer" [(visible)]="displayAssignManufacturerDialog" modal="modal"
                                      showEffect="fade" responsive="true">

                                <p>
                                    Please enter manufacturer details
                                </p>




                                <div class="ui-grid-row">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text"
                                               [(ngModel)]="manufacturerName" pInputText
                                               #manufacturerNameRef="ngModel"
                                               minlength="3" class="form-control"
                                               (focus)="manufacturerNameRef.focus=true" name="manufacturerName" style="width:100%">
                                        <label>Name <span>*</span></label>

                                        <!--<input type="text" pInputText name="manufacturerName" [(ngModel)]="manufacturerName" required style="width:100%">
                                        <label>Name <span>*</span></label>-->
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerAddressLine1" [(ngModel)]="manufacturerAddressLine1" style="width:100%">
                                        <label>Address Line1</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerAddressLine2" [(ngModel)]="manufacturerAddressLine2" style="width:100%">
                                        <label>Address Line2</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerCity" [(ngModel)]="manufacturerCity" style="width:100%">
                                        <label>City</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerState" [(ngModel)]="manufacturerState" style="width:100%">
                                        <label>State</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerPostal" [(ngModel)]="manufacturerPostal" style="width:100%">
                                        <label>Postal</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerWebsite" [(ngModel)]="manufacturerWebsite" style="width:100%">
                                        <label>Website</label>
                                    </div>
                                </div><br />
                                <div class="ui-grid-row ">

                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerPhone" [(ngModel)]="manufacturerPhone" style="width:100%">
                                        <label>Phone</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerFax" [(ngModel)]="manufacturerFax" style="width:100%">
                                        <label>Fax</label>
                                    </div>
                                </div><br />
                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerEmail" [(ngModel)]="manufacturerEmail" style="width:100%">
                                        <label>Email</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row">
                                    <p>* indicates required field</p>
                                </div>


                                <footer>

                                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                        <button type="button" pButton icon="ui-icon-close"
                                                (click)="displayAssignManufacturerDialog=false" label="Cancel"></button>
                                        <button type="button" pButton icon="ui-icon-save" (click)="onAddManufacturer()"
                                                label="Add Manufacturer"></button>
                                    </div>
                                </footer>

                            </p-dialog>

                            <!-- End Dialog - Assign User Role -->
                            <!-- Begin Panel - Test Facility Users -->

                            <p-panel>

                                <header class="with-controls">
                                    <p class="ui-panel-title">Equipment Manufacturer Details</p>
                                    <p class="controls">
                                        <button type="text" (click)="displayAssignManufacturerDialogBox()" pButton
                                                icon="ui-icon-person-add" label="Create New Manufacturer" class="blue-grey-btn"></button>
                                    </p>
                                </header>
                                <br />
                                <div class="ui-grid-row">
                                    <p style="color:#777">Select Manufacturer :</p>
                                    <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="equipmentManufacturers" filter="filter"
                                                [(ngModel)]="selectedEquipmentManufacturerId" (onChange)="onEquipmentManufacturerChange($event)" name="equipmentManufacturers">
                                    </p-dropdown>
                                </div><br /><br />

                                <div class="ui-grid-row">
                                    <div class="md-inputfield ui-g-6 ui-md-6">
                                        <input type="text" pInputText name="manufacturerName" [(ngModel)]="manufacturerName" style="width:100%">
                                        <label>Name</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerAddressLine1" [(ngModel)]="manufacturerAddressLine1" style="width:100%">
                                        <label>Address Line1</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerAddressLine2" [(ngModel)]="manufacturerAddressLine2" style="width:100%">
                                        <label>Address Line2</label>
                                    </div>
                                </div><br />
                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerCity" [(ngModel)]="manufacturerCity" style="width:100%">
                                        <label>City</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerState" [(ngModel)]="manufacturerState" style="width:100%">
                                        <label>State</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerPostal" [(ngModel)]="manufacturerPostal" style="width:100%">
                                        <label>Postal</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerWebsite" [(ngModel)]="manufacturerWebsite" style="width:100%">
                                        <label>Website</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerPhone" [(ngModel)]="manufacturerPhone" style="width:100%">
                                        <label>Phone</label>
                                    </div>
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerFax" [(ngModel)]="manufacturerFax" style="width:100%">
                                        <label>Fax</label>
                                    </div>
                                </div><br />

                                <div class="ui-grid-row ">
                                    <div class="md-inputfield ui-g-12 ui-md-6">
                                        <input type="text" pInputText name="manufacturerEmail" [(ngModel)]="manufacturerEmail" style="width:100%">
                                        <label>Email</label>
                                    </div>
                                </div><br />
                            </p-panel>

                            <!-- End Panel - Test Facility Users -->

                        </form>

                    </div>

                </p-tabPanel>

                <!--<p-tabPanel header="Schedule" id="schedule">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Calendar</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb15">Next Calibration Date : Jul-15-2016</div>
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Usage </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div onclick="col-sm-12">-->
                <!--   <img src="../../images/Equipment_Schedule.jpg" alt=""/>-->
                <!--</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>-->

                <p-tabPanel header="Calibration History" id="calibrationhistory">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Calibration</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered" id="editEquipmentCalibration">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Duration</th>
                                                        <th>Calibrated by</th>
                                                        <th>Calibration Company Info</th>
                                                        <th>Attachments</th>
                                                        <th>Link to info</th>
                                                        <th>Result</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Calibration forms</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered" id="editEquipmentCalibrationForms">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Created by</th>
                                                        <th>Time Stamp</th>
                                                        <th>Approved by</th>
                                                        <th>clone</th>
                                                        <th>delete</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Log" id="log" headerStyleClass="log">
                    <p-growl [value]="msgs"></p-growl>
                    <form name="tForm2" enctype="application/x-www-form-urlencoded">
                        <p-dialog header="Add Comment" [(visible)]="displayCommentDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400">
                            <div class="ui-grid-row">
                                <p-editor [(ngModel)]="comment" name="comment" [style]="{'height':'320px'}">
                                    <header>
                                        <select class="ql-size">
                                            <option value="small"></option>
                                            <!-- Note a missing, thus falsy value, is used to reset to default -->
                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                        </span>
                                    </header>
                                </p-editor>
                            </div>
                            <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <button type="button" pButton icon="fa-close" (click)="displayCommentDialog=false" label="Cancel"></button>
                                    <button type="button" pButton icon="ui-icon-comment" (click)="AddLogComment()" label="Add Comment"></button>
                                </div>
                            </footer>
                        </p-dialog>
                        <p-panel>
                            <header class="with-controls">
                                <p class="ui-panel-title">Log/Comment List</p>
                                <p class="controls">
                                    <button pButton type="button" icon="ui-icon-add" label="Add Comment"
                                            (click)="addCommentButton($event)" class="blue-grey-btn"></button>
                                </p>
                            </header>
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-row">


                                <div class="ui-grid-col-2"></div>
                                <p-dataTable [value]="equipmentLogComments" selectionMode="single"
                                             [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                             [responsive]="true">
                                    <p-column field="event" header="Audit/Comment" sortable="true" [filter]="true"
                                              filterPlaceholder="Search">
                                    </p-column>
                                    <p-column field="comment" header="Information" sortable="true" [filter]="true"
                                              filterPlaceholder="Search">
                                        <template let-col let-item="rowData" pTemplate="body">
                                            <div [innerHtml]="item.comment"></div>
                                        </template>
                                    </p-column>
                                    <p-column field="employee" header="Employee" sortable="true" [filter]="true"
                                              filterPlaceholder="Search"></p-column>
                                    <p-column field="createdOn" header="Timestamp" sortable="true"></p-column>
                                </p-dataTable>

                            </div>
                            <div class="ui-grid-col-2"></div>
                        </p-panel>
                    </form>



                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
