<div class="ui-g-12">

    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h3> Add Permission </h3>
        <br />
        <p-panel>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Permission Name * :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" name="name" pInputText [(ngModel)]="name" placeholder="Permission Name" minlength="3" #permissionDetailsNameRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="permissionDetailsNameRef.errors?.required">
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="permissionDetailsNameRef.errors?.minlength">
                            (MinLength-3)
                        </div>

                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Permission Description * :
                    </div>
                    <div class="ui-grid-col-6">

                      
                        <input type="text" name="description" pInputText [(ngModel)]="description" #permissionDetailsDescriptionRef="ngModel"
                            placeholder="Permission Description" class="form-control" required />

                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-grid-col-4" *ngIf="permissionDetailsDescriptionRef.errors?.required">
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <button id="add" pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-add" label="Add">  </button>
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                        <button id="cancel" pButton type="button" label="Cancel" routerLink="/vehicle/permission">  </button>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </p-panel>
    </form>
</div>