<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
        <h1>Test Request Details</h1>
        <p-tabView (onChange)="handleChange($event)">
            <p-tabPanel header="Information" id="info">
              <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
              <p-panel header="Edit Test Request">
              <div class="body">
                  <div class="ui-grid-row">
                      <div class="md-inputfield ui-g-12 ui-md-6">
                          <input type="text" pInputText name="name" [(ngModel)]="name"
                                 minlength="3"  required style="width:100%">
                          <label>Test Name <span >*</span></label>
                      </div>
                      <div class="md-inputfield ui-g-12 ui-md-6">
                          <input type="text" pInputText [(ngModel)]="number" name="number"
                                 class="form-control" style="width:100%">

                          <label>Test Number</label>
                      </div>
                  </div>
                  <div class="ui-grid-row ">
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Project Code :</p>
                        <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="projectCodes" (onChange)="onProjectCodeChange($event)" name="projectCodes" >
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Build Levels :</p>
                        <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="buildLevels"  (onChange)="onBuildLevelChange($event)" name="buildLevels">
                        </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-grid-row ">
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Vehicle :</p>
                        <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="vehicle" (onChange)="onvehicleChange($event)" name="vehicle" >
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Test Facility :</p>
                        <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="testFacilities"  (onChange)="onTestFacilityChange($event)" name="testFacilities" >
                        </p-dropdown>
                    </div>
                  </div><br /><br />
                  <div class="ui-grid-row">
                      <div class="md-inputfield ui-g-12 ui-md-6">
                          <input type="text" pInputText name="purpose" [(ngModel)]="purpose" style="width:100%">
                          <label>Purpose</label>
                      </div>
                      <div class="ui-g-12 ui-md-6 md-inputfield">
                        <p-calendar [(ngModel)]="dueDate" name="dueDate" [showIcon]="true"></p-calendar>
                        <label>Due Date :</label>
                      </div>
                  </div><br /><br />
                  <div class="ui-grid-row " style="color:#777">
                      <div class="ui-g-12 ui-md-6 md-inputfield">
                        <p-calendar [(ngModel)]="plannedStartDate" name="plannedStartDate" [showIcon]="true"></p-calendar>
                        <label>Planned Start Date :</label>
                      </div>
                      <div class="ui-g-12 ui-md-6 md-inputfield">
                        <p-calendar [(ngModel)]="plannedEndDate" name="plannedEndDate" [showIcon]="true" ></p-calendar>
                        <label>Planned End Date :</label>
                      </div>
                  </div><br /><br />
                  <div class="ui-grid-row " >
                      <div class="ui-g-12 ui-md-12" >
                        <label style="color:#777">Description</label>
                      </div>
                      <div class="ui-g-12 ui-md-12 md-inputfield">
                          <p-editor [(ngModel)]="description" name="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                              <header>
                                  <select class="ql-size">
                                      <option value="small"></option>

                                      <option selected></option>
                                      <option value="large"></option>
                                      <option value="huge"></option>
                                  </select>
                                  <span class="ql-formats">
                                      <button class="ql-bold"></button>
                                      <button class="ql-italic"></button>
                                      <button class="ql-underline"></button>
                                  </span>
                              </header>
                          </p-editor>
                      </div>
                  </div>
              </div>
              <footer>
                  <button id="create" pButton type="button" icon="ui-icon-save" label="Save" [disabled]="!tfForm.valid" (click)="onTestRequestSubmit()"></button>
              </footer><br />
            </p-panel>
            <br />
            </form>
            </p-tabPanel>
            <p-tabPanel header="AddTimeEntry" id="timeentry">
                <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                <p-messages [value]="msgs" [closable]="true"></p-messages>
                <p-panel header="Hour Tracking">
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Test Step :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="projectCodes" (onChange)="onProjectCodeChange($event)" name="projectCodes" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Test Stage :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="testStages"  (onChange)="onTestStageChange($event)" name="testStages">
                              </p-dropdown>
                          </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Activity :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="hourEntries" (onChange)="onHourEntryChange($event)" name="hourEntries" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Down Time :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="downTimeReason"  (onChange)="onDownTimeReasonChange($event)" name="downTimeReason">
                              </p-dropdown>
                          </div>
                        </div><br />
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="purpose" [(ngModel)]="purpose" style="width:100%">
                                <label>Estimate Duration</label>
                            </div>
                        </div><br /><br />
                        <div class="ui-grid-row " style="color:#777">
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="startTime" name="startTime" [showIcon]="true"></p-calendar>
                              <label>Actual Start Date :</label>
                            </div>
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="endTime" name="endTime" [showIcon]="true" ></p-calendar>
                              <label>Actual End Date :</label>
                            </div>
                        </div><br />
                        <div class="ui-grid-row " >
                            <div class="ui-g-12 ui-md-12" >
                              <label style="color:#777">Notes</label>
                            </div>
                            <div class="ui-g-12 ui-md-12 md-inputfield">
                                <p-editor [(ngModel)]="model.notes" name="notes" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                                    <header>
                                        <select class="ql-size">
                                            <option value="small"></option>

                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                        </span>
                                    </header>
                                </p-editor>
                            </div>
                        </div>
                </p-panel><br />
                <p-panel header="Tracking List">
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="table-responsive" style="min-height:400px;">
                                  <!--<div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-auto-resize
                                  class="grid"></div>-->
                                  <p-dataTable [value]="TrackingList" [paginator]="true" rows="15" [responsive]="true">
                                      <p-column header="Date" field="startDate" sortable="true"></p-column>
                                      <p-column header="TestStage" field="testStageName" sortable="true"></p-column>
                                      <p-column header="Estimate Time" field="estimateDuration" sortable="true"></p-column>
                                      <p-column header="Actual Time" field="actualDuration" sortable="true"></p-column>
                                      <p-column header="Downtime" field="downTimeReason" sortable="true"></p-column>
                                      <p-column header="Notes" field="description" sortable="true"></p-column>
                                  </p-dataTable>
                              </div>
                          </div>
                      </div>
                  </div>
                </p-panel>
              </form>
            </p-tabPanel>

            <p-tabPanel header="Thermo Couple" id="timeentry">
                <div class="panel panel-default">
                    <div class="panel-heading">Sensor Info</div>
                    <div class="panel-body">
                        <div class="row">

                            <!--<div class="ui-g-12">
                                <div class="card card-w-title">
                                    <h1> Sensor Information </h1>-->
                            <div class="ui-grid-row">
                                <!--<a routerLink="add/{{id}}"><i class="fa ui-icon-add"></i>Add New Sensor Request</a>-->
                                <!--<a routerLink="edit/A70B5ABE-10AE-4D65-8667-F8ACECCF9987"><i class="fa ui-icon-edit"></i>Edit Test Facility</a>-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="table-responsive" style="min-height:400px;">
                                            <p-dataTable [value]="sensorRequests" [paginator]="true" rows="15" [responsive]="true">
                                                <p-column header="Sensor Name" field="name" sortable="true"></p-column>


                                                <p-column header="Comments" field="comment" sortable="true"></p-column>
                                                <p-column>
                                                    <template pTemplate type="header">
                                                        <button type="button" pButton icon="fa-refresh"></button>
                                                    </template>
                                                    <template let-sensorrow="rowData" pTemplate type="body">
                                                        <a routerLink="details/{{sensorrow.id}}/{{entityId}}"><i class="fa ui-icon-edit"></i>Edit</a>
                                                    </template>
                                                </p-column>

                                            </p-dataTable>
                                        </div>
                                    </div>


                                </div>
                                <!--<grid-data [gridData]="gridData"
                                   [cols]='cols'
                                   [confInfo]="confInfo"
                                   [dataService]="service"
                                   (navigateToDetails)="navigateDetails($event)"
                                   [title]="title"></grid-data>-->
                            </div>
                            <!--</div>


                            </div>-->
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Material Service Parts List" id="timeentry">
                <div class="panel panel-default">
                    <div class="panel-heading">Material Service Parts List</div>
                    <div class="panel-body">
                        <div class="table-responsive" style="min-height:400px;">
                            <!--<div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-auto-resize
                             class="grid"></div>-->
                            <p-dataTable [paginator]="true" rows="15" [responsive]="true">
                                <p-column header="PartNumber" sortable="true"></p-column>
                                <p-column header="DrawingNumber" sortable="true"></p-column>
                                <p-column header="Quantity Requested" sortable="true"></p-column>
                                <p-column header="Comments" sortable="true"></p-column>
                            </p-dataTable>
                        </div>
                        <button class="btn btn-success" pButton icon="ui-icon-add" label="Attachment">
                        </button>
                    </div>
                </div>
            </p-tabPanel>
             <p-tabPanel header="Log" id="log" headerStyleClass="log">
        <p-growl [value]="msgs"></p-growl>
        <form name="tForm2" enctype="application/x-www-form-urlencoded">
          <p-dialog header="Add Comment" [(visible)]="displayCommentDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400">
                  <div class="ui-grid-row">
                      <p-editor [(ngModel)]="comment" name="comment" [style]="{'height':'320px'}">
                          <header>
                              <select class="ql-size">
                                  <option value="small"></option>
                                  <!-- Note a missing, thus falsy value, is used to reset to default -->
                                  <option selected></option>
                                  <option value="large"></option>
                                  <option value="huge"></option>
                              </select>
                              <span class="ql-formats">
                                  <button class="ql-bold"></button>
                                  <button class="ql-italic"></button>
                                  <button class="ql-underline"></button>
                              </span>
                          </header>
                      </p-editor>
                  </div>
                  <footer>
                      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                          <button type="button" pButton icon="fa-close" (click)="displayCommentDialog=false" label="Cancel"></button>
                          <button type="button" pButton icon="ui-icon-comment" (click)="AddLogComment()" label="Add Comment"></button>
                      </div>
                  </footer>
              </p-dialog>
              <p-panel>
                  <header class="with-controls">
                      <p class="ui-panel-title">Log/Comment List</p>
                      <p class="controls">
                        <button pButton type="button" icon="ui-icon-add" label="Add Comment"
                              (click)="displayCommentDialog=true"></button>
                      </p>
                  </header>
                  <div class="ui-grid-col-2"></div>
                  <div class="ui-grid-row">


                      <div class="ui-grid-col-2"></div>
                      <p-dataTable [value]="equipmentLogComments" selectionMode="single"
                                   [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                          [responsive]="true">
                          <p-column field="event" header="Audit/Comment" sortable="true" [filter]="true"
                                    filterPlaceholder="Search">
                        </p-column>
                          <p-column field="comment" header="Information" sortable="true" [filter]="true"
                                    filterPlaceholder="Search">
                              <template let-col let-item="rowData" pTemplate="body">
                                  <div [innerHtml]="item.comment"></div>
                              </template>
                          </p-column>
                          <p-column field="employee" header="Employee" sortable="true" [filter]="true"
                                    filterPlaceholder="Search"></p-column>
                          <p-column field="createdOn" header="Timestamp" sortable="true"></p-column>
                      </p-dataTable>

                  </div>
                  <div class="ui-grid-col-2"></div>
            </p-panel>
        </form>



    </p-tabPanel>
        </p-tabView>
    </div>
</div>
</div>