<div class="ui-g-12">
    <h1 [innerHTML]="title"></h1>

    <a routerLink="add"><i class="fa ui-icon-add"></i>Add New Grade</a>
    <a routerLink="edit/A70B5ABE-10AE-4D65-8667-F8ACECCF9987">Edit Grade</a>

    <!--<p-dataTable [value]="gridData"
                 [lazy]="true"
                 [paginator]="true"
                 [rows]="5"
                 [totalRecords]="confInfo.TotalRecords"
                 (onLazyLoad)="loadFreshDepartments($event)">
        <p-column *ngFor="let col of cols" [field]="col.Field" [header]="col.Header" [sortable]="col.Sortable" [filter]="col.Filter" filterMatchMode="contains" [hidden]="col.Hidden"></p-column>


    </p-dataTable>-->
</div>