<div class="ui-g-12">
<p-breadcrumb [model]="breadcrumbs"></p-breadcrumb><br />
    <div class="card card-w-title">
    <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
        <h2> Add Shift </h2>
        <p-panel header="Information">
            <div class="body">
                <div class="ui-grid-row">
                    <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="name" id="name"  #shiftDetailsNameRef="ngModel" [(ngModel)]="name"
                                       minlength="3"  required style="width:100%">
                                <label>Shift Name <span >*</span></label>
                    </div>
                </div><br />
                <div class="ui-grid-row">

                    <div class="ui-grid-col-2">
                        Start Time *
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="startTime" name="startTime" pInputText [(ngModel)]="startTime" placeholder="Start Time" minlength="3"
                            #shiftDetailsStartTimeRef="ngModel" class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="shiftDetailsStartTimeRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsStartTimeRef.errors?.minlength">
                            MinLength-3

                        </div>
                    </div>
                </div><br />

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        End Time *
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" id="endTime" name="endTime" pInputText [(ngModel)]="endTime" placeholder="End Time" minlength="3" #shiftDetailsEndTimeRef="ngModel"
                            class="form-control" required />
                    </div>

                    <div class="ui-grid-col-4">

                        <div class="ui-grid-col-4" *ngIf="shiftDetailsEndTimeRef.errors?.required">
                            <!--<i class="fa fa-close"></i>-->

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="shiftDetailsEndTimeRef.errors?.minlength">
                            MinLength-3

                        </div>

                    </div>
                </div>
            </div><br />
            <footer>
                <button id="cancel" name="cancel"  pButton type="button" label="Cancel" routerLink="/admin/vehicle/shift"  class="blue-grey-btn"  icon="ui-icon-close">  </button>
                <button id="save" name="save"  pButton type="submit" [disabled]="!platformForm.valid" icon="ui-icon-save" label="Add" class="green-btn">  </button>
            </footer>
            <br />
        </p-panel>
    </form>
</div>
</div>