<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Edit Market</h1>
            <form #platformForm="ngForm" (ngSubmit)="onSubmit(platformForm.value)">
                <p-panel>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Market Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input type="text" id="username" name="username" pInputText [(ngModel)]="username" #usernameRef="ngModel" placeholder="Required"
                                    minlength="3" class="form-control" required />
                            </div>
                            <div class="ui-grid-col-4" *ngIf="usernameRef.errors?.required">
                                {{usernameRef.errors | json}} this field is required
                            </div>

                            <div class="ui-grid-col-4" *ngIf="usernameRef.errors?.minlength">
                                Minimum length is required {{usernameRef.errors.minlength.requiredLength}}.
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-2">
                                <button pButton type="submit" [disabled]="!platformForm.valid" label="Edit" icon="fa ui-icon-edit" iconPos="left"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                </p-panel>
            </form>
        </div>
    </div>
</div>