
<div class="ui-g-12">
    <div class="card card-w-title">
        <h1> Market </h1>

        <div class="ui-grid-row">
            <a routerLink="add"><i class="fa ui-icon-add"></i>Add New Market</a>

            <p-messages [value]="msgs"></p-messages>
            <grid-data [gridData]="gridData"
                       [cols]='cols'
                       [confInfo]="confInfo"
                       [dataService]="service"
                       (navigateToDetails)="navigateDetails($event)"
                       [title]="title"></grid-data>
        </div>
    </div>
</div>
