<div class="ui-g-12">
    <h1> Project Details </h1>

    <h4>Please fill out Project Information</h4>
    <form #projectForm>
        <p-panel *ngIf="ProjectDetails">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Project Code *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText
                               [(ngModel)]="ProjectDetails.code"
                               name="Code"
                               #CodeRef
                               placeholder="Required"
                               minlength="3"
                               maxlength="10"
                               class="form-control" required />
                    </div>
                    <div class="ui-grid-col-4" *ngIf="CodeRef.errors?.required">
                        {{CodeRef.errors | json}} this field is required
                    </div>

                    <div class="ui-grid-col-4" *ngIf="CodeRef.errors?.minlength">
                        Minimum length is required {{CodeRef.errors.minlength.requiredLength}}.
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Platform Name:
                    </div>
                    <div class="ui-grid-col-6">
                        <!--<p-dropdown [options]="platforms" [(ngModel)]="ProjectDetails.PlatformId" *ngIf="platforms"
                            filter="filter" name="platforms">
                            <template let-platform>
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:right;margin-top:4px">{{platform.name}}</div>
                                </div>
                            </template>
                        </p-dropdown>-->
                        <input type="text" pInputText
                               [(ngModel)]="ProjectDetails.platformName"
                               name="PlatformName"
                               #PlatformNameRef
                               class="form-control" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Planned Start Date:
                    </div>
                    <div class="ui-grid-col-6">
                        <p-calendar #PlannedStartDateRef [(ngModel)]="ProjectDetails.plannedStartDate"
                                    name="PlannedStartDate" showAnim="slideDown" [showIcon]="true"></p-calendar>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Planned End Date:
                    </div>
                    <div class="ui-grid-col-6">
                        <p-calendar #PlannedEndDateRef [(ngModel)]="ProjectDetails.plannedEndDate"
                                    name="PlannedEndDate" showAnim="slideDown" [showIcon]="true"></p-calendar>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Estimated Cost:
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="text" pInputText
                               [(ngModel)]="ProjectDetails.estimatedCost"
                               name="EstimatedCost"
                               #EstimatedCostRef
                               class="form-control" />
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Platform Description:
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea type="text"
                                  pInputTextArea
                                  class="form-control"
                                  name="description"
                                  #PlatformDescriptionRef
                                  row="20"
                                  [(ngModel)]="ProjectDetails.platformDescription"></textarea>
                    </div>


                    <!--<div class="ui-grid-col-4">{{ description | json }}</div>-->
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-2">
                        <button pButton type="submit" label="Save" icon="ui-icon-save" iconPos="left"
                                (click)="onSubmit()"></button>
                        <!--[disabled]="!projectForm.valid"-->
                    </div>
                    <div class="ui-grid-col-4"></div>
                </div>
                <!--<div style="text-align:center;margin-top:20px" *ngIf="submitted">
                    Form Submitted
                    <br>
                </div>-->
            </div>
        </p-panel>
    </form>

</div>

