<div class="ui-g-12">
    <!--<h1> Project Details </h1>-->
    <p-messages [value]="msgs"></p-messages>
    <!--<h4>Please fill out Project Information</h4>-->
    <form #projectForm>
        <p-panel header="Information" *ngIf="ProjectDetails" >
            <div class="body">
                <div class="ui-grid-row">
                  <div class="md-inputfield ui-g-12 ui-md-6">
                      <input type="text" pInputText name="name" id="name" [(ngModel)]="ProjectDetails.code" #CodeRef
                             minlength="3"  maxlength="10" required style="width:100%">
                      <label>Project Code *</label>
                  </div>
                  <div class="md-inputfield ui-g-12 ui-md-6">
                      <input type="text" pInputText name="EstimatedCost" id="EstimatedCost" [(ngModel)]="ProjectDetails.estimatedCost" #EstimatedCostRef
                             style="width:100%">
                      <label>Estimated Cost</label>
                  </div>
                </div>
                <div class="ui-grid-row">
                   <div class="ui-g-12 ui-md-6">
                       <p style="color:#777">Platform Name</p>
                      <p-dropdown [options]="platforms" (onChange)="onPlatformChange($event)" name="platforms" id="platforms" [(ngModel)]="selectedPlatformId"
                                  [style]="{'width':'100%'}"></p-dropdown>
                      
                  </div>
                  <div class="ui-g-12 ui-md-6">
                        <!--<p-dropdown [options]="markets" (onChange)="onMarketChange($event)" name="categories" id="categories"
                                     [style]="{'width':'100%'}"></p-dropdown>-->
                        <p style="color:#777">Market :</p>
                        <p-multiSelect [style]="{'width':'100%','color':'#777'}" [options]="markets" [(ngModel)]="selectedMarketId" (onChange)="onMarketChange($event)" name="markets" id="markets">

                        </p-multiSelect>
                        
                    </div>
                </div><br />
                <div class="ui-grid-row">
                    
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Grade :</p>
                        <p-dropdown [options]="grades" (onChange)="onGradeChange($event)" name="grades" id="grades"  [(ngModel)]="selectedGradeId"
                                     [style]="{'width':'100%'}"></p-dropdown>
                        
                    </div>
                    <div class="ui-g-12 ui-md-6">
                         <p style="color:#777">Model Name :</p>
                        <p-dropdown [options]="modelNames" (onChange)="onModelNameChange($event)" name="modelNames" id="modelNames"  [(ngModel)]="selectedModelNameId"
                                     [style]="{'width':'100%'}"></p-dropdown>
                       
                    </div>
                </div><br />
                <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-6">
                        <p style="color:#777">Model Year :</p>
                        <p-dropdown [options]="modelYears" (onChange)="onModelYearChange($event)" name="modelYears" id="modelYears"  [(ngModel)]="selectedModelYearId"
                                    [style]="{'width':'100%'}"></p-dropdown>
                        
                    </div>
                    
                </div><br /><br />
                <div class="ui-grid-row">
                  <div class="ui-g-12 ui-md-6 md-inputfield">
                    <p-calendar [(ngModel)]="ProjectDetails.plannedStartDate" name="plannedStartDate" id="plannedStartDate" [showIcon]="true" #PlannedStartDateRef></p-calendar>
                    <label>Planned Start Date :</label>
                  </div>
                  <div class="ui-g-12 ui-md-6 md-inputfield">
                    <p-calendar [(ngModel)]="ProjectDetails.plannedEndDate" name="PlannedEndDate" id="PlannedEndDate" [showIcon]="true" #PlannedEndDateRef></p-calendar>
                    <label>Planned End Date :</label>
                  </div>
                </div><br /><br />
                <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-6 md-inputfield">
                        <p-calendar [(ngModel)]="ProjectDetails.actualStartDate" name="actualStartDate" id="actualStartDate"  [showIcon]="true" #ActualStartDateRef></p-calendar>
                        <label>Actual Start Date :</label>
                    </div>
                    <div class="ui-g-12 ui-md-6 md-inputfield">
                        <p-calendar [(ngModel)]="ProjectDetails.actualEndDate" name="ActualEndDate" id="ActualEndDate" [showIcon]="true" #ActualEndDateRef></p-calendar>
                        <label>Actual End Date :</label>
                    </div>
                </div><br /><br />
                <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-12" >
                        <label style="color:#777">Description</label>
                      </div>
                      <div class="ui-g-12 ui-md-12 md-inputfield">
                          <p-editor [(ngModel)]="ProjectDetails.description" #PlatformDescriptionRef name="description"
                            id="description" [style]="{'min-height':'160px'}" placeholder="Max 500 characters. ">
                              <header>
                                  <select class="ql-size">
                                      <option value="small"></option>

                                      <option selected></option>
                                      <option value="large"></option>
                                      <option value="huge"></option>
                                  </select>
                                  <span class="ql-formats">
                                      <button class="ql-bold"></button>
                                      <button class="ql-italic"></button>
                                      <button class="ql-underline"></button>
                                  </span>
                              </header>
                          </p-editor>
                      </div>

                      <!--<div class="ui-grid-col-4">{{ description | json }}</div>-->
                  </div>
                  <footer>
                        <button pButton type="submit" label="Save" icon="ui-icon-save" iconPos="left"
                                (click)="onSubmit()" class="green-btn" id="save" name="save"></button>
                        <!--[disabled]="!projectForm.valid"-->
                  </footer><br />
                <!--<div style="text-align:center;margin-top:20px" *ngIf="submitted">
                    Form Submitted
                    <br>
                </div>-->
            </div>
        </p-panel>
    </form>

</div>
