
<div class="ui-g-12">
    <div class="card card-w-title">
        <h1> Project Status </h1>

        <div class="ui-grid-row">
            <a routerLink="add"><i class="fa ui-icon-add"></i>Add New Project Status</a>
            <div class="ui-message ui-messages-success ui-corner-all"><p-messages [value]="msgs"></p-messages></div>
          
            <grid-data [gridData]="gridData"
                       [cols]='cols'
                       [confInfo]="confInfo"
                       [dataService]="service"
                       (navigateToDetails)="navigateDetails($event)"
                       [title]="title"></grid-data>
        </div>
    </div>
</div>
