<div class="ui-g-12">
    <div class="card card-w-title">
        <form #testTemplateForm="ngForm" (ngSubmit)="onSubmit()">

            <h2> Create New Test Template</h2>
            <br />
            <p-panel header="Information">
                <div class="body" *ngIf="testTemplate">
                    <!--<div class="ui-grid-row body">-->

                    <div class="ui-grid-row">
                        <div class="md-inputfield ui-g-12 ui-md-6">
                            <input type="text" pInputText name="testTemplateName" #testTemplateNameRef="ngModel" [(ngModel)]="testTemplate.name"
                                   minlength="3"  required style="width:100%">
                            <label>Test Template Name <span >*</span></label>
                        </div>
                    </div>
                    <div class="ui-grid-row">

                        <p>Description <span >*</span></p>
                        <div class="md-inputfield">

                            <p-editor [(ngModel)]="testTemplate.description" name="testTemplateDescription" required
                                      [style]="{'min-height':'160px'}" placeholder="Max 500 characters. " #testTemplateDescriptionRef="ngModel" [(ngModel)]="testTemplate.description">
                                <header>
                                    <select class="ql-size">
                                        <option value="small"></option>
                                        <!-- Note a missing, thus falsy value, is used to reset to default -->
                                        <option selected></option>
                                        <option value="large"></option>
                                        <option value="huge"></option>
                                    </select>
                                    <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                        </span>
                                </header>
                            </p-editor>


                        </div>

                    </div>
                    <!--<div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Test Type:
                        </div>
                        <div class="ui-grid-col-10">
                            <p-dropdown [options]="testTypes" [(ngModel)]="testTemplate.testTypeId" [style]="{'width':'auto'}" (onChange)="onTestTypeChange()" name="testType">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Test Mode:
                        </div>
                        <div class="ui-grid-col-10">
                            <p-dropdown [options]="testModes" [(ngModel)]="testTemplate.testModeId"  (onChange)="onTestModeChange()" name="testMode">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Estimated Cost:
                        </div>
                        <div class="ui-grid-col-6">
                            <input type="number" name="estimatedCost" pInputText #estimatedCostRef="ngModel" [(ngModel)]="testTemplate.estimatedCost"
                                max="999999999999" placeholder="Estimated Cost" class="form-control" required />
                        </div>
                    </div>-->
                </div>
                <footer>
                    <p>* indicates required field</p>
                    <button pButton label="Cancel" class="blue-grey-btn" icon="ui-icon-close" routerLink="/testtemplate">  </button>
                    <button id="create" pButton type="submit" class="green-btn" icon="ui-icon-save" label="Add" [disabled]="!testTemplateForm.form.valid"></button>
                </footer>
                <br />
                <!--</div>-->
            </p-panel>
        </form>
    </div>
</div>
