<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
          <h2>Add Work Request</h2>
              <form #tfForm="ngForm" (ngSubmit)="onSubmit(tfForm.value)">
                  <p-panel header="Basic Information">
                    <div class="body">
                        <div class="ui-grid-row">
                            <div class="md-inputfield ui-g-12 ui-md-12">
                                <input type="text" pInputText name="title" id="title"  [(ngModel)]="workRequestTitle"
                                       minlength="3"  required style="width:100%">
                                <label>Work Request Title <span >*</span></label>
                            </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Project Code :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="projectCodes" [(ngModel)]="projectCodes" (onChange)="onProjectCodeChange($event)" name="projectCodes"  id="projectCodes">
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Build Levels :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="buildLevels" [(ngModel)]="buildLevels" (onChange)="onBuildLevelChange($event)" name="buildLevels"  id="buildLevels">
                              </p-dropdown>
                          </div>
                        </div>
                        <div class="ui-grid-row ">
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Vehicle :</p>
                              <p-dropdown   [style]="{'width':'100%','color':'#777'}" [options]="vehicle" [(ngModel)]="vehicle" (onChange)="onvehicleChange($event)" name="vehicle"  id="vehicle" >
                              </p-dropdown>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <p style="color:#777">Priority :</p>
                              <p-dropdown [style]="{'width':'100%','color':'#777'}" [options]="priority" [(ngModel)]="priority" (onChange)="onPriorityChange($event)" name="priority"  id="priority">
                              </p-dropdown>
                          </div>
                        </div><br /><br />
                        <div class="ui-grid-row " style="color:#777">
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <input type="text" pInputText name="priorityReason"  id="priorityReason" [(ngModel)]="priorityReason" style="width:100%">
                              <label>Priority Reason</label>
                            </div>
                            <div class="md-inputfield ui-g-12 ui-md-6">
                                <input type="text" pInputText name="personInCharge" id="personInCharge" [(ngModel)]="personInCharge" style="width:100%">
                                <label>Person In Charge</label>
                            </div>
                        </div><br /><br />
                        <div class="ui-grid-row " style="color:#777">
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="plannedStartDate" name="plannedStartDate" id="plannedStartDate"  [showIcon]="true"></p-calendar>
                              <label>Start Date :</label>
                            </div>
                            <div class="ui-g-12 ui-md-6 md-inputfield">
                              <p-calendar [(ngModel)]="plannedEndDate" name="plannedEndDate" id="plannedEndDate" [showIcon]="true" ></p-calendar>
                              <label>End Date :</label>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button pButton type="button" icon="ui-icon-close" label="Cancel" id="cancel" name="cancel" class="blue-grey-btn" routerLink="/workrequest"></button>
                        <button  pButton type="submit" icon="ui-icon-save" label="Add" id="save" name="save" [disabled]="!tfForm.valid" (click)="onTestRequestSubmit()" class="green-btn">  </button>
                    </footer>
                  </p-panel>
              </form>
        </div>
</div>
</div>
